Repository ppy/osu-framework, pull requests merged in 2019-06, with the labels that each got.

#2468 Fix iOS visual tests
  osu.Framework.Tests.iOS/osu.Framework.Tests.iOS.csproj
  osu.Framework.iOS.props
Labels: iOS, testing

#2467 Remove placeholders and simplify ModelBackedDrawable
  osu.Framework.Tests/Visual/Drawables/TestSceneModelBackedDrawable.cs
  osu.Framework.Tests/Visual/Drawables/TestSceneModelBackedDrawableWithLoading.cs
  osu.Framework/Graphics/Containers/DelayedLoadWrapper.cs
  osu.Framework/Graphics/Containers/ModelBackedDrawable.cs
Labels: drawable

#2341 Implement polygon clipping
  osu.Framework.Tests/Polygons/ConvexPolygonClippingTest.cs
  osu.Framework.Tests/Primitives/Vector2ExtensionsTest.cs
  osu.Framework.Tests/Visual/Drawables/TestSceneModelBackedDrawableWithLoading.cs
  osu.Framework/Graphics/Primitives/IPolygon.cs
  osu.Framework/Graphics/Primitives/Quad.cs
  osu.Framework/Graphics/Primitives/SimpleConvexPolygon.cs
  osu.Framework/Graphics/Vector2Extensions.cs
  osu.Framework/MathUtils/Clipping/ConvexPolygonClipper.cs
Labels: blocked, graphics

#2458 Tidy up some remaining loose ends in audio subsystem
  osu.Framework.Tests/Platform/TrackBassTest.cs
  osu.Framework/Audio/AdjustableAudioComponent.cs
  osu.Framework/Audio/AudioCollectionManager.cs
  osu.Framework/Audio/AudioManager.cs
  osu.Framework/Audio/Sample/SampleStore.cs
  osu.Framework/Bindables/AggregateBindable.cs
  osu.Framework/Game.cs
Labels: code quality

#2459 Seal audio components and change how TrackVirtual is instantiated/retrieved
  osu.Framework.Tests/Audio/AudioComponentTest.cs
  osu.Framework/Audio/AudioCollectionManager.cs
  osu.Framework/Audio/AudioManager.cs
  osu.Framework/Audio/Sample/SampleBass.cs
  osu.Framework/Audio/Sample/SampleChannelBass.cs
  osu.Framework/Audio/Sample/SampleStore.cs
  osu.Framework/Audio/Track/ISampleStore.cs
  osu.Framework/Audio/Track/ITrackStore.cs
  osu.Framework/Audio/Track/TrackBass.cs
  osu.Framework/Audio/Track/TrackStore.cs
  osu.Framework/Audio/Track/TrackVirtual.cs
  osu.Framework/Game.cs
Labels: audio

#2471 Fix ITrackStore interface returning a sealed class
  osu.Framework/Audio/Track/ITrackStore.cs
  osu.Framework/Audio/Track/TrackStore.cs
  osu.Framework/Game.cs
Labels: audio

#2472 Disallow Get operations from audio stores after disposal
  osu.Framework/Audio/Sample/SampleStore.cs
  osu.Framework/Audio/Track/TrackStore.cs
Labels: audio

#2475 Internalise Texture/TextureGL DrawX() methods
  osu.Framework/Graphics/Audio/WaveformGraph.cs
  osu.Framework/Graphics/Containers/BufferedContainer_DrawNode.cs
  osu.Framework/Graphics/Containers/CompositeDrawable_DrawNode.cs
  osu.Framework/Graphics/DrawNode.cs
  osu.Framework/Graphics/OpenGL/Textures/TextureGL.cs
  osu.Framework/Graphics/OpenGL/Textures/TextureGLAtlasWhite.cs
  osu.Framework/Graphics/OpenGL/Textures/TextureGLSingle.cs
  osu.Framework/Graphics/OpenGL/Textures/TextureGLSub.cs
  osu.Framework/Graphics/Shapes/Triangle.cs
  osu.Framework/Graphics/Sprites/SpriteDrawNode.cs
  osu.Framework/Graphics/Sprites/SpriteText_DrawNode.cs
  osu.Framework/Graphics/Textures/Texture.cs
Labels: graphics

#2477 Fix potential TextureWithRefCount test failure
  osu.Framework.Tests/Visual/Sprites/TestSceneTextures.cs
Labels: testing

#2317 Implement BufferedDrawNode as a wrapper for DrawNodes
  osu.Framework/Graphics/BufferedDrawNode.cs
  osu.Framework/Graphics/BufferedDrawNodeSharedData.cs
  osu.Framework/Graphics/Containers/BufferedContainer.cs
  osu.Framework/Graphics/Containers/BufferedContainer_DrawNode.cs
  osu.Framework/Graphics/DrawNode.cs
  osu.Framework/Graphics/IBufferedDrawable.cs
Labels: drawable, graphics, overdue

#2480 Add thread check to SpriteText's character computation method
  osu.Framework/Graphics/Sprites/SpriteText.cs
Labels: resolves issue

#2318 Implement a front-to-back prepass for early-z testing
  osu.Framework.Tests/Visual/Containers/TestSceneFrontToBack.cs
  osu.Framework.Tests/Visual/Sprites/TestSceneSmoothedEdges.cs
  osu.Framework/Configuration/FrameworkDebugConfig.cs
  osu.Framework/Graphics/Containers/BufferedContainer_DrawNode.cs
  osu.Framework/Graphics/Containers/CompositeDrawable_DrawNode.cs
  osu.Framework/Graphics/DrawNode.cs
  osu.Framework/Graphics/Lines/Path.cs
  osu.Framework/Graphics/OpenGL/DepthValue.cs
  osu.Framework/Graphics/OpenGL/GLWrapper.cs
  osu.Framework/Graphics/OpenGL/Textures/TextureGL.cs
  osu.Framework/Graphics/OpenGL/Textures/TextureGLSingle.cs
  osu.Framework/Graphics/OpenGL/Textures/TextureGLSub.cs
  osu.Framework/Graphics/OpenGL/Vertices/TexturedVertex2D.cs
  osu.Framework/Graphics/Shapes/Box.cs
  osu.Framework/Graphics/Shapes/Triangle.cs
  osu.Framework/Graphics/TexturedShaderDrawNode.cs
  osu.Framework/Graphics/Textures/Texture.cs
  osu.Framework/Platform/GameHost.cs
  osu.Framework/Resources/Shaders/sh_Texture2D.vs
Labels: drawable, graphics, overdue, pending review

#2483 Re-expose TextureGL.Bind() publicly
  osu.Framework/Graphics/OpenGL/Textures/TextureGL.cs
  osu.Framework/Graphics/OpenGL/Textures/TextureGLAtlasWhite.cs
  osu.Framework/Graphics/OpenGL/Textures/TextureGLSingle.cs
  osu.Framework/Graphics/OpenGL/Textures/TextureGLSub.cs
Labels: graphics

#2488 Fix ProxyDrawables not drawing at the correct depth
  osu.Framework.Tests/Visual/Drawables/TestSceneProxyDrawables.cs
  osu.Framework/Graphics/DrawNode.cs
  osu.Framework/Graphics/Drawable_ProxyDrawable.cs
  osu.Framework/Graphics/Shapes/Box.cs
Labels: graphics, regression

#2489 Fix boxes drawing interiors with additive blending or alpha func
  osu.Framework.Tests/Visual/Containers/TestSceneFrontToBackBox.cs
  osu.Framework/Graphics/Shapes/Box.cs
Labels: regression

#2490 Fix BufferedContainers being drawn with the wrong depth
  osu.Framework.Tests/Visual/Containers/TestSceneFrontToBack.cs
  osu.Framework/Graphics/Containers/BufferedContainer_DrawNode.cs
  osu.Framework/Graphics/Containers/CompositeDrawable_DrawNode.cs
  osu.Framework/Graphics/DrawNode.cs
  osu.Framework/Graphics/Drawable_ProxyDrawable.cs
Labels: graphics, regression

#2492 Disallow setting of a Box's texture
  osu.Framework/Graphics/Shapes/Box.cs
  osu.Framework/Graphics/Sprites/Sprite.cs
Labels: code quality, drawable

#2495 Give Button a sane default background colour
  osu.Framework/Graphics/UserInterface/Button.cs
Labels: user interface

#2497 Add toggle for input priority in manual input tests
  osu.Framework/Testing/ManualInputManagerTestScene.cs
Labels: testing

#2502 Fix colour being doubled for Paths
  osu.Framework/Graphics/Containers/BufferedContainer.cs
  osu.Framework/Graphics/Lines/Path.cs
Labels: regression

#2501 Fix paths using the incorrect texture/rounded texture shaders
  osu.Framework/Graphics/Lines/Path.cs
  osu.Framework/Graphics/Lines/Path_DrawNode.cs
Labels: resolves issue

#2396 Allow audio components to be wrapped as drawables
  osu.Framework.Tests/Resources/Samples/long.mp3
  osu.Framework.Tests/Resources/Samples/tone.wav
  osu.Framework.Tests/Visual/Audio/TestSceneSamples.cs
  osu.Framework.Tests/Visual/Audio/TestSceneTrack.cs
  osu.Framework/Audio/AudioAdjustments.cs
  osu.Framework/Graphics/Audio/DrawableAudioWrapper.cs
  osu.Framework/Graphics/Audio/DrawableSample.cs
  osu.Framework/Graphics/Audio/DrawableTrack.cs
  osu.Framework/Graphics/Containers/AudioContainer.cs
Labels: audio

#2503 Bypass front-to-back by default on iOS
  osu.Framework.iOS/IOSGameHost.cs
  osu.Framework/Platform/GameHost.cs
Labels: iOS

#2499 Return false if attempting to seek to end in TrackBass
  osu.Framework.Tests/Audio/TrackBassTest.cs
  osu.Framework/Audio/Track/TrackBass.cs
  osu.Framework/Audio/Track/Waveform.cs
Labels: resolves issue

#2504 Introduce IWindow interface on GameWindow
  osu.Framework.Tests/Visual/Platform/TestSceneFullscreen.cs
  osu.Framework.Tests/Visual/Platform/TestSceneSafeArea.cs
  osu.Framework.iOS/IOSGameWindow.cs
  osu.Framework/Game.cs
  osu.Framework/Graphics/OpenGL/GLWrapper.cs
  osu.Framework/Input/GameWindowTextInput.cs
  osu.Framework/Platform/GameHost.cs
  osu.Framework/Platform/GameWindow.cs
  osu.Framework/Platform/IWindow.cs
  osu.Framework/Platform/MacOS/MacOSTextInput.cs
Labels: code quality

#2505 Update osuTK NuGet to latest packages (1.0.101)
  osu.Framework.Android/osu.Framework.Android.csproj
  osu.Framework.iOS.props
  osu.Framework.iOS/osu.Framework.iOS.csproj
  osu.Framework/osu.Framework.csproj
Labels: libraries

#2506 Expose AvailableResolutions via IWindow
  osu.Framework/Platform/IWindow.cs
Labels: code quality

#2454 Kill process when game goes out of focus on android
  osu.Framework.Android/AndroidGameActivity.cs
  osu.Framework.Android/AndroidGameWindow.cs
  osu.Framework.Android/osu.Framework.Android.csproj
  osu.Framework/osu.Framework.csproj
Labels: android

#2516 Internalise vertex buffers
  osu.Framework/Graphics/OpenGL/Buffers/LinearVertexBuffer.cs
  osu.Framework/Graphics/OpenGL/Buffers/QuadVertexBuffer.cs
Labels: graphics

#2507 Allow providing a custom name for ThreadedTaskSchedulers
  osu.Framework/Graphics/Containers/CompositeDrawable.cs
  osu.Framework/Threading/ThreadedTaskScheduler.cs
Labels: code quality, testing

#2518 Remove all locking from GlobalPropertyManager
  osu.Framework/Graphics/Shaders/GlobalPropertyManager.cs
Labels: graphics, performance

#2517 Use uniform depth value when vertex depth is invalid
  osu.Framework/Graphics/Batches/VertexBatch.cs
  osu.Framework/Graphics/DrawNode.cs
  osu.Framework/Graphics/OpenGL/Buffers/VertexBuffer.cs
  osu.Framework/Graphics/OpenGL/GLWrapper.cs
  osu.Framework/Graphics/OpenGL/Textures/TextureGLSingle.cs
  osu.Framework/Graphics/OpenGL/Vertices/DepthWrappingVertex.cs
  osu.Framework/Graphics/OpenGL/Vertices/TexturedVertex2D.cs
  osu.Framework/Graphics/OpenGL/Vertices/VertexUtils.cs
  osu.Framework/Graphics/Shaders/GlobalProperty.cs
  osu.Framework/Graphics/Shaders/GlobalPropertyManager.cs
  osu.Framework/Graphics/Shaders/ShaderPart.cs
  osu.Framework/Resources/Shaders/sh_Backbuffer_Internal.h
  osu.Framework/Resources/Shaders/sh_Texture2D.vs
Labels: resolves issue

#2520 Move DrawFrameBuffer() to DrawNode
  osu.Framework/Graphics/BufferedDrawNode.cs
  osu.Framework/Graphics/Containers/BufferedContainer_DrawNode.cs
  osu.Framework/Graphics/DrawNode.cs
Labels: graphics

#2519 Migrate VisibilityContainer to use a bindable for state
  osu.Framework.Tests/Visual/Containers/TestSceneVisibilityContainer.cs
  osu.Framework.Tests/Visual/Drawables/TestSceneFocus.cs
  osu.Framework/Graphics/Containers/FocusedOverlayContainer.cs
  osu.Framework/Graphics/Containers/VisibilityContainer.cs
  osu.Framework/Graphics/Cursor/CursorContainer.cs
  osu.Framework/Graphics/Visualisation/DrawVisualiser.cs
  osu.Framework/Graphics/Visualisation/LogOverlay.cs
  osu.Framework/Graphics/Visualisation/TreeContainer.cs
Labels: code quality, user interface

#2521 Add BufferedContainerView to display a BufferedContainer elsewhere
  osu.Framework.Tests/Visual/Sprites/TestSceneBufferedContainerView.cs
  osu.Framework/Graphics/Containers/BufferedContainer.cs
  osu.Framework/Graphics/Containers/BufferedContainer_DrawNode.cs
  osu.Framework/Graphics/Sprites/BufferedContainerView.cs
Labels: resolves issue

#2522 Reduce PerformanceOverlay memory allocation by 100%
  osu.Framework/Graphics/Performance/FrameStatisticsDisplay.cs
  osu.Framework/Graphics/Performance/PerformanceOverlay.cs
Labels: performance

#2523 Tidy up some loose ends from FTB changes
  osu.Framework/Graphics/DrawNode.cs
  osu.Framework/Graphics/OpenGL/Textures/TextureGL.cs
  osu.Framework/Graphics/OpenGL/Textures/TextureGLSingle.cs
  osu.Framework/Graphics/OpenGL/Textures/TextureGLSub.cs
  osu.Framework/Graphics/OpenGL/Vertices/DepthWrappingVertex.cs
  osu.Framework/Graphics/Textures/Texture.cs
  osu.Framework/Resources/Shaders/sh_Backbuffer_Internal.h
Labels: graphics

#2524 Fix g_BackbufferDraw not being set on framebuffer unbinds
  osu.Framework/Graphics/OpenGL/GLWrapper.cs
Labels: graphics, regression

#2494 Throw an exception when TrackBass.Tempo is set to an unsupported value
  osu.Framework.Tests/Audio/TrackBassTest.cs
  osu.Framework/Audio/Track/Track.cs
  osu.Framework/Audio/Track/TrackBass.cs
Labels: resolves issue

#2530 Add null check for debug check and fallback to Calling assembly
  osu.Framework/Development/DebugUtils.cs
Labels: android

#2531 Set OnScreenKeyboardOverlapsGameWindow for Android
  osu.Framework.Android/AndroidGameHost.cs
Labels: android

#2533 Add relative path support to MarkdownContainer
  osu.Framework.Tests/Visual/UserInterface/TestSceneMarkdown.cs
  osu.Framework.Tests/Visual/UserInterface/TestSceneMarkdownContainer.cs
  osu.Framework/Graphics/Containers/Markdown/MarkdownContainer.cs
Labels: drawable, resolves issue

#2397 Make ScrollContainer more subclass friendly and add basic implementation
  osu.Framework.Tests/Visual/Containers/TestSceneScrollContainer.cs
  osu.Framework.Tests/Visual/Drawables/TestSceneDelayedLoad.cs
  osu.Framework.Tests/Visual/Drawables/TestSceneDelayedUnload.cs
  osu.Framework.Tests/Visual/Drawables/TestSceneProxyDrawables.cs
  osu.Framework.Tests/Visual/Drawables/TestSceneWaveform.cs
  osu.Framework.Tests/Visual/Layout/TestSceneScrollableFlow.cs
  osu.Framework.Tests/Visual/Platform/TestSceneResourceStores.cs
  osu.Framework.Tests/Visual/Sprites/TestSceneSpriteIcon.cs
  osu.Framework.Tests/Visual/Sprites/TestSceneSpriteText.cs
  osu.Framework.Tests/Visual/Sprites/TestSceneSpriteTextTruncate.cs
  osu.Framework.Tests/Visual/Sprites/TestSceneTextFlow.cs
  osu.Framework.Tests/Visual/UserInterface/TestSceneMarkdownContainer.cs
  osu.Framework/Graphics/Containers/BasicScrollContainer.cs
  osu.Framework/Graphics/Containers/Container.cs
  osu.Framework/Graphics/Containers/DelayedLoadWrapper.cs
  osu.Framework/Graphics/Containers/ScrollContainer.cs
  osu.Framework/Graphics/UserInterface/Menu.cs
  osu.Framework/Graphics/Visualisation/PropertyDisplay.cs
  osu.Framework/Graphics/Visualisation/TreeContainer.cs
  osu.Framework/Testing/Drawables/TestSceneButton.cs
  osu.Framework/Testing/TestBrowser.cs
  osu.Framework/Testing/TestScene.cs
Labels: code quality, user interface

#2536 Fix draw depth not being set for BufferedContainer vertices
  osu.Framework.Tests/Visual/Containers/TestSceneFrontToBackBufferedContainer.cs
  osu.Framework/Graphics/BufferedDrawNode.cs
  osu.Framework/Graphics/DrawNode.cs
Labels: graphics, regression

#2537 Fix path blending being removed too liberally
  osu.Framework.Tests/Visual/UserInterface/TestSceneDrawablePath.cs
  osu.Framework/Graphics/Lines/Path.cs
  osu.Framework/Graphics/Lines/Path_DrawNode.cs
Labels: graphics, regression

#2539 Fix key repeats sometimes being ignored
  osu.Framework/Input/InputManager.cs
Labels: input

#2543 Add logger override to hide output from console listeners
  osu.Framework/Logging/Logger.cs
Labels: logging

#2545 Add missing space in FillFlowContainer exception output
  osu.Framework/Graphics/Containers/FillFlowContainer.cs
Labels: code quality

#2544 Add logging for non-background resource retrievals
  osu.Framework/Graphics/Textures/TextureStore.cs
  osu.Framework/IO/Stores/DllResourceStore.cs
  osu.Framework/IO/Stores/IResourceStore.cs
  osu.Framework/IO/Stores/OnlineStore.cs
  osu.Framework/IO/Stores/StorageBackedResourceStore.cs
Labels: logging

#2546 Fix iOS not firing KeyEvent on software keyboard spacebar
  osu.Framework.iOS/Input/IOSKeyboardHandler.cs
Labels: iOS, input

#2547 Fix UI controls implementing IHasCurrentValue in an unsafe way
  osu.Framework.Tests/Visual/UserInterface/TestSceneCheckboxes.cs
  osu.Framework/Graphics/Sprites/SpriteText.cs
  osu.Framework/Graphics/UserInterface/Checkbox.cs
  osu.Framework/Graphics/UserInterface/CircularProgress.cs
  osu.Framework/Graphics/UserInterface/Dropdown.cs
  osu.Framework/Graphics/UserInterface/TabControl.cs
  osu.Framework/Graphics/UserInterface/TextBox.cs
Labels: bindable, bug, user interface

#2557 Reduce allocations for each TransformCustom ctor
  osu.Framework/Graphics/Transforms/TransformCustom.cs
  osu.Framework/MathUtils/Interpolation.cs
Labels: performance, transformations

#2560 Fix clamped scrollbars moving beyond the scroll bounds
  osu.Framework.Tests/Visual/Containers/TestSceneScrollContainer.cs
  osu.Framework/Graphics/Containers/BasicScrollContainer.cs
  osu.Framework/Graphics/Containers/ScrollContainer.cs
Labels: resolves issue

#2559 Reduce overhead of blocking resource store log events
  osu.Framework/Audio/Sample/SampleStore.cs
  osu.Framework/Development/DebugUtils.cs
  osu.Framework/IO/Stores/IResourceStore.cs
  osu.Framework/Platform/GameHost.cs
Labels: logging, performance

#2563 Add abstraction for menu's scroll container
  osu.Framework/Graphics/UserInterface/Menu.cs
Labels: user interface

#2554 Ensure iOS only ever uses one keyboard handler at a time
  SampleGame.iOS/Application.cs
  osu.Framework.Tests.iOS/Application.cs
  osu.Framework.iOS/IOSGameHost.cs
  osu.Framework.iOS/IOSGameView.cs
  osu.Framework.iOS/Input/IOSKeyboardHandler.cs
  osu.Framework.iOS/Input/IOSRawKeyboardHandler.cs
Labels: iOS, input

#2565 Fix TestBrowser's TextBox not receiving all key events
  osu.Framework/Testing/TestBrowser.cs
Labels: testing

#2370 Do not push a screen if the previous screen is not ValidForPush
  osu.Framework.Tests/Visual/UserInterface/TestSceneScreenStack.cs
  osu.Framework/Screens/ScreenStack.cs
Labels: screen

#2564 Ensure FocusedOverlayContainer can receive focus
  osu.Framework.Tests/Visual/Input/TestSceneHandleInput.cs
  osu.Framework.Tests/Visual/UserInterface/TestSceneFocusedOverlayContainer.cs
  osu.Framework/Graphics/Drawable.cs
Labels: bug, testing, user interface

#2569 Add ability to trigger textbox commits on focus loss
  osu.Framework.Tests/Visual/UserInterface/TestSceneTextBox.cs
  osu.Framework/Graphics/UserInterface/TextBox.cs
Labels: user interface

#2570 Fix tab control crashing with leased bindables
  osu.Framework.Tests/Visual/UserInterface/TestSceneTabControl.cs
  osu.Framework/Graphics/UserInterface/TabControl.cs
Labels: bug

#2574 Store a reference to Dropdown.ItemSource internally
  osu.Framework/Graphics/UserInterface/Dropdown.cs
Labels: code quality, user interface

#2572 Fix accessing disposed stream when a FileWebRequest 404s
  osu.Framework/IO/Network/WebRequest.cs
Labels: bug, network

#2571 Change ReadableString output to not include a joining character
  osu.Framework/Input/Bindings/KeyCombination.cs
Labels: input, user interface

#2578 Remove unnecessary hover handling in Dropdown
  osu.Framework/Graphics/UserInterface/Dropdown.cs
Labels: bug, user interface

#2580 Fix potential memory leaks with disposed DrawNodes
  osu.Framework.Tests/Visual/Drawables/TestSceneDrawNodeDisposal.cs
  osu.Framework/Graphics/Batches/VertexBatch.cs
  osu.Framework/Graphics/BufferedDrawNode.cs
  osu.Framework/Graphics/BufferedDrawNodeSharedData.cs
  osu.Framework/Graphics/Containers/BufferedContainer.cs
  osu.Framework/Graphics/Containers/CompositeDrawable_DrawNode.cs
  osu.Framework/Graphics/DrawNode.cs
  osu.Framework/Graphics/Lines/Path.cs
  osu.Framework/Graphics/OpenGL/Buffers/FrameBuffer.cs
  osu.Framework/Graphics/OpenGL/Buffers/VertexBuffer.cs
  osu.Framework/Graphics/Shaders/Shader.cs
  osu.Framework/Graphics/Shaders/ShaderManager.cs
  osu.Framework/Graphics/Shaders/ShaderPart.cs
Labels: graphics, regression

#2568 Make menu and related classes abstract
  osu.Framework.Tests/Visual/UserInterface/TestSceneTabControl.cs
  osu.Framework/Graphics/Cursor/ContextMenuContainer.cs
  osu.Framework/Graphics/UserInterface/BasicDropdown.cs
  osu.Framework/Graphics/UserInterface/BasicMenu.cs
  osu.Framework/Graphics/UserInterface/Dropdown.cs
  osu.Framework/Graphics/UserInterface/Menu.cs
Labels: code quality, user interface

#2585 Reduce size of texture atlases and allow automatic fallback
  osu.Framework/Graphics/OpenGL/GLWrapper.cs
  osu.Framework/Graphics/Textures/TextureAtlas.cs
  osu.Framework/Graphics/Textures/TextureStore.cs
Labels: graphics, memory

#2584 Allow nested FontStores to share a single texture atlas
  osu.Framework/Game.cs
  osu.Framework/Graphics/Textures/TextureStore.cs
  osu.Framework/IO/Stores/FontStore.cs
Labels: graphics, memory

#2586 Remove custom GC mode changing
  osu.Framework/Configuration/FrameworkDebugConfig.cs
  osu.Framework/Platform/GameHost.cs
Labels: code quality

#2587 Load debug overlays on demand rather than on startup
  osu.Framework/Game.cs
Labels: performance

#2588 Limit ImageSharp memory usage on memory constrained devices
  osu.Framework.Android/AndroidGameHost.cs
  osu.Framework.iOS/IOSGameHost.cs
  osu.Framework/Platform/GameHost.cs
Labels: memory

#2589 Handle iOS/android memory alerts and free any memory we can
  SampleGame.Android/Properties/AndroidManifest.xml
  SampleGame.Android/SampleGame.Android.csproj
  osu.Framework.Android/AndroidGameActivity.cs
  osu.Framework.Tests.Android/osu.Framework.Tests.Android.csproj
  osu.Framework.iOS/GameViewController.cs
Labels: android, iOS, memory

#2597 Create an abstract ToolWindow class for framework tool windows
  osu.Framework.Tests/Visual/Testing/TestSceneDrawVisualiser.cs
  osu.Framework/Graphics/FrameworkFont.cs
  osu.Framework/Graphics/UserInterface/Button.cs
  osu.Framework/Graphics/Visualisation/DrawVisualiser.cs
  osu.Framework/Graphics/Visualisation/PropertyDisplay.cs
  osu.Framework/Graphics/Visualisation/TitleBar.cs
  osu.Framework/Graphics/Visualisation/ToolWindow.cs
  osu.Framework/Graphics/Visualisation/TreeContainer.cs
  osu.Framework/Graphics/Visualisation/VisualisedDrawable.cs
  osu.Framework/Testing/Drawables/Sections/ToolbarRecordSection.cs
Labels: tooling, user interface

#2595 Centralise framework font specifications
  osu.Framework.Tests/Visual/Containers/TestSceneFrontToBack.cs
  osu.Framework.Tests/Visual/Sprites/TestSceneVideoSprite.cs
  osu.Framework/Graphics/UserInterface/BasicCheckbox.cs
  osu.Framework/Graphics/UserInterface/BasicDropdown.cs
  osu.Framework/Graphics/UserInterface/BasicMenu.cs
  osu.Framework/Graphics/UserInterface/BasicTextBox.cs
  osu.Framework/Graphics/UserInterface/Button.cs
  osu.Framework/Testing/Drawables/Sections/ToolbarAssemblySection.cs
  osu.Framework/Testing/Drawables/Sections/ToolbarRateSection.cs
  osu.Framework/Testing/Drawables/Sections/ToolbarRecordSection.cs
  osu.Framework/Testing/Drawables/TestSceneButton.cs
Labels: code quality
