Repository ppy/osu-framework, pull requests merged in 2019-04, with the labels that each got.

#2309 Refactor GridContainer for readability + correctness
  osu.Framework.Tests/Visual/Layout/TestCaseGridContainer.cs
  osu.Framework/Graphics/Containers/GridContainer.cs
Labels: drawable

#2310 Implement GridContainer dimension minimum size
  osu.Framework.Tests/Visual/Layout/TestCaseGridContainer.cs
  osu.Framework/Graphics/Containers/GridContainer.cs
Labels: drawable

#2313 Fix incorrect instantiation of BlendingInfo
  osu.Framework/Graphics/BlendingInfo.cs
  osu.Framework/Graphics/DrawColourInfo.cs
Labels: code quality

#2315 Add config manager default overrides
  osu.Framework.Tests/Configuration/FrameworkConfigManagerTest.cs
  osu.Framework.Tests/IO/TestDesktopStorage.cs
  osu.Framework.Tests/TemporaryNativeStorage.cs
  osu.Framework/Configuration/ConfigManager.cs
  osu.Framework/Configuration/FrameworkConfigManager.cs
  osu.Framework/Configuration/IniConfigManager.cs
  osu.Framework/Game.cs
  osu.Framework/Platform/GameHost.cs
Labels: configuration

#2319 Fix WebRequest concurrency test failing due to lack of list locking
  build/build.cake
  osu.Framework.Tests/IO/TestWebRequest.cs
Labels: testing

#2307 Update FontAwesome to version 5
  osu.Framework.Tests/Visual/Sprites/TestCaseSpriteIcon.cs
  osu.Framework/Game.cs
  osu.Framework/Graphics/Sprites/FontAwesome.cs
  osu.Framework/Graphics/Sprites/SpriteIcon.cs
  osu.Framework/IO/Stores/GlyphStore.cs
  osu.Framework/Resources/Fonts/FontAwesome/FontAwesome.bin
  osu.Framework/Resources/Fonts/FontAwesome/FontAwesome_0.png
  osu.Framework/Resources/Fonts/FontAwesome/FontAwesome_1.png
  osu.Framework/Resources/Fonts/FontAwesome/FontAwesome_2.png
  osu.Framework/Resources/Fonts/FontAwesome/FontAwesome_3.png
  osu.Framework/Resources/Fonts/FontAwesome/FontAwesome_4.png
  osu.Framework/Resources/Fonts/FontAwesome/FontAwesome_5.png
  osu.Framework/Resources/Fonts/FontAwesome5/FontAwesome-Brands.fnt
  osu.Framework/Resources/Fonts/FontAwesome5/FontAwesome-Brands_0.png
  osu.Framework/Resources/Fonts/FontAwesome5/FontAwesome-Brands_1.png
  osu.Framework/Resources/Fonts/FontAwesome5/FontAwesome-Brands_2.png
  osu.Framework/Resources/Fonts/FontAwesome5/FontAwesome-Brands_3.png
  osu.Framework/Resources/Fonts/FontAwesome5/FontAwesome-Regular.fnt
  osu.Framework/Resources/Fonts/FontAwesome5/FontAwesome-Regular_0.png
  osu.Framework/Resources/Fonts/FontAwesome5/FontAwesome-Regular_1.png
  osu.Framework/Resources/Fonts/FontAwesome5/FontAwesome-Solid.fnt
  osu.Framework/Resources/Fonts/FontAwesome5/FontAwesome-Solid_0.png
  osu.Framework/Resources/Fonts/FontAwesome5/FontAwesome-Solid_1.png
  osu.Framework/Resources/Fonts/FontAwesome5/FontAwesome-Solid_2.png
  osu.Framework/Resources/Fonts/FontAwesome5/FontAwesome-Solid_3.png
  osu.Framework/Resources/Fonts/FontAwesome5/FontAwesome-Solid_4.png
  osu.Framework/Resources/Fonts/FontAwesome5/FontAwesome-Solid_5.png
  osu.Framework/Resources/Fonts/FontAwesome5/FontAwesome-Solid_6.png
  osu.Framework/Resources/Fonts/FontAwesome5/FontAwesome-Solid_7.png
  osu.Framework/Resources/Fonts/FontAwesome5/FontAwesome-Solid_8.png
  osu.Framework/Testing/Drawables/TestCaseHeaderButton.cs
Labels: graphics

#2320 Fix vertex buffer + texture disposal issues
  osu.Framework/Graphics/Batches/VertexBatch.cs
  osu.Framework/Graphics/OpenGL/Textures/TextureGL.cs
  osu.Framework/Graphics/Textures/Texture.cs
  osu.Framework/Graphics/Textures/TextureWithRefCount.cs
Labels: resolves issue

#2311 Allow test label steps to be clicked to run sub-ranges
  osu.Framework/Testing/Drawables/Steps/LabelStep.cs
  osu.Framework/Testing/Drawables/Steps/StepButton.cs
  osu.Framework/Testing/TestBrowser.cs
  osu.Framework/Testing/TestCase.cs
Labels: testing

#2312 Ensure window size always follows min/max bindable constraints
  osu.Framework/Platform/DesktopGameWindow.cs
Labels: resolves issue

#2323 Correctly handle nvika/inspectcode return codes
  build/build.cake
  osu.Framework/Platform/DesktopGameWindow.cs
Labels: testing

#2329 Fix ColourInfo incorrectness
  osu.Framework/Graphics/Colour/ColourInfo.cs
Labels: graphics

#2326 Fix non-grouped test cases not showing up
  osu.Framework/Testing/Drawables/TestCaseButton.cs
  osu.Framework/Testing/Drawables/TestCaseButtonGroup.cs
  osu.Framework/Testing/DynamicClassCompiler.cs
  osu.Framework/Testing/TestBrowser.cs
  osu.Framework/Testing/TestCase.cs
Labels: testing

#2327 Fix TestBrowser potentially running too many steps
  osu.Framework/Testing/TestBrowser.cs
Labels: testing

#2328 Add ability to clear Depth and Stencil
  osu.Framework/Graphics/Containers/BufferedContainerDrawNode.cs
  osu.Framework/Graphics/OpenGL/ClearInfo.cs
  osu.Framework/Graphics/OpenGL/GLWrapper.cs
  osu.Framework/Platform/GameHost.cs
Labels: graphics

#2330 Remove extra GL clears
  osu.Framework/Platform/GameHost.cs
Labels: code quality, graphics

#2324 Replace SetDepthTest with stack-based depth information
  osu.Framework/Graphics/Lines/PathDrawNode.cs
  osu.Framework/Graphics/OpenGL/DepthInfo.cs
  osu.Framework/Graphics/OpenGL/GLWrapper.cs
Labels: graphics

#2332 Allow GridContainer to be autosized
  osu.Framework/Graphics/Containers/GridContainer.cs
  osu.Framework/Graphics/Containers/Markdown/MarkdownTable.cs
Labels: drawable

#2334 Add TableContainer as an extension of GridContainer
  osu.Framework.Tests/Visual/Layout/TestCaseTableContainer.cs
  osu.Framework/Graphics/Containers/TableContainer.cs
Labels: drawable

#2338 Use ComputeHash return value
  osu.Framework/Extensions/ExtensionMethods.cs
Labels: code quality

#2339 Optimise IConvexPolygon.Insersects
  osu.Framework/Extensions/PolygonExtensions/ConvexPolygonExtensions.cs
  osu.Framework/Extensions/PolygonExtensions/PolygonExtensions.cs
  osu.Framework/Graphics/Containers/DelayedLoadWrapper.cs
  osu.Framework/Graphics/Primitives/IPolygon.cs
  osu.Framework/Graphics/Primitives/ProjectionRange.cs
  osu.Framework/Graphics/Primitives/Quad.cs
Labels: performance

#2342 Fix dynamic compilation
  osu.Framework/Testing/DynamicClassCompiler.cs
Labels: resolves issue, testing

#2344 Add extension method to provide drawable adjustments
  osu.Framework/Graphics/DrawableExtensions.cs
Labels: code quality, drawable, proposal

#2346 Update TextBox design
  osu.Framework.Tests/Visual/UserInterface/TestCaseTextBox.cs
  osu.Framework/Graphics/UserInterface/BasicTextBox.cs
  osu.Framework/Graphics/UserInterface/TextBox.cs
  osu.Framework/Testing/TestBrowser.cs
Labels: user interface

#2351 Fix glClearDepth for embedded systems
  osu.Framework/Graphics/OpenGL/GLWrapper.cs
  osu.Framework/Platform/GameWindow.cs
Labels: iOS, regression

#2350 Replace public delegates with events in DynamicClassCompiler
  osu.Framework/Testing/DynamicClassCompiler.cs
  osu.Framework/Testing/TestBrowser.cs
Labels: code quality, proposal

#2352 Clamp scrollTo target to ClampExtension
  osu.Framework.Tests/Visual/Containers/TestCaseScrollContainer.cs
  osu.Framework/Graphics/Containers/ScrollContainer.cs
Labels: resolves issue

#2354 Fix visual unit tests never running
  osu.Framework.Tests/Visual/Testing/TestCaseTest.cs
  osu.Framework/Graphics/OpenGL/GLWrapper.cs
  osu.Framework/Testing/TestCase.cs
  osu.Framework/Testing/TestCaseTestRunner.cs
Labels: regression, testing

#2347 Prevent non-current screens from handling input
  osu.Framework.Tests/Visual/UserInterface/TestCaseScreenStack.cs
  osu.Framework/Graphics/Containers/CompositeDrawable.cs
  osu.Framework/Screens/ScreenStack.cs
Labels: resolves issue

#2335 Implement line-line intersections
  osu.Framework.Tests/Polygons/LineIntersections.cs
  osu.Framework/Graphics/Primitives/Line.cs
Labels: drawable

#2353 New checkbox design
  osu.Framework.Tests/Visual/UserInterface/TestCaseCheckboxes.cs
  osu.Framework/Graphics/UserInterface/BasicCheckbox.cs
  osu.Framework/Testing/Drawables/Sections/ToolbarAssemblySection.cs
Labels: user interface

#2348 Prevent OnUnbind from being invoked twice in TestScreens
  osu.Framework.Tests/Visual/UserInterface/TestCaseScreenStack.cs
Labels: resolves issue, testing

#2355 Fix OnExiting() triggering when not entered
  osu.Framework.Tests/Visual/UserInterface/TestCaseScreenStack.cs
  osu.Framework/Screens/ScreenStack.cs
Labels: bug, screen

#2361 Fix method hiding warning in FontAwesome
  osu.Framework/Graphics/Sprites/FontAwesome.cs
Labels: code quality

#2359 Fix incorrectness of composite clearing
  osu.Framework.Tests/Visual/Containers/TestCaseContainerState.cs
  osu.Framework.Tests/Visual/UserInterface/TestCaseScreenStack.cs
  osu.Framework/Graphics/Containers/CompositeDrawable.cs
  osu.Framework/Graphics/Drawable.cs
  osu.Framework/Screens/ScreenStack.cs
Labels: drawable

#2360 Fix screen unbind/disposal sometimes not happening
  osu.Framework.Tests/Visual/UserInterface/TestCaseScreenStack.cs
  osu.Framework/Screens/ScreenStack.cs
Labels: bug, screen

#2358 Add basic variant of menu and context menu
  osu.Framework.Tests/Visual/UserInterface/TestCaseContextMenu.cs
  osu.Framework.Tests/Visual/UserInterface/TestCaseNestedMenus.cs
  osu.Framework/Graphics/Cursor/BasicContextMenuContainer.cs
  osu.Framework/Graphics/UserInterface/BasicMenu.cs
Labels: user interface

#2356 Add new dropdown design
  osu.Framework.Tests/Visual/UserInterface/TestCaseDropdownBox.cs
  osu.Framework/Graphics/UserInterface/BasicDropdown.cs
Labels: user interface

#2363 Improve waveform testing + fix div-by-0
  osu.Framework.Tests/Visual/Drawables/TestCaseWaveform.cs
  osu.Framework/Audio/Track/Waveform.cs
Labels: bug, testing

#2364 Fix crash due to accessing still-available textures
  osu.Framework/Graphics/OpenGL/Textures/TextureGL.cs
  osu.Framework/Graphics/OpenGL/Textures/TextureGLSingle.cs
  osu.Framework/Graphics/OpenGL/Textures/TextureGLSub.cs
Labels: bug, graphics

#2373 Fix interpolating clock seek
  osu.Framework.Tests/Clocks/InterpolatingClockTest.cs
  osu.Framework/Timing/InterpolatingFramedClock.cs
Labels: clocks

#2374 Fix logger not outputting when running a consumer project under nUnit
  osu.Framework/Development/DebugUtils.cs
  osu.Framework/Platform/GameHost.cs
Labels: logging, testing

#2375 Move NUnitRunning to DebugUtils and improve entry assembly lookup
  osu.Framework.Tests/Visual/Testing/TestCaseTest.cs
  osu.Framework/Development/DebugUtils.cs
  osu.Framework/Platform/GameHost.cs
  osu.Framework/Testing/TestCase.cs
Labels: testing

#2314 Invert DrawNode application for composability
  osu.Framework.Tests/Visual/Containers/TestCaseCachedBufferedContainer.cs
  osu.Framework.Tests/Visual/Containers/TestCaseMasking.cs
  osu.Framework.Tests/Visual/Drawables/TestCaseHollowEdgeEffect.cs
  osu.Framework.Tests/Visual/Drawables/TestCaseTransformSequence.cs
  osu.Framework/Graphics/Audio/WaveformGraph.cs
  osu.Framework/Graphics/Containers/BufferedContainer.cs
  osu.Framework/Graphics/Containers/BufferedContainerDrawNode.cs
  osu.Framework/Graphics/Containers/BufferedContainer_DrawNode.cs
  osu.Framework/Graphics/Containers/CompositeDrawNode.cs
  osu.Framework/Graphics/Containers/CompositeDrawable.cs
  osu.Framework/Graphics/Containers/CompositeDrawable_DrawNode.cs
  osu.Framework/Graphics/Containers/Container.cs
  osu.Framework/Graphics/Containers/IContainer.cs
  osu.Framework/Graphics/Cursor/CursorContainer.cs
  osu.Framework/Graphics/DrawNode.cs
  osu.Framework/Graphics/Drawable.cs
  osu.Framework/Graphics/Drawable_ProxyDrawable.cs
  osu.Framework/Graphics/Effects/EdgeEffectParameters.cs
  osu.Framework/Graphics/Effects/EdgeEffectType.cs
  osu.Framework/Graphics/ICompositeDrawNode.cs
  osu.Framework/Graphics/IDrawable.cs
  osu.Framework/Graphics/ITexturedShaderDrawable.cs
  osu.Framework/Graphics/Lines/Path.cs
  osu.Framework/Graphics/Lines/PathDrawNode.cs
  osu.Framework/Graphics/Lines/Path_DrawNode.cs
  osu.Framework/Graphics/Lines/SmoothPath.cs
  osu.Framework/Graphics/Shapes/Triangle.cs
  osu.Framework/Graphics/Sprites/Sprite.cs
  osu.Framework/Graphics/Sprites/SpriteDrawNode.cs
  osu.Framework/Graphics/Sprites/SpriteText.cs
  osu.Framework/Graphics/Sprites/SpriteText_DrawNode.cs
  osu.Framework/Graphics/TexturedShaderDrawNode.cs
  osu.Framework/Graphics/TransformableExtensions.cs
  osu.Framework/Graphics/UserInterface/CircularProgress.cs
  osu.Framework/Graphics/UserInterface/CircularProgressDrawNode.cs
  osu.Framework/MathUtils/Interpolation.cs
Labels: drawable, graphics

#2379 Don't dispose drawnodes while being recorded
  osu.Framework/Graphics/DrawNode.cs
  osu.Framework/Testing/DrawFrameRecordingContainer.cs
  osu.Framework/Threading/AtomicCounter.cs
Labels: testing, tooling

#2378 Fix DrawVisualiser crashing on popout
  osu.Framework/Graphics/Visualisation/DrawVisualiser.cs
Labels: tooling

#2381 Fix decoupled backwards seek
  osu.Framework.Tests/Clocks/DecoupleableClockTest.cs
  osu.Framework.Tests/Clocks/TestClock.cs
  osu.Framework/Timing/DecoupleableInterpolatingFramedClock.cs
  osu.Framework/Timing/InterpolatingFramedClock.cs
Labels: clocks

#2377 Fix dynamic compilation not working for classes with generics
  osu.Framework/Testing/DynamicClassCompiler.cs
Labels: testing

#2376 Fix TestBrowser key bindings not working when an OverlayContainer is in the active test
  osu.Framework/Testing/TestBrowser.cs
Labels: testing

#2382 Fix android volume keys
  osu.Framework.Android/AndroidGameView.cs
Labels: android
