Repository ppy/osu-framework, pull requests merged in 2019-08, with the labels that each got.

#2712 Update cake
  build/cakebuild.csproj
Labels: tooling

#2722 Fix tab controls leaking memory
  osu.Framework/Graphics/UserInterface/TabControl.cs
Labels: memory

#2725 Implement URL opening for android
  osu.Framework.Android/AndroidGameHost.cs
Labels: android, resolves issue

#2730 Fix AsyncDisposalQueue potentially causing deadlocks
  osu.Framework.Tests/Visual/Containers/TestSceneContainerState.cs
  osu.Framework/Allocation/AsyncDisposalQueue.cs
Labels: drawable, regression, resolves issue

#2715 Move iOS native libraries to iOS project
  osu.Framework.iOS.props
  osu.Framework.iOS/libbass.a
  osu.Framework.iOS/libbass_fx.a
  osu.Framework.iOS/osu.Framework.iOS.csproj
Labels: iOS, libraries

#2718 Use indices when drawing Triangles
  osu.Framework.Tests/Visual/Sprites/TestSceneTexturedTriangle.cs
  osu.Framework/Graphics/Batches/TriangleBatch.cs
  osu.Framework/Graphics/Containers/CompositeDrawable_DrawNode.cs
  osu.Framework/Graphics/OpenGL/Textures/TextureGLSingle.cs
Labels: graphics, performance, resolves issue

#2731 Move Android native libs to osu.Framework.Android
  SampleGame.Android/SampleGame.Android.csproj
  osu.Framework.Android/arm64-v8a/libbass.so
  osu.Framework.Android/arm64-v8a/libbass_fx.so
  osu.Framework.Android/armeabi-v7a/libbass.so
  osu.Framework.Android/armeabi-v7a/libbass_fx.so
  osu.Framework.Tests.Android/osu.Framework.Tests.Android.csproj
Labels: android, libraries

#2724 Fix logs not being output on iOS/android deployments
  osu.Framework/Platform/DesktopGameHost.cs
  osu.Framework/Platform/GameHost.cs
Labels: android, iOS, logging

#2738 Implement implicit AutoSizeAxes for Animation
  osu.Framework.Tests/Visual/Sprites/TestSceneAnimation.cs
  osu.Framework/Graphics/Animations/Animation.cs
  osu.Framework/Graphics/Animations/DrawableAnimation.cs
  osu.Framework/Graphics/Animations/TextureAnimation.cs
Labels: drawable, size/L

#2742 Add temporary hotfix for deflate mod crashes on iOS
  osu.Framework/Graphics/OpenGL/Buffers/RenderBuffer.cs
Labels: iOS, regression, size/XS

#2744 Re-implement proper renderbuffer re-use
  osu.Framework/Graphics/OpenGL/Buffers/FrameBuffer.cs
  osu.Framework/Graphics/OpenGL/Buffers/RenderBuffer.cs
  osu.Framework/Graphics/OpenGL/GLWrapper.cs
Labels: graphics, size/M

#2747 Change CircularProgress' FillTo extension method to accept TransformSequences
  osu.Framework.Tests/Visual/UserInterface/TestSceneCircularProgress.cs
  osu.Framework/Graphics/UserInterface/CircularProgress.cs
Labels: size/M

#2591 Simplify waiting of reading pixels in TakeScreenshotAsync
  osu.Framework/Platform/GameHost.cs
Labels: code quality

#2746 Allow binding multiple textures for use in shaders
  osu.Framework.Tests/Visual/Sprites/TestSceneTextureUnit.cs
  osu.Framework/Graphics/OpenGL/GLWrapper.cs
  osu.Framework/Graphics/OpenGL/Textures/TextureGL.cs
  osu.Framework/Graphics/OpenGL/Textures/TextureGLAtlasWhite.cs
  osu.Framework/Graphics/OpenGL/Textures/TextureGLSingle.cs
  osu.Framework/Graphics/OpenGL/Textures/TextureGLSub.cs
  osu.Framework/Graphics/Shaders/Shader.cs
Labels: graphics, shader, size/S

#2755 Add note to README about ffmpeg requirement on linux
  README.md
Labels: size/XS

#2739 Fix potential nullref when selecting null tabs
  osu.Framework.Tests/Visual/UserInterface/TestSceneTabControl.cs
  osu.Framework/Graphics/UserInterface/TabControl.cs
Labels: size/XS

#2754 Fix context menus rendering out of bounds of container
  osu.Framework.Tests/Visual/UserInterface/TestSceneContextMenu.cs
  osu.Framework/Graphics/Cursor/ContextMenuContainer.cs
Labels: bug, resolves issue, size/S, user interface

#2756 Add safety measures for framebuffer/renderbuffer sizes
  osu.Framework/Graphics/OpenGL/Buffers/FrameBuffer.cs
  osu.Framework/Graphics/OpenGL/Buffers/RenderBuffer.cs
  osu.Framework/Graphics/OpenGL/GLWrapper.cs
  osu.Framework/Graphics/OpenGL/Textures/TextureGLSingle.cs
Labels: graphics, size/S

#2763 Fix DrawVisualiser failing to select elements due to positional offset
  osu.Framework/Game.cs
  osu.Framework/Graphics/Visualisation/DrawVisualiser.cs
Labels: regression, size/S, tooling

#2764 Fix stack overflow in TestSceneDrawVisualiser
  osu.Framework.Tests/Visual/Testing/TestSceneDrawVisualiser.cs
Labels: size/S, testing, tooling

#2766 Improve DrawVisualiser selection heuristics
  osu.Framework/Graphics/Visualisation/DrawVisualiser.cs
Labels: size/M, tooling

#2762 Improve robustness of DelayedLoadWrapper test to avoid random failures
  osu.Framework.Tests/Visual/Drawables/TestSceneDelayedLoadUnloadWrapper.cs
  osu.Framework.Tests/Visual/Drawables/TestSceneDelayedLoadWrapper.cs
Labels: size/M

#2758 Fix safe area containers causing potentially incorrect display
  osu.Framework.Tests/Visual/Containers/TestSceneSafeAreaContainer.cs
  osu.Framework/Graphics/Containers/SafeAreaContainer.cs
Labels: resolves issue, size/M

#2769 Expose method on checkbox that is fired when a user makes a change
  osu.Framework/Graphics/UserInterface/Checkbox.cs
Labels: size/S

#2770 Fix context menus not closing when their target is removed from the hierarchy
  osu.Framework/Graphics/Containers/DelayedLoadWrapper.cs
  osu.Framework/Graphics/Cursor/ContextMenuContainer.cs
  osu.Framework/Graphics/Drawable.cs
Labels: size/M, user interface

#2759 Fix TabControl overflow tabs getting stuck after hidden
  osu.Framework.Tests/Visual/UserInterface/TestSceneTabControl.cs
  osu.Framework/Graphics/UserInterface/TabControl.cs
  osu.Framework/Graphics/UserInterface/TabItem.cs
Labels: resolves issue, size/S, user interface

#2765 Fix incorrect colour sampling in border smoothing region
  osu.Framework.Tests/Visual/Drawables/TestSceneBorderSmoothing.cs
  osu.Framework/Graphics/Containers/Container.cs
  osu.Framework/Resources/Shaders/sh_TextureRounded.fs
  osu.Framework/Resources/Shaders/sh_Utils.h
Labels: graphics, resolves issue, size/L

#2772 Improve tooltip container to better support custom tooltips
  osu.Framework.Tests/Visual/UserInterface/TestSceneTooltip.cs
  osu.Framework/Graphics/Cursor/IHasAppearDelay.cs
  osu.Framework/Graphics/Cursor/IHasCustomTooltip.cs
  osu.Framework/Graphics/Cursor/IHasTooltip.cs
  osu.Framework/Graphics/Cursor/ITooltip.cs
  osu.Framework/Graphics/Cursor/ITooltipContentProvider.cs
  osu.Framework/Graphics/Cursor/TooltipContainer.cs
  osu.Framework/Graphics/Drawable.cs
Labels: size/L, user interface

#2774 Remove unnecessary / unused methods from ITooltip
  osu.Framework/Graphics/Cursor/ITooltip.cs
  osu.Framework/Graphics/Cursor/TooltipContainer.cs
Labels: size/S

#2777 Fix textboxes consuming media keys as input
  osu.Framework/Graphics/UserInterface/TextBox.cs
Labels: resolves issue, size/XS, user interface

#2771 Fix SafeAreaContainer padding not updating with transforms
  osu.Framework/Graphics/Containers/SafeAreaContainer.cs
Labels: size/XS

#2767 Removing BlendingInfo struct and allowing custom blending modes
  osu.Framework.Tests/Visual/Audio/TestSceneSamples.cs
  osu.Framework.Tests/Visual/Audio/TestSceneTrack.cs
  osu.Framework.Tests/Visual/Containers/TestSceneFrontToBackBox.cs
  osu.Framework.Tests/Visual/Drawables/TestSceneBlending.cs
  osu.Framework/Graphics/BlendingEquation.cs
  osu.Framework/Graphics/BlendingInfo.cs
  osu.Framework/Graphics/BlendingMode.cs
  osu.Framework/Graphics/BlendingParameters.cs
  osu.Framework/Graphics/BlendingType.cs
  osu.Framework/Graphics/Containers/BufferedContainer.cs
  osu.Framework/Graphics/Containers/BufferedContainer_DrawNode.cs
  osu.Framework/Graphics/Containers/CompositeDrawable_DrawNode.cs
  osu.Framework/Graphics/DrawColourInfo.cs
  osu.Framework/Graphics/Drawable.cs
  osu.Framework/Graphics/Effects/GlowEffect.cs
  osu.Framework/Graphics/Lines/Path_DrawNode.cs
  osu.Framework/Graphics/OpenGL/GLWrapper.cs
  osu.Framework/Graphics/Shapes/Box.cs
  osu.Framework/Graphics/Sprites/BufferedContainerView.cs
  osu.Framework/Graphics/UserInterface/Button.cs
  osu.Framework/Testing/Drawables/Steps/StepSlider.cs
Labels: size/L

#2782 Fix TextureAtlas not properly padding for edge smoothness
  osu.Framework/Graphics/Textures/Texture.cs
  osu.Framework/Graphics/Textures/TextureAtlas.cs
Labels: graphics, size/XS

#2778 Add the basic character glyph structure
  osu.Framework/IO/Stores/IGlyphStore.cs
  osu.Framework/Text/CharacterGlyph.cs
  osu.Framework/Text/ICharacterGlyph.cs
  osu.Framework/Text/ITexturedCharacterGlyph.cs
  osu.Framework/Text/ITexturedGlyphLookupStore.cs
Labels: graphics, size/L

#2780 Implement a TextBuilder to eventually replace SpriteText's manual layout
  osu.Framework.Tests/Text/TextBuilderTest.cs
  osu.Framework/Text/TextBuilder.cs
  osu.Framework/Text/TextBuilderGlyph.cs
Labels: graphics, size/XL

#2779 Implement IGlyphStore and ITexturedGlyphLookupStore
  osu.Framework.Tests/IO/FontStoreTest.cs
  osu.Framework.Tests/Visual/Sprites/TestSceneAnimation.cs
  osu.Framework/Graphics/Sprites/SpriteIcon.cs
  osu.Framework/Graphics/Sprites/SpriteText.cs
  osu.Framework/IO/Stores/FontStore.cs
  osu.Framework/IO/Stores/GlyphStore.cs
  osu.Framework/Text/TexturedCharacterGlyph.cs
Labels: graphics, size/L

#2781 Make SpriteText use the new TextBuilder layout system
  osu.Framework.Tests/Text/TextBuilderTest.cs
  osu.Framework.Tests/Visual/Sprites/TestSceneSpriteTextScenarios.cs
  osu.Framework/Graphics/Performance/FrameTimeDisplay.cs
  osu.Framework/Graphics/Sprites/SpriteText.cs
  osu.Framework/Graphics/Sprites/SpriteText_DrawNode.cs
  osu.Framework/Text/MultilineTextBuilder.cs
  osu.Framework/Text/TextBuilder.cs
  osu.Framework/Text/TruncatingTextBuilder.cs
Labels: graphics, size/XL

#2787 Remove y-offset from header button icons
  osu.Framework/Testing/Drawables/TestButton.cs
  osu.Framework/Testing/Drawables/TestGroupButton.cs
  osu.Framework/Testing/TestBrowser.cs
Labels: size/XS

#2753 Poll joystick events at each input thread iteration
  osu.Framework/Input/Handlers/Joystick/OsuTKJoystickHandler.cs
Labels: input, resolves issue, size/S

#2789 Add ability to adjust alpha on test
  osu.Framework.Tests/Visual/Drawables/TestSceneBorderSmoothing.cs
Labels: size/XS, testing

#2788 Clear window with opaque blackness
  osu.Framework.Tests/Visual/Sprites/TestSceneScreenshot.cs
  osu.Framework/Graphics/OpenGL/GLWrapper.cs
Labels: graphics, size/S

#2793 Call Handle in default case in TriggerEvent instead of returning false
  osu.Framework/Graphics/Drawable.cs
Labels: size/XS

#2797 Fix SampleBass potentially adding invalid memory pressure
  osu.Framework/Audio/Sample/SampleBass.cs
Labels: memory, resolves issue, size/S

#2798 Expose SampleManager's PlaybackConcurrency
  osu.Framework/Audio/Sample/SampleStore.cs
  osu.Framework/Audio/Track/ISampleStore.cs
Labels: audio, size/XS

#2800 Remove obsolete FontUsage/SpriteText parameters
  osu.Framework/Graphics/BlendingMode.cs
  osu.Framework/Graphics/Sprites/FontUsage.cs
  osu.Framework/Graphics/Sprites/SpriteText.cs
  osu.Framework/Lists/LockedWeakList.cs
  osu.Framework/Lists/WeakList.cs
  osu.Framework/Testing/TestScene.cs
Labels: code quality, size/M

#2801 Add documentation regarding multiline tab controls
  osu.Framework/Graphics/UserInterface/TabControl.cs
Labels: size/XS

#2786 Allow overlays to only block click events
  osu.Framework.Tests/Visual/UserInterface/TestSceneFocusedOverlayContainer.cs
  osu.Framework/Game.cs
  osu.Framework/Graphics/Containers/OverlayContainer.cs
  osu.Framework/Graphics/Cursor/TooltipContainer.cs
  osu.Framework/Graphics/Visualisation/DrawVisualiser.cs
  osu.Framework/Input/IHandleGlobalKeyboardInput.cs
  osu.Framework/Input/PlatformActionContainer.cs
  osu.Framework/Testing/TestBrowser.cs
Labels: size/M, user interface

#2802 Fix ProxyDrawable not correctly transferring LifetimeStart/LifetimeEnd
  osu.Framework.Tests/Visual/Drawables/TestSceneProxyDrawableLifetime.cs
  osu.Framework/Graphics/DrawNode.cs
  osu.Framework/Graphics/Drawable.cs
  osu.Framework/Graphics/Drawable_ProxyDrawable.cs
Labels: drawable, size/L

#2768 Add looping support for Sample Channels
  osu.Framework.Tests/Visual/Audio/TestSceneLoopingSample.cs
  osu.Framework/Audio/AudioComponent.cs
  osu.Framework/Audio/Sample/ISampleChannel.cs
  osu.Framework/Audio/Sample/SampleChannelBass.cs
  osu.Framework/Audio/Track/Track.cs
  osu.Framework/Graphics/Audio/DrawableSample.cs
Labels: audio, size/L

#2805 Ignore clicks outside the game window
  osu.Framework/Input/UserInputManager.cs
Labels: input, resolves issue, size/S

#2807 Add default extension handling to all SampleStores
  osu.Framework/Audio/AudioManager.cs
  osu.Framework/Audio/Sample/SampleStore.cs
  osu.Framework/Audio/Track/TrackStore.cs
Labels: audio, size/XS

#2803 Increase resolution of CircularProgress depending on radius
  osu.Framework/Graphics/UserInterface/CircularProgressDrawNode.cs
Labels: graphics, size/M

#2810 Fix nullrefs when clicking outside the window
  osu.Framework/Input/MouseButtonEventManager.cs
Labels: input, resolves issue, size/XS
