Repository ppy/osu-framework, pull requests merged in 2019-01, with the labels that each got.

#2058 Improve efficiency of iOS texture loading
  osu.Framework.iOS/Graphics/Textures/IOSTextureLoaderStore.cs
Labels: iOS, performance

#2051 Expose focused drawable
  osu.Framework/Input/InputManager.cs
Labels: input

#2055 Use ThreadLocal for ThreadSafety static properties.
  osu.Framework/Development/ThreadSafety.cs
Labels: performance

#2061 De-virtualize equality comparer
  osu.Framework/Configuration/Bindable.cs
Labels: bindable, performance

#1768 Set dropdown menu height explicitly
  osu.Framework.Tests/Visual/TestCaseDropdownBox.cs
  osu.Framework/Graphics/UserInterface/Menu.cs
Labels: pending review

#2066 Fix JIT errors on iOS in Waveform
  osu.Framework.iOS/Audio/IOSTrackManager.cs
  osu.Framework.iOS/Audio/IOSWaveform.cs
  osu.Framework/Audio/Track/TrackBass.cs
  osu.Framework/Audio/Track/TrackManager.cs
  osu.Framework/Audio/Track/Waveform.cs
Labels: audio, iOS

#2057 Fix framebuffer disposal
  osu.Framework/Graphics/OpenGL/Buffers/FrameBuffer.cs
  osu.Framework/Graphics/OpenGL/Buffers/RenderBuffer.cs
  osu.Framework/Graphics/OpenGL/GLWrapper.cs
Labels: bug

#2072 Provide new value to SliderBar.OnUserChange()
  osu.Framework/Graphics/UserInterface/SliderBar.cs
Labels: user interface

#2071 Implement IBindableNumber<T> and more BindableNumber<T> methods
  osu.Framework/Configuration/Bindable.cs
  osu.Framework/Configuration/BindableNumber.cs
  osu.Framework/Configuration/IBindable.cs
  osu.Framework/Configuration/IBindableNumber.cs
  osu.Framework/Graphics/UserInterface/SliderBar.cs
Labels: bindable, code quality

#2070 Add extra cancellation checks in Scheduler
  osu.Framework/Threading/Scheduler.cs
Labels: threading

#2078 Fix nunit DI errors not propagating correctly
  osu.Framework/Testing/TestCaseTestRunner.cs
Labels: dependency-injection, testing

#2079 Extend dependency injection with additional caching information
  osu.Framework.Tests/Dependencies/CachedAttributeTest.cs
  osu.Framework.Tests/Dependencies/DependencyContainerTest.cs
  osu.Framework.Tests/osu.Framework.Tests.csproj
  osu.Framework/Allocation/CacheInfo.cs
  osu.Framework/Allocation/CachedAttribute.cs
  osu.Framework/Allocation/DependencyActivator.cs
  osu.Framework/Allocation/DependencyContainer.cs
  osu.Framework/Allocation/IReadOnlyDependencyContainer.cs
  osu.Framework/Allocation/ResolvedAttribute.cs
  osu.Framework/Graphics/Containers/CompositeDrawable.cs
Labels: dependency-injection

#2080 Implement a container to automatically cache values from models
  osu.Framework.Tests/Visual/TestCaseBindingContainer.cs
  osu.Framework/Graphics/Containers/BindingContainer.cs
Labels: dependency-injection

#2083 Fix RenderBuffers not correctly being unbound
  osu.Framework/Graphics/OpenGL/Buffers/FrameBuffer.cs
Labels: resolves issue

#2090 Update osuTK version
  SampleGame.iOS/packages.config
  osu.Framework.Tests.iOS/packages.config
  osu.Framework.Tests/osu.Framework.Tests.csproj
  osu.Framework.iOS.props
  osu.Framework.iOS/osu.Framework.iOS.csproj
  osu.Framework/osu.Framework.csproj
Labels: libraries

#2091 Reduce constructor overhead of bindables
  osu.Framework/Configuration/Bindable.cs
  osu.Framework/Configuration/BindableList.cs
Labels: bindable, performance

#2092 Output web request failures
  osu.Framework/IO/Network/WebRequest.cs
Labels: network

#2093 Make appveyor artifacts use nuget nativelibs
  appveyor.yml
Labels: tooling

#2089 Fix automatic unbinding not running soon enough on async disposal
  osu.Framework.Tests/Bindables/BindableBindingTest.cs
  osu.Framework/Graphics/Containers/CompositeDrawable.cs
  osu.Framework/Graphics/Drawable.cs
Labels: drawable, resolves issue

#2096 Handle input on Screen only when its content propagates input
  osu.Framework/Screens/Screen.cs
Labels: input, resolves issue

#2094 Remove tag build rule for native deploy
  appveyor_native_deploy.yml
Labels: tooling

#2098 Suppress WebRequest logging for non-text response
  osu.Framework/IO/Network/WebRequest.cs
Labels: logging, resolves issue

#2099 Switch Xamarin.iOS startup projects to PackageReference style
  SampleGame.iOS/SampleGame.iOS.csproj
  SampleGame.iOS/packages.config
  osu.Framework.Tests.iOS/osu.Framework.Tests.iOS.csproj
  osu.Framework.Tests.iOS/packages.config
  osu.Framework.iOS.props
Labels: code quality, iOS

#2086 Refactored Bass Callbacks
  osu-framework.iOS.sln.DotSettings
  osu-framework.sln.DotSettings
  osu.Framework.Tests.iOS/Linker.xml
  osu.Framework.Tests.iOS/osu.Framework.Tests.iOS.csproj
  osu.Framework.Tests/Visual/TestCaseWaveform.cs
  osu.Framework.iOS/Audio/IOSAudioManager.cs
  osu.Framework.iOS/Audio/IOSDataStreamFileProcedures.cs
  osu.Framework.iOS/Audio/IOSSampleBass.cs
  osu.Framework.iOS/Audio/IOSSampleManager.cs
  osu.Framework.iOS/Audio/IOSTrackBass.cs
  osu.Framework.iOS/Audio/IOSTrackManager.cs
  osu.Framework.iOS/Audio/IOSWaveform.cs
  osu.Framework.iOS/IOSGameHost.cs
  osu.Framework/Allocation/ObjectHandle.cs
  osu.Framework/Audio/AudioManager.cs
  osu.Framework/Audio/Callbacks/BassCallback.cs
  osu.Framework/Audio/Callbacks/DataStreamFileProcedures.cs
  osu.Framework/Audio/Callbacks/FileCallbacks.cs
  osu.Framework/Audio/Callbacks/IFileProcedures.cs
  osu.Framework/Audio/Callbacks/SyncCallback.cs
  osu.Framework/Audio/Sample/SampleBass.cs
  osu.Framework/Audio/Sample/SampleManager.cs
  osu.Framework/Audio/Track/TrackBass.cs
  osu.Framework/Audio/Track/TrackManager.cs
  osu.Framework/Audio/Track/Waveform.cs
  osu.Framework/Game.cs
  osu.Framework/Graphics/Transforms/TransformCustom.cs
  osu.Framework/Platform/GameHost.cs
  osu.Framework/Platform/MonoPInvokeCallbackAttribute.cs
  osu.Framework/RuntimeInfo.cs
  osu.Framework/Testing/TestBrowser.cs
Labels: compatibility, mobile

#2112 Expose a method of determining whether an on-screen keyboard may block the game window
  osu.Framework.iOS/IOSGameHost.cs
  osu.Framework/Platform/GameHost.cs
Labels: iOS

#2115 Add a flag denoting whether the GameHost can exit or not
  osu.Framework.iOS/IOSGameHost.cs
  osu.Framework/Platform/GameHost.cs
Labels: compatibility

#2020 Add optimized container for when alive children are much fewer than all children
  osu.Framework.Tests/Visual/TestCaseLifetimeManagementContainer.cs
  osu.Framework/Graphics/Containers/CompositeDrawable.cs
  osu.Framework/Graphics/Containers/LifetimeManagementContainer.cs
  osu.Framework/Graphics/Drawable.cs
  osu.Framework/Statistics/FrameStatistics.cs
  osu.Framework/Threading/UpdateThread.cs
Labels: pending review, performance

#2102 Leased bindables
  osu-framework.sln.DotSettings
  osu.Framework.Tests/Bindables/BindableLeasingTest.cs
  osu.Framework/Configuration/Bindable.cs
  osu.Framework/Configuration/LeasedBindable.cs
Labels: bindable

#2128 Drop Float flag from audio stream creation
  osu.Framework/Audio/Track/TrackBass.cs
Labels: audio
