Repository ppy/osu-framework, pull requests merged in 2019-09, with the labels that each got.

#2818 Add attribute to mark visual tests that should only run via nUnit
  osu.Framework.Tests/Containers/TestSceneCompositeMutability.cs
  osu.Framework.Tests/Containers/TestSceneContainerState.cs
  osu.Framework.Tests/Containers/TestSceneLoadComponentAsync.cs
  osu.Framework.Tests/Sprites/TestSceneSpriteTextPresence.cs
  osu.Framework/Testing/HeadlessTestAttribute.cs
  osu.Framework/Testing/TestBrowser.cs
Labels: size/M

#2821 Fix incorrect working directory when a nuget framework consumer is consumed by another project
  osu.Framework/Development/DebugUtils.cs
Labels: size/XS

#2820 Add an option to not redraw BufferedContainers on scale change
  osu.Framework.Tests/Visual/Containers/TestSceneCachedBufferedContainer.cs
  osu.Framework/Graphics/BufferedDrawNode.cs
  osu.Framework/Graphics/Containers/BufferedContainer.cs
  osu.Framework/Statistics/FrameStatistics.cs
  osu.Framework/Threading/DrawThread.cs
Labels: graphics, performance, size/M

#2816 Fix BindableFloat.IsDefault returning true for non-default values
  osu.Framework.Tests/Bindables/BindableDoubleTest.cs
  osu.Framework.Tests/Bindables/BindableFloatTest.cs
  osu.Framework/Bindables/BindableDouble.cs
  osu.Framework/Bindables/BindableFloat.cs
Labels: size/XS

#2822 Implement MaxWidth for SpriteText
  osu.Framework.Tests/Visual/Sprites/TestSceneSpriteTextMaxWidth.cs
  osu.Framework/Graphics/Sprites/SpriteText.cs
Labels: drawable, size/L

#2825 Ensure newlines in a config value do not pollute config file
  osu.Framework/Configuration/IniConfigManager.cs
Labels: size/XS

#2726 Expose VisibilityContainer UpdateState as protected virtual
  osu.Framework/Graphics/Containers/VisibilityContainer.cs
Labels: size/S, user interface

#2826 Use Precision.AlmostEquals for checking BindableNumber.IsDefault
  osu.Framework.Tests/Bindables/BindableDoubleTest.cs
  osu.Framework.Tests/Bindables/BindableFloatTest.cs
  osu.Framework/Bindables/BindableDouble.cs
  osu.Framework/Bindables/BindableFloat.cs
Labels: bindable, regression, size/S

#2828 Fix RenderBuffers disposing on the wrong thread
  osu.Framework/Graphics/BufferedDrawNodeSharedData.cs
Labels: graphics, size/XS

#2581 Use separate input queue for each KeyBinding
  osu.Framework.Tests/Visual/Input/TestSceneKeyBindingInputQueueChange.cs
  osu.Framework/Input/Bindings/KeyBindingContainer.cs
Labels: input

#2830 Add Expire argument to TransformSequence helper method
  osu.Framework/Graphics/TransformSequenceExtensions.cs
Labels: code quality, size/XS

#2834 Specify Rider analysis rules explicitly
  osu-framework.Android.sln.DotSettings
  osu-framework.iOS.sln.DotSettings
  osu-framework.sln.DotSettings
Labels: code quality, size/S

#2833 Handle Repeat attribute in TestBrowser
  osu.Framework.Tests/Visual/Testing/TestSceneTest.cs
  osu.Framework/Testing/TestBrowser.cs
Labels: size/M, testing

#2838 Fix TriggerPressed/TriggerReleased crashing with null keybindings
  osu.Framework.Tests/Visual/Input/TestSceneKeyBindingContainer.cs
  osu.Framework.Tests/Visual/Input/TestSceneKeyBindingsGrid.cs
  osu.Framework/Input/Bindings/KeyBindingContainer.cs
Labels: input, resolves issue, size/M

#2841 Improve output of exceptions thrown during dependency injection
  osu.Framework.Tests/Exceptions/TestSceneDependencyInjectionExceptions.cs
  osu.Framework/Allocation/BackgroundDependencyLoaderAttribute.cs
  osu.Framework/Allocation/DependencyActivator.cs
  osu.Framework/Allocation/DependencyContainer.cs
  osu.Framework/Graphics/Containers/CompositeDrawable.cs
  osu.Framework/Platform/GameHost.cs
  osu.Framework/Testing/Drawables/Steps/StepButton.cs
  osu.Framework/Testing/TestSceneTestRunner.cs
Labels: dependency-injection, resolves issue, size/L

#2840 Fix silent tracks after changing audio device
  osu.Framework/Audio/Track/TrackBass.cs
Labels: audio, resolves issue, size/XS

#2824 Fix android native libraries not being copied correctly on first build
  osu.Framework.Android/osu.Framework.Android.csproj
Labels: android

#2842 Fix Quad.ConservativeArea being inaccurate in some cases
  osu.Framework.Tests/Primitives/QuadTest.cs
  osu.Framework/Graphics/OpenGL/Textures/TextureGLSingle.cs
  osu.Framework/Graphics/Primitives/Quad.cs
  osu.Framework/Graphics/Vector2Extensions.cs
Labels: bug, graphics, performance, size/L, tooling

#2843 Remove obsolete TestScene methods
  osu.Framework/Testing/TestScene.cs
Labels: code quality, size/XS, testing

#2844 Limit DrawVisualiser scope when clicking in tests
  osu.Framework/Testing/DrawFrameRecordingContainer.cs
Labels: size/S, testing, tooling

#2849 Fix blending method potentially dividing by zero
  osu.Framework/Resources/Shaders/sh_Utils.h
Labels: size/XS

#2853 Remove not needed native library includes.
  SampleGame.Android/SampleGame.Android.csproj
  osu.Framework.Tests.Android/osu.Framework.Tests.Android.csproj
Labels: code quality, size/S

#2855 Always show test group headers
  osu.Framework/Testing/Drawables/TestGroupButton.cs
Labels: size/S, testing

#2851 Fix some android keyboards not working correctly
  osu.Framework.Android/Input/AndroidKeyboardHandler.cs
  osu.Framework.Android/Input/AndroidTextInput.cs
Labels: android, input, resolves issue, size/L

#2848 Fix blocking exit in an intermediary screen during MakeCurrent failing to resume
  osu.Framework.Tests/Visual/UserInterface/TestSceneScreenStack.cs
  osu.Framework/Screens/ScreenStack.cs
Labels: screen, size/M

#2866 Update MSBuild.Sdk.Extras
  global.json
  osu.Framework.Android/osu.Framework.Android.csproj
  osu.Framework.iOS/osu.Framework.iOS.csproj
Labels: dependencies, size/XS

#2870 Adjust vertex batching for modern-day use cases
  osu.Framework/Graphics/Containers/CompositeDrawable_DrawNode.cs
  osu.Framework/Graphics/OpenGL/Textures/TextureGLSingle.cs
Labels: graphics, performance, size/S

#2869 Refactor VertexBatch for readability
  osu.Framework/Graphics/Batches/VertexBatch.cs
Labels: code quality, size/M
