Repository ppy/osu-framework, pull requests merged in 2020-12, with the labels that each got.

#4045 Fix DPI scaling not working correctly when running under SDL2
  osu.Framework/Platform/SDL2DesktopWindow.cs
Labels: area:platform, size/S

#4058 Manually set DPI aware on windows to fix SDL not handling correctly
  osu.Framework/Platform/Windows/WindowsWindow.cs
Labels: platform:windows, size/S

#4059 Standardise naming of SDL2 references
  osu.Framework/Platform/Linux/LinuxGameHost.cs
  osu.Framework/Platform/Linux/OsuTKLinuxWindow.cs
  osu.Framework/Platform/Linux/SDL2/SDL2Clipboard.cs
  osu.Framework/Platform/SDL2/SDL2ControllerBindings.cs
  osu.Framework/Platform/SDL2/SDL2Extensions.cs
  osu.Framework/Platform/SDL2/SDL2GraphicsBackend.cs
  osu.Framework/Platform/SDL2DesktopWindow.cs
Labels: size/M, type:code-quality

#4056 Fix SDL2 window restore event not being forwarded to active state
  osu.Framework/Platform/SDL2DesktopWindow.cs
Labels: platform:windows, size/XS

#4057 Fix some exceptions potentially leading to deadlocked process
  osu.Framework/Allocation/AsyncDisposalQueue.cs
  osu.Framework/Platform/GameHost.cs
Labels: area:threading, size/M

#4064 Update SDL2-CS with bundled linux binaries
  osu.Framework/Platform/Linux/SDL2/SDL2Clipboard.cs
  osu.Framework/osu.Framework.csproj
Labels: area:libraries, size/XS

#4063 Fix borderless size being based on a potentially outdated value
  osu.Framework/Platform/SDL2DesktopWindow.cs
Labels: area:platform, size/XS

#4062 Fix switching fullscreen resolutions potentially resulting in incorrect render resolution
  osu.Framework/Platform/SDL2DesktopWindow.cs
Labels: area:platform, size/S

#4013 Rewrite GLWrapper's scheduled disposal logic to avoid delegate allocations
  osu.Framework/Graphics/OpenGL/GLWrapper.cs
Labels: size/M, type:performance

#4072 Fix startup crash on older windows releases
  osu.Framework/Platform/Windows/WindowsWindow.cs
Labels: platform:windows, size/S, type:reliability

#4048 Fix crash when AudioCollectionManager is modified on disposal
  osu.Framework.Tests/Audio/AudioCollectionManagerTest.cs
  osu.Framework/Audio/AudioCollectionManager.cs
Labels: area:audio, size/M

#4065 Remove disposed pool statistics from global statistics
  osu.Framework/Graphics/Pooling/DrawablePool.cs
  osu.Framework/Statistics/GlobalStatistics.cs
Labels: area:tooling, size/S

#4077 Improve support for disabled dropdowns
  osu.Framework.Tests/Visual/UserInterface/TestSceneDropdown.cs
  osu.Framework/Graphics/UserInterface/Dropdown.cs
  osu.Framework/Graphics/UserInterface/DropdownHeader.cs
Labels: area:UI, size/L

#4075 Support NumLock in SDL key mapping function
  osu.Framework/Platform/SDL2/SDL2Extensions.cs
  osu.Framework/RuntimeInfo.cs
Labels: area:input, size/S

#4073 Fix mouse polling on maximised SDL window calculating incorrectly
  osu.Framework/Platform/SDL2DesktopWindow.cs
Labels: area:platform, size/XS

#4080 Fix borderless fullscreen unexpectedly running in exclusive mode on windows
  osu.Framework/Platform/SDL2DesktopWindow.cs
  osu.Framework/Platform/Windows/WindowsWindow.cs
Labels: area:platform, platform:windows, size/M

#3873 Add support for approximating B-splines
  osu.Framework.Tests/MathUtils/TestPathApproximator.cs
  osu.Framework/Utils/PathApproximator.cs
Labels: area:graphics, size/M

#4076 Fix window getting moved out-of-place while in maximised state
  osu.Framework/Platform/SDL2DesktopWindow.cs
Labels: area:platform, size/S

#4084 Fix ScreenStack getting into an invalid state if a push fails due to load state
  osu.Framework.Tests/Visual/UserInterface/TestSceneScreenStack.cs
  osu.Framework/Screens/ScreenStack.cs
Labels: area:screens, size/S

#4085 Fix maximised window position and size being saved to config
  osu.Framework/Platform/SDL2DesktopWindow.cs
Labels: area:platform, size/XS

#4090 Add back MIDI input handler for SDL2 window
  osu.Framework/Platform/DesktopGameHost.cs
Labels: area:input, size/XS

#4094 Rename a few members in SDL2DesktopWindow for readability
  osu.Framework/Platform/SDL2DesktopWindow.cs
Labels: area:platform, size/M, type:code-quality

#4093 Fix continuous resize events no longer handled
  osu.Framework/Platform/SDL2DesktopWindow.cs
Labels: area:platform, size/M

#4092 Fix window size doubling up every startup on macOS retina displays
  osu.Framework/Platform/SDL2DesktopWindow.cs
Labels: area:platform, platform:macOS, size/S

#4096 Explicitly request compatibility profile
  osu.Framework/Platform/SDL2/SDL2GraphicsBackend.cs
Labels: area:graphics, size/XS

#4095 Fix zero-length repeat delegates ignoring initial delay
  osu.Framework.Tests/Threading/SchedulerTest.cs
  osu.Framework/Threading/Scheduler.cs
Labels: size/M

#4100 Fix potential bloom shader compile errors
  osu.Framework/Resources/Shaders/sh_Bloom.fs
Labels: size/M

#4101 Add more platform actions for tab management
  osu.Framework/Input/PlatformActionContainer.cs
  osu.Framework/Platform/GameHost.cs
  osu.Framework/Platform/MacOS/MacOSGameHost.cs
Labels: area:input, size/S

#4099 Fix multiple remaining issues with window state changes
  osu.Framework/Platform/SDL2/SDL2Extensions.cs
  osu.Framework/Platform/SDL2DesktopWindow.cs
Labels: area:platform, size/M

#4105 Fix display changing on transition to borderless on Windows
  osu.Framework/Platform/Windows/WindowsWindow.cs
Labels: area:platform, platform:windows, size/XS

#4107 Store full namespace for last accessed test in test browser
  osu.Framework/Testing/TestBrowser.cs
Labels: size/S, type:testing

#4113 Fix hex-parsing #RGBA colours returning #RGRR based colours
  osu.Framework.Tests/Graphics/ColourTest.cs
  osu.Framework/Extensions/Color4Extensions/Color4Extensions.cs
  osu.Framework/Graphics/Colour4.cs
Labels: area:graphics, size/M

#4109 Add support for horizontal mouse scroll wheels
  osu.Framework.Tests/Visual/Input/TestSceneKeyBindingsGrid.cs
  osu.Framework/Input/Bindings/InputKey.cs
  osu.Framework/Input/Bindings/KeyBindingContainer.cs
  osu.Framework/Input/Bindings/KeyCombination.cs
  osu.Framework/Testing/Input/ManualInputManager.cs
Labels: area:input, size/L

#4110 Allow parsing same-type bindables
  osu.Framework.Tests/Bindables/BindableTest.cs
  osu.Framework/Bindables/Bindable.cs
Labels: area:bindable, size/M, type:reliability

#4111 Preserve bindable list items if parsing equivalent list
  osu.Framework.Tests/Bindables/BindableListTest.cs
  osu.Framework/Bindables/BindableList.cs
Labels: area:bindable, size/M

#4114 Allow to opt-out from automatic first tab selection
  osu.Framework.Tests/Visual/UserInterface/TestSceneTabControl.cs
  osu.Framework/Graphics/UserInterface/TabControl.cs
Labels: area:UI, size/M

#4115 Improve exception handling in WebRequest
  osu.Framework.Tests/IO/TestWebRequest.cs
  osu.Framework/IO/Network/JsonWebRequest.cs
  osu.Framework/IO/Network/WebRequest.cs
Labels: area:network, size/M, type:reliability

#4117 Remove duplicated license header
  osu.Framework/Bindables/BindableNumberWithCurrent.cs
Labels: size/XS, type:code-quality
