Repository ppy/osu-framework, pull requests merged in 2020-06, with the labels that each got.

#3593 Fix DSPFC not considering parent padding correctly
  osu.Framework.Tests/Visual/Containers/TestSceneDrawSizePreservingFillContainer.cs
  osu.Framework/Graphics/Containers/DrawSizePreservingFillContainer.cs
Labels: area:layout, size/M

#3590 Replace any potential usage of Environment.CurrentDirectory with an immutable static property
  osu.Framework.Tests/Platform/PortableInstallationTest.cs
  osu.Framework/Platform/DesktopGameHost.cs
  osu.Framework/Platform/GameHost.cs
  osu.Framework/RuntimeInfo.cs
Labels: size/M, type:reliability

#3589 Replace returning host assembly with NUnit current test assembly
  osu.Framework/Development/DebugUtils.cs
  osu.Framework/Platform/GameHost.cs
Labels: size/M

#3511 Shader-level texture wrap modes in conjunction with mipmapping and texture atlasses
  osu.Framework.Tests/Visual/Sprites/TestSceneWrapModes.cs
  osu.Framework/Graphics/DrawNode.cs
  osu.Framework/Graphics/Lines/Path_DrawNode.cs
  osu.Framework/Graphics/OpenGL/GLWrapper.cs
  osu.Framework/Graphics/OpenGL/Textures/TextureGL.cs
  osu.Framework/Graphics/OpenGL/Textures/TextureGLAtlas.cs
  osu.Framework/Graphics/OpenGL/Textures/TextureGLAtlasWhite.cs
  osu.Framework/Graphics/OpenGL/Textures/TextureGLSingle.cs
  osu.Framework/Graphics/OpenGL/Textures/TextureGLSub.cs
  osu.Framework/Graphics/Primitives/RectangleF.cs
  osu.Framework/Graphics/Primitives/RectangleI.cs
  osu.Framework/Graphics/Shaders/GlobalProperty.cs
  osu.Framework/Graphics/Shaders/GlobalPropertyManager.cs
  osu.Framework/Graphics/Shapes/Box.cs
  osu.Framework/Graphics/Shapes/Triangle.cs
  osu.Framework/Graphics/Sprites/Sprite.cs
  osu.Framework/Graphics/Sprites/SpriteDrawNode.cs
  osu.Framework/Graphics/Textures/LargeTextureStore.cs
  osu.Framework/Graphics/Textures/Texture.cs
  osu.Framework/Graphics/Textures/TextureAtlas.cs
  osu.Framework/Graphics/Textures/TextureStore.cs
  osu.Framework/Graphics/UserInterface/CircularProgressDrawNode.cs
  osu.Framework/Graphics/Video/VideoTexture.cs
  osu.Framework/IO/Stores/FontStore.cs
  osu.Framework/Resources/Shaders/sh_Masking.h
  osu.Framework/Resources/Shaders/sh_Texture.fs
  osu.Framework/Resources/Shaders/sh_TextureRounded.fs
  osu.Framework/Resources/Shaders/sh_TextureWrapping.h
  osu.Framework/Resources/Shaders/sh_Utils.h
  osu.Framework/Resources/Shaders/sh_Video.fs
  osu.Framework/Resources/Shaders/sh_VideoRounded.fs
  osu.Framework/Resources/Shaders/sh_yuv2rgb.h
Labels: area:shader, size/XL

#3597 Fix LogOverlay potentially showing entries out of order
  osu.Framework/Graphics/Visualisation/LogOverlay.cs
Labels: area:logging, size/XS

#3598 Add missing System.Numerics reference for Android tests project
  osu.Framework.Tests.Android/osu.Framework.Tests.Android.csproj
Labels: platform:android, size/XS, type:testing

#3601 Remove obsoletion of implicit operators
  osu.Framework/Graphics/Colour4.cs
Labels: area:tooling, size/XS

#3605 Add test covering ThreadedTaskScheduler shutdown
  osu.Framework.Tests/Threading/ThreadedTaskSchedulerTest.cs
Labels: size/M, type:testing

#3603 Fix font store lookups potentially crashing instead of returning null
  osu.Framework.Tests/IO/FontStoreTest.cs
  osu.Framework.Tests/Visual/Sprites/TestSceneAnimation.cs
  osu.Framework.Tests/Visual/Sprites/TestSceneAnimationLayout.cs
  osu.Framework/IO/Stores/FontStore.cs
  osu.Framework/IO/Stores/GlyphStore.cs
Labels: size/M, type:reliability

#3607 Expose the target FontStore in AddFont for custom use cases
  osu.Framework/Game.cs
Labels: size/XS

#3604 Fix changing Size/Position not invalidating self correctly
  osu.Framework.Tests/Layout/TestSceneDrawableLayout.cs
  osu.Framework/Graphics/Drawable.cs
Labels: area:layout, size/M

#3494 SDL2# Backend Refactor
  osu.Framework/Extensions/BridgingExtensions.cs
  osu.Framework/Input/GameWindowTextInput.cs
  osu.Framework/Input/Handlers/Keyboard/KeyboardHandler.cs
  osu.Framework/Input/UserInputManager.cs
  osu.Framework/Platform/DesktopWindow.cs
  osu.Framework/Platform/GameHost.cs
  osu.Framework/Platform/GameWindow.cs
  osu.Framework/Platform/IWindow.cs
  osu.Framework/Platform/Linux/LinuxGameHost.cs
  osu.Framework/Platform/MacOS/MacOSGameHost.cs
  osu.Framework/Platform/SDLWindow.cs
  osu.Framework/Platform/Sdl/PassthroughGraphicsBackend.cs
  osu.Framework/Platform/Sdl/Sdl2Extensions.cs
  osu.Framework/Platform/Sdl/Sdl2WindowBackend.cs
  osu.Framework/Platform/Sdl2Functions.cs
  osu.Framework/Platform/Sdl2WindowBackend.cs
  osu.Framework/Platform/Window.cs
  osu.Framework/Platform/Windows/WindowsGameHost.cs
  osu.Framework/osu.Framework.csproj
Labels: size/XXL

#3600 Update inspectcode version used in CI
  build/build.cake
  osu-framework.sln.DotSettings
  osu.Framework.Benchmarks/BenchmarkFontLoading.cs
  osu.Framework.Tests/Bindables/BindableListTest.cs
  osu.Framework.Tests/Bindables/BindableTest.cs
  osu.Framework.Tests/Exceptions/TestSceneDependencyInjectionExceptions.cs
  osu.Framework.Tests/MathUtils/TestInterpolation.cs
  osu.Framework.Tests/Text/TextBuilderTest.cs
  osu.Framework.Tests/Visual/Sprites/TestSceneSpriteIcon.cs
  osu.Framework/Allocation/BackgroundDependencyLoaderAttribute.cs
  osu.Framework/Allocation/ResolvedAttribute.cs
  osu.Framework/Bindables/Bindable.cs
  osu.Framework/Bindables/BindableList.cs
  osu.Framework/Configuration/IniConfigManager.cs
  osu.Framework/Extensions/ExtensionMethods.cs
  osu.Framework/Extensions/ObjectExtensions/ObjectExtensions.cs
  osu.Framework/Graphics/Containers/CompositeDrawable.cs
  osu.Framework/Graphics/Containers/CompositeDrawable_DrawNode.cs
  osu.Framework/Graphics/Containers/LifetimeManagementContainer.cs
  osu.Framework/Graphics/Containers/Markdown/MarkdownImage.cs
  osu.Framework/Graphics/OpenGL/Textures/TextureGLSingle.cs
  osu.Framework/Graphics/OpenGL/Vertices/VertexUtils.cs
  osu.Framework/Graphics/Textures/TextureStore.cs
  osu.Framework/Graphics/Visualisation/DrawVisualiser.cs
  osu.Framework/IO/Network/WebRequest.cs
  osu.Framework/IO/Serialization/BindableJsonConverter.cs
  osu.Framework/IO/Serialization/SortedListJsonConverter.cs
  osu.Framework/IO/Stores/FontStore.cs
  osu.Framework/Input/Bindings/KeyBindingContainer.cs
  osu.Framework/Localisation/LocalisationManager.cs
  osu.Framework/Platform/GameHost.cs
  osu.Framework/Platform/Linux/LinuxGameWindow.cs
  osu.Framework/Platform/Linux/Native/Library.cs
  osu.Framework/Platform/MacOS/MacOSGameWindow.cs
  osu.Framework/Platform/Sdl/PassthroughGraphicsBackend.cs
  osu.Framework/Platform/TcpIpcProvider.cs
  osu.Framework/Platform/ThreadRunner.cs
  osu.Framework/Platform/Windows/TimePeriod.cs
  osu.Framework/RuntimeInfo.cs
  osu.Framework/Statistics/DotNetRuntimeListener.cs
  osu.Framework/Testing/Drawables/Steps/UntilStepButton.cs
  osu.Framework/Testing/RoslynTypeReferenceBuilder.cs
  osu.Framework/Testing/TestBrowser.cs
Labels: area:tooling, size/L

#3612 Implement mouse polling for SDL2
  osu.Framework/Platform/Sdl/Sdl2WindowBackend.cs
Labels: area:input, size/S

#3614 Switch TabControl tab if current tab is closed
  osu.Framework.Tests/Visual/UserInterface/TestSceneTabControl.cs
  osu.Framework/Graphics/UserInterface/TabControl.cs
Labels: area:UI, size/M

#3523 Add front-to-back support for textured sprites
  osu.Framework.Tests/Visual/Containers/TestSceneFrontToBack.cs
  osu.Framework.Tests/Visual/Containers/TestSceneFrontToBackBox.cs
  osu.Framework/Graphics/DrawNode.cs
  osu.Framework/Graphics/OpenGL/Textures/TextureGL.cs
  osu.Framework/Graphics/OpenGL/Textures/TextureGLAtlas.cs
  osu.Framework/Graphics/OpenGL/Textures/TextureGLAtlasWhite.cs
  osu.Framework/Graphics/OpenGL/Textures/TextureGLSingle.cs
  osu.Framework/Graphics/OpenGL/Textures/TextureGLSub.cs
  osu.Framework/Graphics/Shapes/Box.cs
  osu.Framework/Graphics/Shapes/Triangle.cs
  osu.Framework/Graphics/Sprites/Sprite.cs
  osu.Framework/Graphics/Sprites/SpriteDrawNode.cs
  osu.Framework/Graphics/Textures/Texture.cs
  osu.Framework/Graphics/Video/VideoTexture.cs
  osu.Framework/Graphics/Visualisation/TextureAtlasVisualiser.cs
  osu.Framework/Platform/GameHost.cs
Labels: area:graphics, size/L, type:performance

#3533 Add cursor input support for iPadOS 13.4
  osu.Framework.Tests.iOS/Info.plist
  osu.Framework.iOS/IOSGameHost.cs
  osu.Framework.iOS/Input/IOSMouseHandler.cs
Labels: area:input, platform:iOS, size/M

#3618 Fix TabControl's updated switching-on-removal logic not considering IsSwitchable
  osu.Framework.Tests/Visual/UserInterface/TestSceneTabControl.cs
  osu.Framework/Graphics/UserInterface/TabControl.cs
Labels: area:UI, size/L

#3628 Disable opacity checks on mobile platforms
  osu.Framework/Graphics/OpenGL/Textures/TextureGL.cs
Labels: size/M, type:performance

#3627 Add trackpad scrolling support for iPadOS
  osu.Framework.iOS/Input/IOSMouseHandler.cs
Labels: area:UI, platform:iOS, size/M

#3635 Always change the Android WindowManager flags on the UI thread.
  osu.Framework.Android/AndroidGameActivity.cs
Labels: size/S

#3629 Fix clashing GUIDs in solution file
  SampleGame.iOS/SampleGame.iOS.csproj
  osu-framework.sln
  osu.Framework.Android/osu.Framework.Android.csproj
  osu.Framework.Templates/templates/template-empty/TemplateGame.iOS/TemplateGame.iOS.csproj
  osu.Framework.Templates/templates/template-flappy/FlappyDon.iOS/FlappyDon.iOS.csproj
Labels: area:tooling, size/M

#3637 Fix Sprite.EdgeSmoothness not working
  osu.Framework.Tests/Layout/TestSceneSpriteLayout.cs
  osu.Framework.Tests/Visual/Sprites/TestSceneSmoothedEdges.cs
  osu.Framework/Graphics/Sprites/Sprite.cs
Labels: area:graphics, size/L

#3638 Add virtual sample channel
  osu.Framework.Tests/Audio/SampleChannelVirtualTest.cs
  osu.Framework/Audio/Sample/SampleChannelVirtual.cs
Labels: area:audio, size/M

#3636 Fix crashes on iOS versions lower than 13.4
  osu.Framework.iOS/Input/IOSMouseHandler.cs
Labels: area:UI, high priority, platform:iOS, size/XS

#3545 Add joystick axis value change processing to InputManager
  osu.Framework.Tests/Visual/Input/TestSceneJoystick.cs
  osu.Framework/Graphics/Drawable.cs
  osu.Framework/Input/Events/JoystickAxisMoveEvent.cs
  osu.Framework/Input/Events/JoystickButtonEvent.cs
  osu.Framework/Input/Events/JoystickEvent.cs
  osu.Framework/Input/Handlers/Joystick/OsuTKJoystickHandler.cs
  osu.Framework/Input/InputManager.cs
  osu.Framework/Input/JoystickAxis.cs
  osu.Framework/Input/JoystickAxisEventManager.cs
  osu.Framework/Input/JoystickAxisSource.cs
  osu.Framework/Input/PassThroughInputManager.cs
  osu.Framework/Input/StateChanges/Events/JoystickAxisChangeEvent.cs
  osu.Framework/Input/StateChanges/JoystickAxisInput.cs
  osu.Framework/Input/States/JoystickState.cs
Labels: area:input, size/L

#3646 Only set activeStream after it has been fully constructed
  osu.Framework/Audio/Track/TrackBass.cs
Labels: area:audio, size/M, type:code-quality

#3647 Split out bass amplitude computation to separate class
  osu.Framework.Tests/Visual/Audio/TestSceneTrackAmplitudes.cs
  osu.Framework/Audio/BassAmplitudeProcessor.cs
  osu.Framework/Audio/Track/Track.cs
  osu.Framework/Audio/Track/TrackBass.cs
Labels: area:audio, size/L, type:code-quality

#3645 Don't activate run tool window on rider run
  .idea/.idea.osu-framework.Desktop/.idea/runConfigurations/SampleGame.xml
  .idea/.idea.osu-framework.Desktop/.idea/runConfigurations/VisualTests.xml
Labels: area:tooling, size/XS

#3643 Add [Values] attribute support in test browser
  osu.Framework.Tests/Visual/Testing/TestSceneTestWithValues.cs
  osu.Framework/Extensions/IEnumerableExtensions/EnumerableExtensions.cs
  osu.Framework/Testing/TestBrowser.cs
Labels: size/M, type:testing

#3649 Fix black square around triangle sprites due to front-to-back
  osu.Framework.Tests/Visual/Containers/TestSceneFrontToBackTriangle.cs
  osu.Framework/Graphics/Shapes/Triangle.cs
  osu.Framework/Graphics/Sprites/SpriteDrawNode.cs
Labels: area:graphics, size/M

#3642 Add right click support to iPadOS
  osu.Framework.iOS/IOSGameView.cs
  osu.Framework.iOS/Input/IOSTouchHandler.cs
Labels: area:UI, platform:iOS, size/M

#3269 Implement touch input & handling support
  osu.Framework.Tests/Visual/Input/TestSceneTouchInput.cs
  osu.Framework.Tests/Visual/Input/TestSceneTouchVisualiser.cs
  osu.Framework/Graphics/Drawable.cs
  osu.Framework/Input/Events/TouchDownEvent.cs
  osu.Framework/Input/Events/TouchEvent.cs
  osu.Framework/Input/Events/TouchMoveEvent.cs
  osu.Framework/Input/Events/TouchUpEvent.cs
  osu.Framework/Input/InputManager.cs
  osu.Framework/Input/StateChanges/Events/TouchStateChangeEvent.cs
  osu.Framework/Input/StateChanges/TouchInput.cs
  osu.Framework/Input/States/InputState.cs
  osu.Framework/Input/States/TouchState.cs
  osu.Framework/Input/Touch.cs
  osu.Framework/Input/TouchEventManager.cs
  osu.Framework/Input/TouchSource.cs
  osu.Framework/Testing/Input/ManualInputManager.cs
  osu.Framework/Testing/ManualInputManagerTestScene.cs
Labels: area:input, size/XL

#3653 Fix potential ObjectDisposedException in DelayedLoadUnloadWrapper
  osu.Framework/Graphics/Containers/DelayedLoadUnloadWrapper.cs
Labels: area:drawable, size/S

#3659 Fix all iOS/Android project inspections that can be fixed
  SampleGame.iOS/Application.cs
  osu.Framework.Android/AndroidGameActivity.cs
  osu.Framework.Android/AndroidGameHost.cs
  osu.Framework.Android/AndroidGameView.cs
  osu.Framework.Android/AndroidGameWindow.cs
  osu.Framework.Android/AndroidStorage.cs
  osu.Framework.Android/Graphics/Textures/AndroidTextureLoaderStore.cs
  osu.Framework.Android/Input/AndroidKeyboardHandler.cs
  osu.Framework.Android/Input/AndroidTextInput.cs
  osu.Framework.Android/Input/AndroidTouchHandler.cs
  osu.Framework.Tests.iOS/AppDelegate.cs
  osu.Framework.Tests.iOS/Application.cs
  osu.Framework.iOS/GameAppDelegate.cs
  osu.Framework.iOS/IOSGameHost.cs
  osu.Framework.iOS/IOSGameView.cs
  osu.Framework.iOS/IOSGameWindow.cs
  osu.Framework.iOS/IOSStorage.cs
  osu.Framework.iOS/Input/IOSKeyboardHandler.cs
  osu.Framework.iOS/Input/IOSMouseHandler.cs
  osu.Framework.iOS/Input/IOSTouchHandler.cs
Labels: size/L, type:code-quality

#3270 Add touch event cases to PassThroughInputManager
  osu.Framework.Tests/Visual/Input/TestScenePassThroughInputManager.cs
  osu.Framework/Input/PassThroughInputManager.cs
  osu.Framework/Input/StateChanges/TouchInput.cs
  osu.Framework/Input/States/TouchState.cs
Labels: area:input, size/L

#3656 Clarify properly why mouse buttons are not fully synchronised
  osu.Framework/Input/PassThroughInputManager.cs
Labels: area:input, size/XS, type:documentation

#3663 Disallow mouse input from primary touch on PassThroughInputManagers
  osu.Framework/Input/InputManager.cs
  osu.Framework/Input/PassThroughInputManager.cs
Labels: area:input, size/M

#3660 Fix PassThroughInputManager potentially not receiving release events
  osu.Framework.Tests/Visual/Input/TestScenePassThroughInputManager.cs
  osu.Framework/Input/PassThroughInputManager.cs
Labels: area:input, size/S

#3666 Add a copy constructor to InputState
  osu.Framework/Input/States/InputState.cs
Labels: area:input, size/M

#3655 Add improved state handling for right-click on iPadOS
  osu.Framework.iOS/Input/IOSMouseHandler.cs
  osu.Framework.iOS/Input/IOSTouchHandler.cs
Labels: area:UI, platform:iOS, size/M
