Repository ppy/osu-framework, pull requests merged in 2020-05, with the labels that each got.

#3497 Rework dynamic compilation to use Roslyn-backed type resolution
  osu.Framework/Graphics/Containers/CompositeDrawable.cs
  osu.Framework/Graphics/Drawable.cs
  osu.Framework/Testing/DynamicClassCompiler.cs
  osu.Framework/Testing/EmptyTypeReferenceBuilder.cs
  osu.Framework/Testing/ExcludeFromDynamicCompileAttribute.cs
  osu.Framework/Testing/ITypeReferenceBuilder.cs
  osu.Framework/Testing/RoslynTypeReferenceBuilder.cs
  osu.Framework/Testing/TestBrowser.cs
  osu.Framework/Testing/TestScene.cs
  osu.Framework/osu.Framework.csproj
Labels: area:tooling, size/XL, type:testing

#3505 Improve logging and exclude Game types from dynamic compilation
  osu.Framework/Testing/DynamicClassCompiler.cs
  osu.Framework/Testing/RoslynTypeReferenceBuilder.cs
Labels: area:tooling, size/L, type:testing

#3509 Fix package downgrade error
  osu.Framework/osu.Framework.csproj
Labels: area:tooling, size/XS

#3508 Fix dynamic compilation exclusions failing via nuget package
  osu.Framework/Testing/RoslynTypeReferenceBuilder.cs
Labels: area:tooling, size/XS, type:testing

#3500 Fix dropdown with nothing selected throwing on pre-selecting afterwards
  osu.Framework.Tests/Visual/UserInterface/TestSceneDropdown.cs
  osu.Framework/Graphics/UserInterface/Dropdown.cs
Labels: area:UI, size/M

#2804 Implement MIDI input support
  osu.Framework.Android/AndroidGameHost.cs
  osu.Framework.Tests/Visual/Input/TestSceneMidi.cs
  osu.Framework.iOS/IOSGameHost.cs
  osu.Framework/Graphics/Drawable.cs
  osu.Framework/Input/Bindings/InputKey.cs
  osu.Framework/Input/Bindings/KeyBindingContainer.cs
  osu.Framework/Input/Bindings/KeyCombination.cs
  osu.Framework/Input/Events/MidiDownEvent.cs
  osu.Framework/Input/Events/MidiEvent.cs
  osu.Framework/Input/Events/MidiUpEvent.cs
  osu.Framework/Input/Handlers/Midi/MidiInputHandler.cs
  osu.Framework/Input/InputManager.cs
  osu.Framework/Input/MidiKey.cs
  osu.Framework/Input/MidiKeyEventManager.cs
  osu.Framework/Input/StateChanges/Events/MidiStateChangeEvent.cs
  osu.Framework/Input/StateChanges/MidiKeyInput.cs
  osu.Framework/Input/States/InputState.cs
  osu.Framework/Input/States/MidiState.cs
  osu.Framework/Platform/DesktopGameHost.cs
  osu.Framework/Statistics/FrameStatistics.cs
  osu.Framework/Threading/InputThread.cs
  osu.Framework/osu.Framework.csproj
Labels: area:input, size/XXL

#3506 Add texture cropping
  osu.Framework.Tests/Visual/Sprites/TestSceneTextureCropping.cs
  osu.Framework/Graphics/OpenGL/Textures/TextureGLSub.cs
  osu.Framework/Graphics/Primitives/RectangleF.cs
  osu.Framework/Graphics/Textures/Texture.cs
Labels: area:graphics, size/L

#3512 Fix build warnings
  osu.Framework/IO/Stores/TimedExpiryGlyphStore.cs
  osu.Framework/Input/Bindings/InputKey.cs
  osu.Framework/Input/Handlers/Keyboard/OsuTKKeyboardHandler.cs
  osu.Framework/Input/Handlers/Mouse/OsuTKMouseHandler.cs
  osu.Framework/Localisation/LocalisationManager.cs
  osu.Framework/Platform/Windows/Native/Input.cs
  osu.Framework/Testing/ITypeReferenceBuilder.cs
Labels: area:tooling, type:code-quality

#3521 Fix video test not working
  osu.Framework.Tests/Visual/Sprites/TestVideo.cs
Labels: size/S, type:testing

#3516 Fix static log targets not being purged when a custom log storage location is specified
  osu.Framework/Logging/Logger.cs
Labels: area:logging, size/XS

#3522 Refactor storage to allow more flexibility in root location
  osu.Framework.Android/AndroidGameHost.cs
  osu.Framework.Android/AndroidStorage.cs
  osu.Framework.Tests/IO/BackgroundGameHeadlessGameHost.cs
  osu.Framework.Tests/Platform/PortableInstallationTest.cs
  osu.Framework.iOS/IOSGameHost.cs
  osu.Framework.iOS/IOSStorage.cs
  osu.Framework/Platform/DesktopGameHost.cs
  osu.Framework/Platform/DesktopStorage.cs
  osu.Framework/Platform/GameHost.cs
  osu.Framework/Platform/HeadlessGameHost.cs
  osu.Framework/Platform/Linux/LinuxGameHost.cs
  osu.Framework/Platform/Linux/LinuxStorage.cs
  osu.Framework/Platform/MacOS/MacOSGameHost.cs
  osu.Framework/Platform/MacOS/MacOSStorage.cs
  osu.Framework/Platform/NativeStorage.cs
  osu.Framework/Platform/Storage.cs
  osu.Framework/Platform/Windows/WindowsGameHost.cs
  osu.Framework/Platform/Windows/WindowsStorage.cs
Labels: area:platform, size/L

#3527 Fix calling GetStorageForDirectory with empty string failing lookup
  osu.Framework.Benchmarks/BenchmarkFontLoading.cs
  osu.Framework.Tests/IO/FontStoreTest.cs
  osu.Framework.Tests/IO/TestDesktopStorage.cs
  osu.Framework.Tests/TemporaryNativeStorage.cs
  osu.Framework/Platform/NativeStorage.cs
Labels: area:platform, size/M

#3528 Commit autogenerated rider VCS settings update
  .idea/.idea.osu-framework.Desktop/.idea/projectSettingsUpdater.xml
Labels: size/XS

#3531 Allow ExcludeFromDynamicCompile on enums
  osu.Framework/Testing/ExcludeFromDynamicCompileAttribute.cs
Labels: area:tooling, size/XS, type:testing

#3534 Continue initialising InputHandlers if one fails
  osu.Framework/Platform/GameHost.cs
Labels: area:input, size/XS

#3532 Use strongly-typed JsonConverter
  osu.Framework/IO/Serialization/BindableJsonConverter.cs
  osu.Framework/IO/Serialization/SortedListJsonConverter.cs
Labels: size/M, type:code-quality

#3535 Fix "open in explorer" occurring twice for windows directories
  osu.Framework/Platform/Windows/WindowsGameHost.cs
Labels: area:platform, platform:windows, size/XS

#3536 Fix midi keys not being written to the input state
  osu.Framework/Input/Bindings/InputKey.cs
  osu.Framework/Input/Handlers/Midi/MidiInputHandler.cs
  osu.Framework/Input/InputManager.cs
  osu.Framework/Input/StateChanges/ButtonInput.cs
  osu.Framework/Input/StateChanges/Events/MidiStateChangeEvent.cs
  osu.Framework/Input/StateChanges/MidiKeyInput.cs
Labels: area:input, size/M

#3541 Fix hard crash on MIDI initialisation failure
  osu.Framework/Input/Handlers/Midi/MidiInputHandler.cs
Labels: area:input, size/M

#3543 Add file header in editorconfig
  .editorconfig
Labels: area:tooling, size/XS

#3546 Disable dynamic recompilation on Android
  osu.Framework/Testing/TestBrowser.cs
Labels: platform:android, size/XS, type:testing

#3547 Remove usage of RequiredTypes
  osu.Framework.Tests/Visual/Containers/TestSceneCachedBufferedContainer.cs
  osu.Framework.Tests/Visual/Containers/TestSceneSafeAreaContainer.cs
  osu.Framework.Tests/Visual/Containers/TestSceneSafeAreaOverrides.cs
  osu.Framework.Tests/Visual/Containers/TestSceneScrollContainer.cs
  osu.Framework.Tests/Visual/Drawables/TestSceneWaveform.cs
  osu.Framework.Tests/Visual/Sprites/TestSceneAnimation.cs
  osu.Framework.Tests/Visual/Sprites/TestSceneVideo.cs
  osu.Framework.Tests/Visual/Testing/TestSceneDrawVisualiser.cs
  osu.Framework.Tests/Visual/Testing/TestSceneStepButton.cs
  osu.Framework.Tests/Visual/UserInterface/TestSceneButton.cs
  osu.Framework.Tests/Visual/UserInterface/TestSceneCheckboxes.cs
  osu.Framework.Tests/Visual/UserInterface/TestSceneCircularProgress.cs
  osu.Framework.Tests/Visual/UserInterface/TestSceneDropdown.cs
  osu.Framework.Tests/Visual/UserInterface/TestSceneRearrangeableListContainer.cs
  osu.Framework.Tests/Visual/UserInterface/TestSceneScreenStack.cs
  osu.Framework.Tests/Visual/UserInterface/TestSceneSliderBar.cs
  osu.Framework.Tests/Visual/UserInterface/TestSceneTabControl.cs
  osu.Framework.Tests/Visual/UserInterface/TestSceneTextBox.cs
  osu.Framework/Testing/IDynamicallyCompile.cs
  osu.Framework/Testing/MenuTestScene.cs
  osu.Framework/Testing/TestScene.cs
Labels: size/L, type:code-quality

#3549 Restore RequiredTypes as an obsolete property
  osu.Framework.Templates/templates/template-empty/TemplateGame.Game.Tests/Visual/TestSceneTemplateGameGame.cs
  osu.Framework/Testing/TestScene.cs
Labels: size/S, type:testing

#3548 Fix libbass_fx load errors during tests on linux
  osu.Framework/Platform/Linux/LinuxGameHost.cs
  osu.Framework/Threading/AudioThread.cs
Labels: area:audio, platform:linux, size/S, type:testing

#3550 Remove obsolete type
  osu.Framework/Allocation/ObjectStack.cs
Labels: size/M, type:code-quality

#3551 Fix ModelBackedDrawable not working inside BufferedContainer
  osu.Framework.Tests/Visual/Drawables/TestSceneModelBackedDrawable.cs
  osu.Framework/Graphics/Containers/BufferedContainer.cs
Labels: area:drawable, size/M

#3552 Remove obsolete method
  osu.Framework/Extensions/ExtensionMethods.cs
Labels: size/XS, type:code-quality

#3554 Use some new features in .net standard 2.1
  osu.Framework/Allocation/CacheInfo.cs
  osu.Framework/Graphics/Sprites/FontUsage.cs
  osu.Framework/Graphics/Sprites/IconUsage.cs
  osu.Framework/IO/Stores/NamespacedResourceStore.cs
  osu.Framework/Input/Bindings/KeyCombination.cs
Labels: size/M, type:code-quality

#3556 Dispose of font stores in base game
  osu.Framework/Game.cs
Labels: size/XS, type:testing

#3553 Limit the number of nodes expanded for dynamic compilation
  osu.Framework/Testing/RoslynTypeReferenceBuilder.cs
Labels: size/M, type:testing

#3555 Replace all BASS fail assertions with describing-exceptions
  osu.Framework/Audio/AudioManager.cs
  osu.Framework/Audio/BassUtils.cs
  osu.Framework/Audio/Sample/SampleBass.cs
  osu.Framework/Audio/Track/TrackBass.cs
Labels: size/M

#3525 Prefer memory overloads for Stream.ReadAsync/WriteAsync
  osu.Framework/IO/Network/WebRequest.cs
  osu.Framework/IO/Stores/DllResourceStore.cs
  osu.Framework/IO/Stores/StorageBackedResourceStore.cs
  osu.Framework/Platform/TcpIpcProvider.cs
Labels: size/S, type:performance

#3537 Introduce Colour4 type
  osu.Framework/Graphics/Colour/ColourInfo.cs
  osu.Framework/Graphics/Colour/SRGBColour.cs
  osu.Framework/Graphics/Colour4.cs
Labels: area:graphics, size/XL

#3563 Fix LifetimeManagementContainer not unbinding events on clear
  osu.Framework/Graphics/Containers/LifetimeManagementContainer.cs
Labels: size/XS, type:performance

#3561 Improve WeakList<> performance in degenerate scenarios
  osu.Framework.Tests/Lists/TestWeakList.cs
  osu.Framework/Lists/IWeakList.cs
  osu.Framework/Lists/LockedWeakList.cs
  osu.Framework/Lists/WeakList.cs
Labels: size/L, type:performance

#3562 Colour4 functions and tests
  osu-framework.sln.DotSettings
  osu.Framework.Tests/Graphics/ColourTest.cs
  osu.Framework/Graphics/Colour4.cs
Labels: area:graphics, size/XL

#3572 Remove obsolete members
  osu.Framework/IO/Network/WebRequest.cs
Labels: size/XS, type:code-quality

#3571 Update codeanalysis packages
  osu.Framework/osu.Framework.csproj
Labels: size/XS

#3575 Add method to open an arbitrary subdirectory in native explorer
  osu.Framework.Android/AndroidStorage.cs
  osu.Framework/Platform/NativeStorage.cs
  osu.Framework/Platform/Storage.cs
Labels: area:platform, size/S

#3574 Add pdb to DynamicClassCompiler to show more info in stack trace
  osu.Framework/Testing/DynamicClassCompiler.cs
Labels: size/S, type:testing

#3580 Fix dynamic compilation not working for testscenes
  osu.Framework/Testing/RoslynTypeReferenceBuilder.cs
Labels: area:tooling, size/XS, type:testing

#3577 Fix WeakList<T> failure cases
  osu.Framework.Tests/Lists/TestWeakList.cs
  osu.Framework/Lists/LockedWeakList.cs
  osu.Framework/Lists/WeakList.cs
Labels: size/L, type:reliability

#3582 Add test covering removing twice from a BindableList not firing events
  osu.Framework.Tests/Bindables/BindableListTest.cs
Labels: size/S, type:testing

#3583 Change BindableList to always use the item reference from the list itself in events
  osu.Framework.Tests/Bindables/BindableListTest.cs
  osu.Framework/Bindables/BindableList.cs
Labels: area:bindable, size/S

#3581 Ignore static classes in dynamic compilation
  osu.Framework/Testing/RoslynTypeReferenceBuilder.cs
Labels: area:tooling, size/XS, type:testing

#3584 Add missing System.Numerics reference for iOS tests project
  osu.Framework.Tests.iOS/osu.Framework.Tests.iOS.csproj
Labels: platform:iOS, size/XS, type:testing

#3587 Avoid Activator.CreateInstance when getting bound copy of BindableList
  osu.Framework/Bindables/BindableList.cs
Labels: area:bindable, size/XS
