Repository ppy/osu-framework, pull requests merged in 2020-02, with the labels that each got.

#3226 Consider grid cell content presence and lifetime when auto-sizing
  osu.Framework.Tests/Visual/Layout/TestSceneGridContainer.cs
  osu.Framework/Graphics/Containers/GridContainer.cs
Labels: drawable, resolves issue, size/L

#3227 Fix culture dependence in bindable conversion test
  osu.Framework.Tests/Bindables/BindableTest.cs
Labels: size/XS, testing

#3228 Add BindTarget to IBindable and implementations
  osu.Framework.Tests/Bindables/BindableListTest.cs
  osu.Framework.Tests/Bindables/BindableTest.cs
  osu.Framework/Bindables/Bindable.cs
  osu.Framework/Bindables/BindableList.cs
  osu.Framework/Bindables/IBindable.cs
  osu.Framework/Bindables/IBindableList.cs
Labels: bindable, resolves issue, size/M

#3232 Fix ManualInputManager incorrectly starting in wrong input mode
  osu.Framework/Testing/ManualInputManagerTestScene.cs
Labels: regression, size/XS, testing

#3235 Fix test methods potentially being duplicated
  osu.Framework.Tests/Visual/Testing/TestSceneDerivedTestWithDerivedMethods.cs
  osu.Framework.Tests/Visual/Testing/TestSceneDerivedTestWithDerivedMethodsWithAttributes.cs
  osu.Framework/Testing/TestBrowser.cs
  osu.Framework/Testing/TestScene.cs
Labels: resolves issue, size/M, testing

#3237 Fix empty SetUp methods displaying in test browser
  osu.Framework/Testing/TestBrowser.cs
Labels: size/XS, testing

#2372 Implement a RearrangeableListContainer component
  osu.Framework.Tests/Visual/UserInterface/TestSceneRearrangeableListContainer.cs
  osu.Framework/Graphics/Containers/BasicScrollContainer.cs
  osu.Framework/Graphics/Containers/RearrangeableListContainer.cs
  osu.Framework/Graphics/Containers/RearrangeableListItem.cs
  osu.Framework/Graphics/UserInterface/BasicRearrangeableListContainer.cs
  osu.Framework/Testing/Input/ManualInputManager.cs
Labels: user interface

#3238 Don't log spammy input events to debug log
  osu.Framework/Input/InputManager.cs
Labels: size/S, tooling

#3240 Make ScreenStack relative sized by default
  osu.Framework/Screens/ScreenStack.cs
Labels: code quality, size/S

#3239 Improve template game
  build/build.cake
  template-game/.editorconfig
  template-game/.idea/.idea.TemplateGame.Desktop/.idea/.name
  template-game/.idea/.idea.TemplateGame.Desktop/.idea/runConfigurations/TemplateGame_Desktop.xml
  template-game/.idea/.idea.TemplateGame.Desktop/.idea/runConfigurations/TemplateGame_Tests.xml
  template-game/.vscode/launch.json
  template-game/.vscode/tasks.json
  template-game/TemplateGame.Desktop.slnf
  template-game/TemplateGame.Desktop/Program.cs
  template-game/TemplateGame.Game.Tests/Program.cs
  template-game/TemplateGame.Game.Tests/TemplateGameTestBrowser.cs
  template-game/TemplateGame.Game.Tests/Visual/TestSceneMainScreen.cs
  template-game/TemplateGame.Game.Tests/Visual/TestSceneSpinningBox.cs
  template-game/TemplateGame.Game.Tests/Visual/TestSceneTemplateGameGame.cs
  template-game/TemplateGame.Game/MainScreen.cs
  template-game/TemplateGame.Game/SpinningBox.cs
  template-game/TemplateGame.Game/TemplateGame.Game.csproj
  template-game/TemplateGame.Game/TemplateGameGame.cs
  template-game/TemplateGame.Game/TemplateGameGameBase.cs
  template-game/TemplateGame.Resources/ResourceAssembly.cs
  template-game/TemplateGame.Resources/TemplateGame.Resources.csproj
  template-game/TemplateGame.Resources/Textures/logo.png
  template-game/TemplateGame.sln
  template-game/TemplateGame.sln.DotSettings
  template-game/osu.Framework.Template.csproj
Labels: tooling

#3246 Check for cancellation during load components iteration
  osu.Framework/Graphics/Containers/CompositeDrawable.cs
Labels: drawable, size/S

#3247 Fix drawables potentially becoming disposed during an async load
  osu.Framework.Tests/Containers/TestSceneLoadComponentAsync.cs
  osu.Framework/Graphics/Containers/CompositeDrawable.cs
  osu.Framework/Graphics/Drawable.cs
Labels: drawable, size/M

#3249 Update windows bass libraries in line with osu-stable
  osu.Framework.NativeLibs/runtimes/win-x64/native/bass.dll
  osu.Framework.NativeLibs/runtimes/win-x86/native/bass.dll
  osu.Framework/Audio/AudioManager.cs
Labels: audio

#3250 Add xmldoc warning against use of FramesPerSecond
  osu.Framework/Timing/IFrameBasedClock.cs
Labels: documentation, size/XS

#3251 Update easings test scene to be usable
  osu.Framework.Tests/Visual/Drawables/TestSceneEasingCurves.cs
Labels: size/M, testing

#3252 Bump bass libraries for macOS
  osu.Framework.NativeLibs/runtimes/osx-x64/native/libbass.dylib
  osu.Framework.NativeLibs/runtimes/osx-x64/native/libbass_fx.dylib
Labels: platform

#3248 Do not handle input in empty ScrollContainer
  osu.Framework.Tests/Visual/Containers/TestSceneScrollContainer.cs
  osu.Framework/Graphics/Containers/ScrollContainer.cs
Labels: input, size/M, user interface

#3236 Add missing thread safety to ScheduledDelegate
  osu.Framework.Tests/Threading/SchedulerTest.cs
  osu.Framework/Threading/ScheduledDelegate.cs
  osu.Framework/Threading/Scheduler.cs
Labels: size/L, threading

#3254 Android pen hover support
  osu.Framework.Android/Input/AndroidTouchHandler.cs
Labels: android, input, size/S

#3258 Call glFinish on macOS even when vsync is disabled
  osu.Framework/Platform/GameHost.cs
  osu.Framework/Platform/MacOS/MacOSGameHost.cs
Labels: area:graphics, size/M, type:performance

#3256 Apply correct current value on rewind between disparate transforms
  osu.Framework.Tests/Visual/Drawables/TestSceneTransformRewinding.cs
  osu.Framework/Graphics/Transforms/Transformable.cs
Labels: area:transformations, size/M

#3257 Fix adding a transform in the past from a future vantage point potentially getting incorrect StartValue
  osu.Framework.Tests/Visual/Drawables/TestSceneTransformRewinding.cs
  osu.Framework/Graphics/Transforms/Transformable.cs
Labels: area:transformations, size/M

#3259 Add xmldoc for precision / scrolling events
  osu.Framework/Input/Events/ScrollEvent.cs
  osu.Framework/Input/StateChanges/Events/MouseScrollChangeEvent.cs
  osu.Framework/Input/StateChanges/MouseScrollRelativeInput.cs
Labels: area:input, size/S, type:documentation

#3261 Handle IgnoreAttribute in TestBrowser
  osu.Framework.Tests/Visual/Testing/TestSceneIgnore.cs
  osu.Framework/Testing/TestBrowser.cs
Labels: size/M, type:testing

#3277 Fix ManualInputManagerTestScene not resetting input properly
  osu.Framework.Tests/Visual/Testing/TestSceneManualInputManagerTestScene.cs
  osu.Framework/Testing/ManualInputManagerTestScene.cs
Labels: size/M

#3273 Add BindableList.CollectionChanged event implementing NotifyCollectionChangedEventHandler
  osu.Framework.Tests/Bindables/BindableListTest.cs
  osu.Framework/Bindables/BindableList.cs
  osu.Framework/Bindables/IBindableList.cs
  osu.Framework/Graphics/Containers/RearrangeableListContainer.cs
Labels: area:bindable, size/L

#3279 Fix potential test failure due to not waiting long enough on track start
  osu.Framework.Tests/Audio/DevicelessAudioTest.cs
Labels: size/XS, type:testing

#3274 Add method to move items within a BindableList
  osu.Framework.Tests/Bindables/BindableListTest.cs
  osu.Framework/Bindables/BindableList.cs
  osu.Framework/Graphics/Containers/RearrangeableListContainer.cs
Labels: area:bindable, size/XL

#3275 Asyncify RearrangeableListContainer additions
  osu.Framework.Tests/Visual/UserInterface/TestSceneRearrangeableListContainer.cs
  osu.Framework/Graphics/Containers/RearrangeableListContainer.cs
Labels: area:drawable, size/XL

#3281 Fix rearrangeable list scrolled to top on single item removal
  osu.Framework.Tests/Visual/UserInterface/TestSceneRearrangeableListContainer.cs
  osu.Framework/Graphics/Containers/RearrangeableListContainer.cs
Labels: area:drawable, size/L

#3283 Minor optimizations/cleanups
  osu.Framework/Configuration/IniConfigManager.cs
  osu.Framework/Extensions/TypeExtensions/TypeExtensions.cs
  osu.Framework/Graphics/Containers/CustomizableTextContainer.cs
  osu.Framework/Platform/NativeStorage.cs
  osu.Framework/Testing/TestBrowser.cs
Labels: size/S

#3284 Remove iOS CodeSign property
  osu.Framework.iOS.props
Labels: platform:iOS, size/XS, type:code-quality

#3276 Remove unnecessary code in CompositeDrawable
  osu.Framework/Graphics/Containers/CompositeDrawable.cs
Labels: area:drawable, size/M, type:code-quality

#3287 Remove obsolete BlendingMode
  osu.Framework/Graphics/BlendingMode.cs
Labels: area:graphics, size/M, type:code-quality

#3288 Fix RearrangeableListContainer XMLDoc type-parameter referencing
  osu.Framework/Graphics/Containers/RearrangeableListContainer.cs
Labels: size/XS, type:documentation

#3291 Improve texture queueing mechanism
  osu.Framework/Graphics/OpenGL/Buffers/FrameBuffer.cs
  osu.Framework/Graphics/OpenGL/GLWrapper.cs
  osu.Framework/Graphics/OpenGL/Textures/TextureGL.cs
  osu.Framework/Graphics/OpenGL/Textures/TextureGLSingle.cs
  osu.Framework/Graphics/OpenGL/Textures/TextureGLSub.cs
  osu.Framework/Graphics/Performance/FrameStatisticsDisplay.cs
Labels: area:graphics, size/M, type:performance

#3019 Improve video performance and memory consumption
  osu.Framework.Android/Graphics/Video/AndroidVideoDecoder.cs
  osu.Framework.Tests/Visual/Sprites/TestSceneVideoSprite.cs
  osu.Framework.iOS/Graphics/Video/IOSVideoDecoder.cs
  osu.Framework/Graphics/OpenGL/GLWrapper.cs
  osu.Framework/Graphics/OpenGL/Textures/TextureGLSingle.cs
  osu.Framework/Graphics/Shaders/ShaderManager.cs
  osu.Framework/Graphics/Sprites/Sprite.cs
  osu.Framework/Graphics/Textures/ArrayPoolTextureUpload.cs
  osu.Framework/Graphics/Video/FFmpegFuncs.cs
  osu.Framework/Graphics/Video/VideoDecoder.cs
  osu.Framework/Graphics/Video/VideoSprite.cs
  osu.Framework/Graphics/Video/VideoSpriteDrawNode.cs
  osu.Framework/Graphics/Video/VideoTexture.cs
  osu.Framework/Graphics/Video/VideoTextureUpload.cs
  osu.Framework/Resources/Shaders/sh_Masking.h
  osu.Framework/Resources/Shaders/sh_TextureRounded.fs
  osu.Framework/Resources/Shaders/sh_Utils.h
  osu.Framework/Resources/Shaders/sh_Video.fs
  osu.Framework/Resources/Shaders/sh_VideoRounded.fs
  osu.Framework/Resources/Shaders/sh_yuv2rgb.h
Labels: size/XL, type:performance

#3294 Improve video decoder error messages
  osu.Framework/Graphics/Video/FFmpegFuncs.cs
  osu.Framework/Graphics/Video/VideoDecoder.cs
Labels: area:libraries, size/M, type:code-quality

#3295 Improve initialisation error handling in video decoder
  osu.Framework/Graphics/Video/VideoDecoder.cs
Labels: area:libraries, platform:linux, size/M

#3292 Restore video texture buffer count to 3 for now
  osu.Framework/Graphics/Video/VideoDecoder.cs
Labels: size/XS

#3264 Update inspectcode and fix new issues
  build/build.cake
  osu.Framework/Graphics/Performance/FrameTimeDisplay.cs
  osu.Framework/Graphics/Vector2Extensions.cs
  osu.Framework/Input/Handlers/Mouse/OsuTKMouseHandler.cs
Labels: size/M, type:code-quality

#3296 Add update CPU time profiling to global statistics
  osu.Framework/Graphics/Containers/CompositeDrawable.cs
  osu.Framework/Graphics/Performance/GlobalStatisticsDisplay.cs
  osu.Framework/Platform/GameHost.cs
  osu.Framework/Statistics/GlobalStatistics.cs
  osu.Framework/Statistics/TypePerformanceMonitor.cs
Labels: area:tooling, size/L, type:performance

#3298 Report BASS CPU usage to global statistics
  osu.Framework/Threading/AudioThread.cs
Labels: area:tooling, size/XS

#3262 Expose API for current display and display mode
  osu.Framework.Tests/Visual/Platform/TestSceneFullscreen.cs
  osu.Framework/Extensions/ExtensionMethods.cs
  osu.Framework/Platform/DesktopGameWindow.cs
  osu.Framework/Platform/Display.cs
  osu.Framework/Platform/DisplayMode.cs
  osu.Framework/Platform/GameWindow.cs
  osu.Framework/Platform/IWindow.cs
  osu.Framework/Platform/IWindowBackend.cs
  osu.Framework/Platform/Sdl2Functions.cs
  osu.Framework/Platform/Sdl2WindowBackend.cs
  osu.Framework/Platform/Window.cs
Labels: size/L

#3309 Fix exception when a single component loaded via LoadComponentAsync and it is disposed during load
  osu.Framework/Graphics/Containers/CompositeDrawable.cs
Labels: area:drawable, size/S

#3305 Remove debug performance logging setting, instead making it activate when GlobalStatistics is open
  osu.Framework/Configuration/FrameworkDebugConfig.cs
  osu.Framework/Development/DebugUtils.cs
  osu.Framework/Graphics/Performance/GlobalStatisticsDisplay.cs
  osu.Framework/Platform/GameHost.cs
Labels: area:tooling, size/S, type:performance

#3303 Reduce the overhead of checking for blocking synchronous drawable loads
  osu.Framework/Graphics/Drawable.cs
Labels: area:logging, size/S, type:performance

#3314 Move frame sync toggle to platform action
  osu.Framework/Game.cs
  osu.Framework/Input/FrameworkActionContainer.cs
  osu.Framework/Platform/GameHost.cs
Labels: area:input, size/M

#3304 Add log level to log output
  osu.Framework/Logging/Logger.cs
Labels: area:logging, size/XS

#3286 Add iOS project to empty game template
  osu.Framework.Templates/templates/template-empty/.vscode/tasks.json
  osu.Framework.Templates/templates/template-empty/Directory.Build.props
  osu.Framework.Templates/templates/template-empty/TemplateGame.Game/TemplateGame.Game.csproj
  osu.Framework.Templates/templates/template-empty/TemplateGame.Game/TemplateGameGameBase.cs
  osu.Framework.Templates/templates/template-empty/TemplateGame.iOS/AppDelegate.cs
  osu.Framework.Templates/templates/template-empty/TemplateGame.iOS/Application.cs
  osu.Framework.Templates/templates/template-empty/TemplateGame.iOS/Assets.xcassets/Contents.json
  osu.Framework.Templates/templates/template-empty/TemplateGame.iOS/Entitlements.plist
  osu.Framework.Templates/templates/template-empty/TemplateGame.iOS/Info.plist
  osu.Framework.Templates/templates/template-empty/TemplateGame.iOS/LaunchScreen.storyboard
  osu.Framework.Templates/templates/template-empty/TemplateGame.iOS/TemplateGame.iOS.csproj
  osu.Framework.Templates/templates/template-empty/TemplateGame.iOS/TemplateGame.iOS.slnf
  osu.Framework.Templates/templates/template-empty/TemplateGame.sln
  osu.Framework.Templates/templates/template-empty/app.manifest
Labels: area:tooling, platform:iOS, size/L

#3313 Calculate elapsed time values using FrameStatistics source instead of clock
  osu.Framework/Graphics/Performance/FrameStatisticsDisplay.cs
  osu.Framework/Graphics/Performance/FrameTimeDisplay.cs
Labels: area:tooling, size/M

#3317 Use ThreadStatic for ThreadSafety implementation
  osu.Framework.Tests/Audio/TrackBassTest.cs
  osu.Framework.Tests/Threading/SchedulerTest.cs
  osu.Framework/Development/ThreadSafety.cs
  osu.Framework/Graphics/Containers/CompositeDrawable.cs
  osu.Framework/Graphics/Drawable.cs
  osu.Framework/Graphics/OpenGL/GLWrapper.cs
  osu.Framework/Graphics/UserInterface/TextBox.cs
  osu.Framework/Threading/AudioThread.cs
  osu.Framework/Threading/DrawThread.cs
  osu.Framework/Threading/GameThread.cs
  osu.Framework/Threading/InputThread.cs
  osu.Framework/Threading/Scheduler.cs
  osu.Framework/Threading/UpdateThread.cs
Labels: area:threading, size/M

#3320 Link against libSystem rather than libdl
  osu.Framework/Platform/MacOS/Native/Cocoa.cs
Labels: platform:macOS, size/XS

#3301 Add ability to toggle between single and multi-threaded execution
  osu.Framework.Android/AndroidGameHost.cs
  osu.Framework.Android/osu.Framework.Android.csproj
  osu.Framework.iOS.props
  osu.Framework.iOS/IOSGameHost.cs
  osu.Framework.iOS/osu.Framework.iOS.csproj
  osu.Framework/Audio/AudioComponent.cs
  osu.Framework/Configuration/FrameworkConfigManager.cs
  osu.Framework/Development/ThreadSafety.cs
  osu.Framework/Game.cs
  osu.Framework/Graphics/Performance/FrameTimeDisplay.cs
  osu.Framework/Input/FrameworkActionContainer.cs
  osu.Framework/Platform/ExecutionMode.cs
  osu.Framework/Platform/GameHost.cs
  osu.Framework/Platform/HeadlessGameHost.cs
  osu.Framework/Platform/ThreadRunner.cs
  osu.Framework/Threading/AudioThread.cs
  osu.Framework/Threading/DrawThread.cs
  osu.Framework/Threading/GameThread.cs
  osu.Framework/Threading/InputThread.cs
  osu.Framework/Threading/UpdateThread.cs
  osu.Framework/Timing/ThrottledFrameClock.cs
  osu.Framework/osu.Framework.csproj
Labels: size/XL, type:performance

#3321 Never use LLVM
  osu.Framework.Android.props
  osu.Framework.Templates/templates/template-empty/TemplateGame.iOS/TemplateGame.iOS.csproj
  osu.Framework.iOS.props
Labels: size/XS

#3322 Fix collection stack becoming unbalanced during exit cancellation
  osu.Framework/Statistics/PerformanceMonitor.cs
Labels: area:threading, size/XS
