Repository ppy/osu-framework, pull requests merged in 2021-04, with the labels that each got.

#4328 Update TestSceneActiveState to better visualise what each box means
  osu.Framework.Tests/Visual/Platform/TestSceneActiveState.cs
Labels: size/M

#4334 Update SDL2-CS to latest prerelease
  osu.Framework/osu.Framework.csproj
Labels: area:libraries

#4336 Fix 100% sample volumes for 1 frame in single-threaded execution
  osu.Framework/Audio/Sample/SampleChannelBass.cs
Labels: area:audio, size/M

#4343 Listen to midi messages on all channels
  osu.Framework/Input/Handlers/Midi/MidiHandler.cs
Labels: size/XS

#4344 Fix alt-tab not working well when in fullscreen mode
  osu.Framework/Input/Handlers/Mouse/MouseHandler.cs
Labels: area:platform, size/XS

#4345 Make GameHost.AllowScreenSuspension into an AggregateBindable
  osu.Framework.Android/AndroidGameActivity.cs
  osu.Framework.Tests/Visual/Platform/TestSceneAllowSuspension.cs
  osu.Framework.iOS/IOSGameHost.cs
  osu.Framework/Platform/GameHost.cs
Labels: area:platform, size/M

#4348 Set the SDL hint to minimize on focus loss in fullscreen
  osu.Framework/Input/Handlers/Mouse/MouseHandler.cs
  osu.Framework/Platform/SDL2DesktopWindow.cs
Labels: area:platform, size/XS

#4350 Fix PassThroughInputManager ignoring parent HandleHoverEvents state
  osu.Framework/Input/InputManager.cs
  osu.Framework/Input/PassThroughInputManager.cs
  osu.Framework/Input/UserInputManager.cs
Labels: area:input, size/S

#4352 Remove obsolete method
  osu.Framework/Testing/TestScene.cs
Labels: size/S, type:code-quality

#4354 Update rider metadata files in line with 2021.1 release
  .idea/.idea.osu-framework.Desktop/.idea/indexLayout.xml
Labels: size/XS

#4355 Fix osu.Framework.Tests compilation on mobile platforms
  osu.Framework.Tests/Visual/Input/TestSceneTabletInput.cs
Labels: size/XS, type:testing

#4356 Update libraries
  osu.Framework/osu.Framework.csproj
Labels: size/XS

#4340 Add left/right modifier support to KeyBindingContainer
  osu.Framework.Tests/Input/KeyCombinationModifierTest.cs
  osu.Framework.Tests/Input/KeyCombinationTest.cs
  osu.Framework.Tests/Visual/Input/TestSceneKeyBindingsGrid.cs
  osu.Framework/Input/Bindings/InputKey.cs
  osu.Framework/Input/Bindings/KeyBindingContainer.cs
  osu.Framework/Input/Bindings/KeyCombination.cs
Labels: area:input, size/L

#4353 Fix window potentialy having an incorrect focused state on windows
  osu.Framework/Platform/SDL2DesktopWindow.cs
Labels: area:platform, size/XS

#4359 Fix readable key combination string including main modifier along direction-specific
  osu.Framework.Tests/Input/KeyCombinationTest.cs
  osu.Framework/Input/Bindings/KeyCombination.cs
Labels: area:input, size/M

#4362 Update OpenTabletDriver package to 0.5.3
  osu.Framework/osu.Framework.csproj
Labels: area:libraries, dependencies, size/XS

#4360 Allow OverlayContainers to optionally not block scroll
  osu.Framework.Tests/Visual/UserInterface/TestSceneFocusedOverlayContainer.cs
  osu.Framework/Graphics/Containers/OverlayContainer.cs
Labels: area:input, size/S

#4363 Fix audio device freeing on Linux
  osu.Framework.Tests/Audio/AudioComponentTest.cs
  osu.Framework.Tests/Audio/SampleBassTest.cs
  osu.Framework.Tests/Audio/TrackBassTest.cs
  osu.Framework/Audio/AudioManager.cs
  osu.Framework/Threading/AudioThread.cs
Labels: area:audio, size/M

#4364 Update OpenTabletDriver package to v0.5.3.1
  osu.Framework/osu.Framework.csproj
Labels: area:libraries, dependencies, size/XS

#4366 Fix GridContainer autosizing to relatively-sized children
  osu.Framework.Tests/Visual/Layout/TestSceneGridContainer.cs
  osu.Framework/Graphics/Containers/GridContainer.cs
Labels: area:drawable, size/M

#4368 Improve shutdown performance by not joining the sync device thread
  osu.Framework/Audio/AudioManager.cs
Labels: area:audio, size/S, type:reliability

#4367 Fix possible nullref when setting DecoupleableInterpolatingFramedClock.Rate
  osu.Framework/Timing/DecoupleableInterpolatingFramedClock.cs
  osu.Framework/Timing/FramedClock.cs
  osu.Framework/Timing/FramedOffsetClock.cs
  osu.Framework/Timing/InterpolatingFramedClock.cs
  osu.Framework/Timing/ThrottledFrameClock.cs
Labels: area:clocks, size/M

#4365 Revert weird CursorContainer logic that causes incorrect cursor positioning
  osu.Framework.Tests/Visual/Containers/TestSceneCursorContainer.cs
  osu.Framework/Graphics/Cursor/CursorContainer.cs
Labels: area:drawable, size/M, type:code-quality

#4369 Don't collect input from non-active `InputHandler`s
  osu.Framework/Input/InputManager.cs
Labels: area:input, size/XS

#4370 Remove IBindable interface inheritance
  osu.Framework.Tests/Bindables/BindableTest.cs
  osu.Framework/Bindables/Bindable.cs
  osu.Framework/Bindables/BindableList.cs
  osu.Framework/Bindables/IBindable.cs
  osu.Framework/Bindables/IBindableList.cs
  osu.Framework/Configuration/IniConfigManager.cs
Labels: area:bindable, size/M

#4371 Allow parsing any enum-parsable value to enum bindables
  osu.Framework.Tests/Bindables/BindableEnumTest.cs
  osu.Framework/Bindables/Bindable.cs
Labels: area:bindable, size/M, type:reliability

#4372 Add descriptions to rotation directions
  osu.Framework.Tests/Visual/Drawables/TestSceneTransformSequence.cs
  osu.Framework/Graphics/Drawable.cs
Labels: area:UI, size/S

#4376 Move bitrate assignment to before reversing stream
  osu.Framework.Tests/Audio/TrackBassTest.cs
  osu.Framework/Audio/Track/TrackBass.cs
Labels: area:audio, size/S

#4377 Fix SDL2 window `Position` property not updated sometimes
  osu.Framework.Tests/Visual/Platform/TestSceneBorderless.cs
  osu.Framework.Tests/Visual/Platform/TestSceneFullscreen.cs
  osu.Framework/Platform/SDL2DesktopWindow.cs
  osu.Framework/Platform/Windows/WindowsWindow.cs
Labels: area:platform, size/S

#4379 Only forward feedback cursor updates when the framework window is active
  osu.Framework/Input/Handlers/Mouse/MouseHandler.cs
Labels: area:input, size/XS

#4380 Improve bitrate precision
  osu.Framework/Audio/Track/TrackBass.cs
Labels: size/XS

#4381 Fix possible nullref in GetDescription() extension method
  osu.Framework.Tests/Extensions/TestExtensions.cs
  osu.Framework/Extensions/ExtensionMethods.cs
Labels: size/M, type:reliability

#4383 Add lock object specifically for scheduler to avoid deadlock scenario
  osu.Framework.Tests/Containers/TestSceneLoadComponentAsync.cs
  osu.Framework/Graphics/Drawable.cs
Labels: size/S, type:reliability

#4382 Speed up dynamic compilation type resolution
  osu.Framework/Testing/RoslynTypeReferenceBuilder.cs
Labels: area:tooling, size/M, type:testing

#4384 Add dynamic recompilation message when changed file isn't referenced
  osu.Framework/Testing/ITypeReferenceBuilder.cs
  osu.Framework/Testing/RoslynTypeReferenceBuilder.cs
Labels: area:tooling, size/S, type:testing

#4385 Fix dynamic compilation culling types without resolving type name
  osu.Framework/Testing/RoslynTypeReferenceBuilder.cs
Labels: area:tooling, size/S, type:performance

#4386 Further speed up dynamic compilation type resolution
  osu.Framework/Testing/RoslynTypeReferenceBuilder.cs
Labels: area:tooling, size/M, type:testing

#4388 Fix invocation expression arguments not being explored
  osu.Framework/Testing/RoslynTypeReferenceBuilder.cs
Labels: area:tooling, size/S, type:testing

#4390 Ignore exploring more types during dynamic compilation
  osu.Framework/Testing/RoslynTypeReferenceBuilder.cs
Labels: area:tooling, size/S, type:testing

#4389 Resolve more assemblies for dynamic compilation
  osu.Framework/Testing/RoslynTypeReferenceBuilder.cs
Labels: area:tooling, size/XS, type:testing

#4391 Multithreaded dynamic compilation type resolver
  osu.Framework/Testing/RoslynTypeReferenceBuilder.cs
Labels: area:tooling, size/M, type:testing

#4392 Add "numpad" prefix to `KeyCombination`'s readable output to discern from normal keys
  osu.Framework/Input/Bindings/KeyCombination.cs
Labels: area:input, size/M

#4394 Close midi devices asynchronously to avoid blocking the game UI
  osu.Framework.Tests/Visual/Input/TestSceneMidi.cs
  osu.Framework/Input/Handlers/Midi/MidiHandler.cs
Labels: area:input, size/S, type:performance

#4395 Fix TrackBass not updating current time after seek
  osu.Framework.Tests/Audio/TrackBassTest.cs
  osu.Framework.Tests/Audio/TrackVirtualTest.cs
  osu.Framework/Audio/Track/TrackBass.cs
Labels: area:audio, size/M

#4397 Fix assertion tripping when seeking from within the mixtime callback
  osu.Framework/Audio/Track/TrackBass.cs
Labels: area:audio, size/XS, type:reliability

#4402 Change default value of `CursorInWindow` to false
  osu.Framework/Platform/SDL2DesktopWindow.cs
Labels: area:platform, size/XS

#4401 Change dragging states before triggering end event
  osu.Framework/Input/MouseButtonEventManager.cs
Labels: area:drawable, area:input, size/XS

#4405 Expose ThreadSafety
  osu.Framework/Development/ThreadSafety.cs
Labels: area:threading, size/M, type:reliability

#4408 Add headless test runner for templates tests projects
  osu.Framework.Templates/templates/template-empty/TemplateGame.Game.Tests/Visual/TemplateGameTestScene.cs
  osu.Framework.Templates/templates/template-empty/TemplateGame.Game.Tests/Visual/TestSceneMainScreen.cs
  osu.Framework.Templates/templates/template-empty/TemplateGame.Game.Tests/Visual/TestSceneSpinningBox.cs
  osu.Framework.Templates/templates/template-empty/TemplateGame.Game.Tests/Visual/TestSceneTemplateGameGame.cs
  osu.Framework.Templates/templates/template-flappy/FlappyDon.Game.Tests/Visual/FlappyDonTestScene.cs
  osu.Framework.Templates/templates/template-flappy/FlappyDon.Game.Tests/Visual/TestSceneBackdrop.cs
  osu.Framework.Templates/templates/template-flappy/FlappyDon.Game.Tests/Visual/TestSceneFlappyDonGame.cs
  osu.Framework.Templates/templates/template-flappy/FlappyDon.Game.Tests/Visual/TestSceneObstacles.cs
  osu.Framework.Templates/templates/template-flappy/FlappyDon.Game.Tests/Visual/TestScenePipeObstacle.cs
Labels: area:tooling, size/M, type:testing

#4409 Add ConfigureAwait(false) to DCC
  osu.Framework/Testing/RoslynTypeReferenceBuilder.cs
Labels: area:threading, type:code-quality

#4411 Simplify LifetimeEntry logic, and make SetLifetime overridable
  osu.Framework/Graphics/Performance/LifetimeEntry.cs
  osu.Framework/Graphics/Performance/LifetimeEntryManager.cs
Labels: area:pooling, size/M

#4413 Fix variable declarations not explored by DCC
  osu.Framework/Testing/RoslynTypeReferenceBuilder.cs
Labels: area:tooling, size/XS, type:testing

#4414 Fix type arguments not explored by DCC
  osu.Framework/Testing/RoslynTypeReferenceBuilder.cs
Labels: area:tooling, size/XS, type:testing

#4412 Migrate osu!framework to GitHub Actions
  .config/dotnet-tools.json
  .editorconfig
  .github/workflows/ci-nativelibs.yml
  .github/workflows/ci.yml
  osu.Framework.Tests/osu.Framework.Tests.csproj
Labels: size/L

#4424 Make pack jobs depend on tests passing
  .github/workflows/ci.yml
Labels: size/XS
