Repository ppy/osu-framework, pull requests merged in 2021-03, with the labels that each got.

#4230 Add ArrayPool usage statistics to global statistics overlay
  osu.Framework/Statistics/DotNetRuntimeListener.cs
Labels: size/M

#4231 Dispose .NET runtime listener when not in use
  osu.Framework/Graphics/Performance/GlobalStatisticsDisplay.cs
Labels: size/XS, type:performance

#4241 Allow specifying a custom MemoryAllocator in ArrayPoolTextureUploads
  osu.Framework/Graphics/Performance/FrameStatisticsDisplay.cs
  osu.Framework/Graphics/Performance/PerformanceOverlay.cs
  osu.Framework/Graphics/Textures/ArrayPoolTextureUpload.cs
Labels: size/M, type:performance

#4239 Remove finalizer from video texture uploads
  osu.Framework/Graphics/Video/VideoTextureUpload.cs
Labels: size/M, type:performance

#4240 Remove finalizers from TextureUpload classes
  osu.Framework/Graphics/Textures/ArrayPoolTextureUpload.cs
  osu.Framework/Graphics/Textures/TextureUpload.cs
Labels: size/M

#4243 Remove remaining no-brainer finalizers
  osu.Framework/Allocation/TimedExpiryCache.cs
  osu.Framework/Audio/Track/Waveform.cs
  osu.Framework/Configuration/ConfigManager.cs
  osu.Framework/Graphics/Textures/TextureLoaderStore.cs
  osu.Framework/IO/Network/WebRequest.cs
  osu.Framework/IO/Stores/DllResourceStore.cs
  osu.Framework/IO/Stores/GlyphStore.cs
  osu.Framework/IO/Stores/OnlineStore.cs
  osu.Framework/IO/Stores/ResourceStore.cs
  osu.Framework/IO/Stores/StorageBackedResourceStore.cs
  osu.Framework/Input/Handlers/InputHandler.cs
  osu.Framework/Platform/GameHost.cs
  osu.Framework/Statistics/PerformanceMonitor.cs
  osu.Framework/Testing/DynamicClassCompiler.cs
Labels: size/L

#4242 Remove finalizer from Drawable and DrawNode
  osu.Framework/Graphics/BufferedDrawNodeSharedData.cs
  osu.Framework/Graphics/Containers/CompositeDrawable.cs
  osu.Framework/Graphics/DrawNode.cs
  osu.Framework/Graphics/Drawable.cs
Labels: size/M, type:performance

#4245 Add log for finalizable object allocations
  osu.Framework/Statistics/DotNetRuntimeListener.cs
Labels: area:logging, size/S, type:performance

#4246 Reduce finalizer allocation log level
  osu.Framework/Statistics/DotNetRuntimeListener.cs
Labels: area:logging, size/XS

#4244 Remove finalizer from AudioComponent
  osu.Framework.Tests/Audio/SampleBassTest.cs
  osu.Framework/Audio/AudioComponent.cs
  osu.Framework/Audio/Sample/SampleBassFactory.cs
  osu.Framework/Audio/Sample/SampleChannelBass.cs
  osu.Framework/Audio/Track/TrackBass.cs
Labels: area:audio, size/M, type:performance

#4247 Retain a local reference to arraypool global statistic counters to reduce overhead
  osu.Framework/Statistics/DotNetRuntimeListener.cs
Labels: area:tooling, size/XS, type:performance

#4250 Remove WeakReference overhead when FrameStatisticsDisplay is visible
  osu.Framework/Graphics/OpenGL/Textures/TextureGLAtlas.cs
  osu.Framework/Graphics/Performance/FrameStatisticsDisplay.cs
  osu.Framework/Graphics/Performance/PerformanceOverlay.cs
  osu.Framework/Graphics/Textures/ArrayPoolTextureUpload.cs
  osu.Framework/Graphics/Textures/ITextureUpload.cs
  osu.Framework/Graphics/Textures/MemoryAllocatorTextureUpload.cs
Labels: size/L, type:performance

#4252 Remove SampleChannelBass finalizer
  osu.Framework/Audio/Sample/SampleChannelBass.cs
Labels: area:audio, size/XS, type:performance

#4253 Add RuntimeInfo's determined OS to log output
  osu.Framework/Graphics/Video/VideoDecoder.cs
  osu.Framework/Host.cs
  osu.Framework/Logging/Logger.cs
  osu.Framework/Platform/SDL2/SDL2Extensions.cs
  osu.Framework/RuntimeInfo.cs
Labels: size/S

#4251 Add another event for tracking finalizations
  osu.Framework/Statistics/DotNetRuntimeListener.cs
Labels: area:logging, size/M, type:performance

#4256 Move TextureGL's finalizer local to TextureGLSingle
  osu.Framework/Graphics/OpenGL/Textures/TextureGL.cs
  osu.Framework/Graphics/OpenGL/Textures/TextureGLSingle.cs
Labels: size/S

#4254 Remove unused bindable from OsuTKRawMouseHandler
  osu.Framework/Input/Handlers/Mouse/OsuTKRawMouseHandler.cs
Labels: area:input, size/XS, type:code-quality

#4255 Improve code quality surrounding confine mode changes
  osu.Framework.Tests/Visual/Platform/TestSceneFullscreen.cs
  osu.Framework/Platform/SDL2DesktopWindow.cs
Labels: area:input, size/M, type:code-quality

#4249 Fix text builder not invalidating on indirect relative size changes
  osu.Framework.Tests/Visual/Sprites/TestSceneSpriteTextMaxWidth.cs
  osu.Framework/Graphics/Sprites/SpriteText.cs
Labels: area:UI, size/S

#4259 Fix HasFlagFast not working for 0 values
  osu.Framework/Extensions/EnumExtensions/EnumExtensions.cs
Labels: size/XS, type:compatibility

#4262 Usage of unused variable
  osu.Framework/Graphics/Containers/ScrollContainer.cs
Labels: area:UI, size/XS

#4263 Fix crash on startup on iOS due to host being null?
  osu.Framework/Input/Bindings/KeyBindingContainer.cs
  osu.Framework/Input/PlatformActionContainer.cs
Labels: platform:iOS, size/S, type:reliability

#4261 Update usages of await to always call ConfigureAwait(false)
  CodeAnalysis/osu-framework.ruleset
  osu.Framework.Tests/IO/TestWebRequest.cs
  osu.Framework.Tests/Localisation/LocalisationTest.cs
  osu.Framework.Tests/Visual/Drawables/TestSceneConcurrentLoad.cs
  osu.Framework.Tests/Visual/Sprites/TestSceneSpriteTextScenarios.cs
  osu.Framework.Tests/Visual/Sprites/TestVideo.cs
  osu.Framework/Audio/Track/TrackBass.cs
  osu.Framework/Audio/Track/Waveform.cs
  osu.Framework/Graphics/Textures/TextureStore.cs
  osu.Framework/IO/Network/WebRequest.cs
  osu.Framework/IO/Stores/DllResourceStore.cs
  osu.Framework/IO/Stores/FontStore.cs
  osu.Framework/IO/Stores/GlyphStore.cs
  osu.Framework/IO/Stores/OnlineStore.cs
  osu.Framework/IO/Stores/ResourceStore.cs
  osu.Framework/IO/Stores/StorageBackedResourceStore.cs
  osu.Framework/Platform/GameHost.cs
  osu.Framework/Platform/TcpIpcProvider.cs
  osu.Framework/Testing/DynamicClassCompiler.cs
  osu.Framework/Testing/EmptyTypeReferenceBuilder.cs
  osu.Framework/Testing/RoslynTypeReferenceBuilder.cs
Labels: platform:iOS, size/L, type:reliability

#4265 Fix LocalisableString operator== failing for non-interned strings
  osu.Framework.Benchmarks/BenchmarkLocalisableString.cs
  osu.Framework.Tests/Localisation/LocalisableStringTest.cs
  osu.Framework.Tests/Visual/Testing/TestSceneTest.cs
  osu.Framework/Graphics/Sprites/SpriteText.cs
  osu.Framework/Localisation/LocalisableString.cs
  osu.Framework/Localisation/LocalisableStringEqualityComparer.cs
  osu.Framework/Localisation/LocalisationManager_LocalisedBindableString.cs
  osu.Framework/Localisation/RomanisableString.cs
  osu.Framework/Localisation/TranslatableString.cs
Labels: area:localisation, size/L

#4266 Replace local implementation of EnumerateBaseTypes
  osu.Framework/Development/ReflectionUtils.cs
Labels: size/S, type:code-quality

#4257 Use SDL2 relative mouse mode by default
  osu.Framework.Tests/Visual/Input/TestSceneInputManager.cs
  osu.Framework/Input/Handlers/Mouse/MouseHandler.cs
  osu.Framework/Platform/DesktopGameHost.cs
  osu.Framework/Platform/MacOS/MacOSGameHost.cs
  osu.Framework/Platform/SDL2DesktopWindow.cs
Labels: area:input, size/L

#4268 Add missed `ConfigureAwait(false)` calls for netstandard
  osu.Framework/IO/Network/WebRequest.cs
Labels: size/XS, type:reliability

#4267 Remove the majority of osuTK support
  SampleGame.Desktop/Program.cs
  osu.Framework.Android/AndroidGameHost.cs
  osu.Framework.Tests/Program.cs
  osu.Framework.Tests/Visual/Input/TestSceneInputManager.cs
  osu.Framework.Tests/Visual/Platform/TestSceneBorderless.cs
  osu.Framework.iOS/IOSGameHost.cs
  osu.Framework/Graphics/Containers/SafeAreaDefiningContainer.cs
  osu.Framework/Host.cs
  osu.Framework/Input/Handlers/Joystick/OsuTKJoystickHandler.cs
  osu.Framework/Input/Handlers/Keyboard/OsuTKKeyboardHandler.cs
  osu.Framework/Input/Handlers/Mouse/OsuTKEventMouseState.cs
  osu.Framework/Input/Handlers/Mouse/OsuTKMouseHandler.cs
  osu.Framework/Input/Handlers/Mouse/OsuTKMouseHandlerBase.cs
  osu.Framework/Input/Handlers/Mouse/OsuTKMouseState.cs
  osu.Framework/Input/Handlers/Mouse/OsuTKPollMouseState.cs
  osu.Framework/Input/Handlers/Mouse/OsuTKRawMouseHandler.cs
  osu.Framework/Platform/DesktopGameHost.cs
  osu.Framework/Platform/GameHost.cs
  osu.Framework/Platform/HeadlessGameHost.cs
  osu.Framework/Platform/Linux/LinuxClipboard.cs
  osu.Framework/Platform/Linux/LinuxGameHost.cs
  osu.Framework/Platform/Linux/OsuTKLinuxWindow.cs
  osu.Framework/Platform/MacOS/MacOSGameHost.cs
  osu.Framework/Platform/MacOS/Native/NSApplication.cs
  osu.Framework/Platform/MacOS/OsuTKMacOSWindow.cs
  osu.Framework/Platform/OsuTKDesktopWindow.cs
  osu.Framework/Platform/OsuTKGameHost.cs
  osu.Framework/Platform/SDL2DesktopWindow.cs
  osu.Framework/Platform/Windows/OsuTKWindowsWindow.cs
  osu.Framework/Platform/Windows/WindowsGameHost.cs
Labels: area:opentk, size/XXL

#4270 Fix midi events not making RequestsNonPositionalInput=true
  osu.Framework/Graphics/Drawable.cs
Labels: area:input, size/XS

#4280 Move SpriteText's bind logic to LoadComplete to alleviate potential threading issues
  osu.Framework/Graphics/Sprites/SpriteText.cs
Labels: area:UI, size/S, type:reliability

#4275 Fix potential null reference when iterating open midi devices
  osu.Framework/Input/Handlers/Midi/MidiInputHandler.cs
Labels: area:input, size/M, type:reliability

#4271 Add new configuration store for InputHandlers
  osu.Framework.Tests/Configuration/InputConfigManagerTest.cs
  osu.Framework.Tests/Visual/Input/TestSceneInputManager.cs
  osu.Framework/Configuration/ConfigManager.cs
  osu.Framework/Configuration/FrameworkConfigManager.cs
  osu.Framework/Configuration/InputConfigManager.cs
  osu.Framework/Configuration/TypedRepopulatingConverter.cs
  osu.Framework/Platform/GameHost.cs
Labels: area:configuration, area:input, size/L

#4276 Combine WindowsRawInputHandler and WindowsMouseHandler into a single implementation
  osu.Framework/Platform/Windows/WindowsGameHost.cs
  osu.Framework/Platform/Windows/WindowsMouseHandler.cs
  osu.Framework/Platform/Windows/WindowsRawInputMouseHandler.cs
Labels: area:input, size/L, type:code-quality

#4274 Fix resetting input handlers via IgnoredInputHandlers causing reinitialisation
  osu.Framework.Tests/Visual/Input/TestSceneInputManager.cs
  osu.Framework/Input/Handlers/InputHandler.cs
  osu.Framework/Input/Handlers/Joystick/JoystickHandler.cs
  osu.Framework/Input/Handlers/Keyboard/KeyboardHandler.cs
  osu.Framework/Input/Handlers/Midi/MidiInputHandler.cs
  osu.Framework/Input/Handlers/Mouse/MouseHandler.cs
  osu.Framework/Platform/GameHost.cs
Labels: area:input, size/M

#4279 Add Resizable property in SDLWindow
  osu.Framework.Tests/Visual/Platform/TestSceneResizableWindow.cs
  osu.Framework/Platform/SDL2DesktopWindow.cs
Labels: area:platform, size/M

#4272 Prepare InputHandlers for configuration via bindables and reflection
  osu.Framework.Android/AndroidGameHost.cs
  osu.Framework.Tests/Visual/Input/TestSceneInputManager.cs
  osu.Framework.iOS/IOSGameHost.cs
  osu.Framework/Input/Handlers/InputHandler.cs
  osu.Framework/Input/Handlers/Joystick/JoystickHandler.cs
  osu.Framework/Input/Handlers/Keyboard/KeyboardHandler.cs
  osu.Framework/Input/Handlers/Midi/MidiHandler.cs
  osu.Framework/Input/Handlers/Mouse/MouseHandler.cs
  osu.Framework/Platform/DesktopGameHost.cs
  osu.Framework/Platform/MacOS/MacOSGameHost.cs
Labels: area:input, size/M, type:code-quality

#4277 Fix CursorInWindow not updating as expected
  osu.Framework.Tests/Visual/Platform/TestSceneActiveState.cs
  osu.Framework/Input/Handlers/Mouse/MouseHandler.cs
Labels: area:input, size/S

#4162 Add tablet support
  osu.Framework.Benchmarks/BenchmarkTabletDriver.cs
  osu.Framework.Tests/Visual/Input/TestScenePassThroughInputManager.cs
  osu.Framework.Tests/Visual/Input/TestSceneTabletInput.cs
  osu.Framework/Graphics/Drawable.cs
  osu.Framework/Input/Bindings/InputKey.cs
  osu.Framework/Input/Bindings/KeyBindingContainer.cs
  osu.Framework/Input/Bindings/KeyCombination.cs
  osu.Framework/Input/Events/TabletAuxiliaryButtonEvent.cs
  osu.Framework/Input/Events/TabletAuxiliaryButtonPressEvent.cs
  osu.Framework/Input/Events/TabletAuxiliaryButtonReleaseEvent.cs
  osu.Framework/Input/Events/TabletEvent.cs
  osu.Framework/Input/Events/TabletPenButtonEvent.cs
  osu.Framework/Input/Events/TabletPenButtonPressEvent.cs
  osu.Framework/Input/Events/TabletPenButtonReleaseEvent.cs
  osu.Framework/Input/Handlers/Tablet/AbsoluteTabletMode.cs
  osu.Framework/Input/Handlers/Tablet/OpenTabletDriverHandler.cs
  osu.Framework/Input/Handlers/Tablet/TabletDriver.cs
  osu.Framework/Input/InputManager.cs
  osu.Framework/Input/PassThroughInputManager.cs
  osu.Framework/Input/StateChanges/TabletAuxiliaryButtonInput.cs
  osu.Framework/Input/StateChanges/TabletPenButtonInput.cs
  osu.Framework/Input/States/InputState.cs
  osu.Framework/Input/States/TabletState.cs
  osu.Framework/Input/TabletAuxiliaryButton.cs
  osu.Framework/Input/TabletAuxiliaryButtonEventManager.cs
  osu.Framework/Input/TabletPenButton.cs
  osu.Framework/Input/TabletPenButtonEventManager.cs
  osu.Framework/Platform/DesktopGameHost.cs
  osu.Framework/Statistics/FrameStatistics.cs
  osu.Framework/Testing/Input/ManualInputManager.cs
  osu.Framework/Threading/InputThread.cs
  osu.Framework/osu.Framework.csproj
Labels: area:input, size/XXL

#4283 Fix SDL2 mouse position warping not respecting DPI scaling
  osu.Framework/Platform/SDL2DesktopWindow.cs
Labels: area:input, area:platform, size/XS

#4282 Make ConfigManager.Set protected to avoid accidentally setting default values
  osu.Framework.Tests/Configuration/InputConfigManagerTest.cs
  osu.Framework.Tests/Localisation/LocalisationTest.cs
  osu.Framework.Tests/Visual/Containers/TestSceneFrontToBack.cs
  osu.Framework.Tests/Visual/Containers/TestSceneFrontToBackBox.cs
  osu.Framework.Tests/Visual/Input/TestSceneInputManager.cs
  osu.Framework.Tests/Visual/Platform/TestSceneBorderless.cs
  osu.Framework.Tests/Visual/Platform/TestSceneFullscreen.cs
  osu.Framework.Tests/Visual/Sprites/TestSceneRomanisableSpriteText.cs
  osu.Framework.Tests/Visual/Sprites/TestSceneSpriteTextScenarios.cs
  osu.Framework.iOS/IOSGameHost.cs
  osu.Framework/Configuration/ConfigManager.cs
  osu.Framework/Testing/TestBrowser.cs
Labels: area:configuration, size/L, type:code-quality

#4285 Add support for osuTK Vector2 json serialisation
  osu.Framework/IO/Serialization/Vector2Converter.cs
  osu.Framework/Platform/GameHost.cs
Labels: area:configuration, size/M

#4284 Expose required bindables via ITabletHandler interface for end-user configurability
  osu.Framework/Input/Handlers/Tablet/ITabletHandler.cs
  osu.Framework/Input/Handlers/Tablet/OpenTabletDriverHandler.cs
  osu.Framework/Input/Handlers/Tablet/TabletInfo.cs
Labels: area:input, size/L

#4287 Add public `SetValue()` method to `ConfigManager`
  osu.Framework.Tests/Configuration/InputConfigManagerTest.cs
  osu.Framework.Tests/Localisation/LocalisationTest.cs
  osu.Framework.Tests/Visual/Containers/TestSceneFrontToBack.cs
  osu.Framework.Tests/Visual/Containers/TestSceneFrontToBackBox.cs
  osu.Framework.Tests/Visual/Input/TestSceneInputManager.cs
  osu.Framework.Tests/Visual/Platform/TestSceneBorderless.cs
  osu.Framework.Tests/Visual/Platform/TestSceneFullscreen.cs
  osu.Framework.Tests/Visual/Sprites/TestSceneRomanisableSpriteText.cs
  osu.Framework.Tests/Visual/Sprites/TestSceneSpriteTextScenarios.cs
  osu.Framework.iOS/IOSGameHost.cs
  osu.Framework/Configuration/ConfigManager.cs
  osu.Framework/Configuration/FrameworkConfigManager.cs
  osu.Framework/Configuration/FrameworkDebugConfig.cs
  osu.Framework/Configuration/IniConfigManager.cs
  osu.Framework/Testing/TestBrowser.cs
  osu.Framework/Testing/TestBrowserConfig.cs
Labels: area:configuration, size/L

#4289 Fix macOS hard crash when performing non-precise scroll on titlebar
  osu.Framework/Platform/MacOS/MacOSWindow.cs
Labels: area:platform, platform:macOS, size/XS, type:reliability

#4293 Avoid changing the enabled state of MidiHandler from the input thread
  osu.Framework/Input/Handlers/Midi/MidiHandler.cs
Labels: area:input, size/XS

#4296 Specify precision for mouse handler sensitivity bindable
  osu.Framework/Input/Handlers/Mouse/MouseHandler.cs
Labels: area:input, size/XS

#4298 Remove artificial memory pressure from VBOs
  osu.Framework/Graphics/OpenGL/Buffers/VertexBuffer.cs
Labels: size/XS, type:performance

#4301 Fix OnResized events not always being fired on SDL window size changes
  osu.Framework/Platform/SDL2DesktopWindow.cs
Labels: size/S

#4300 Don't throw when attempting to `Stop` a `SampleChannel` post-disposal
  osu.Framework/Audio/Sample/SampleChannel.cs
Labels: area:audio, size/XS

#4302 Make circular approximation less prone to FP failures
  osu.Framework/Utils/PathApproximator.cs
Labels: area:graphics, size/S

#4304 Add xmldoc stating parent invalidations always propagate
  osu.Framework/Graphics/Drawable.cs
Labels: area:drawable, size/XS, type:documentation

#4305 Ensure disposal of drawables within DrawablePool
  osu.Framework/Graphics/Pooling/DrawablePool.cs
Labels: area:pooling, size/XS

#4306 Remove finaliser from AsyncBufferStream
  osu.Framework/IO/AsyncBufferStream.cs
Labels: size/XS, type:code-quality

#4303 Avoid using DI for audio component adjustment lookup to better support pooling
  osu.Framework/Graphics/Audio/DrawableAudioWrapper.cs
Labels: area:audio, size/M

#4310 Allow caps lock events to fire via KeyDown / KeyUp
  osu.Framework/Platform/SDL2DesktopWindow.cs
Labels: area:platform, size/XS

#4311 Add caps lock state querying support for the general desktop platform case
  osu.Framework/Platform/DesktopGameHost.cs
  osu.Framework/Platform/SDL2DesktopWindow.cs
Labels: area:input, size/XS

#4312 Ensure relative mouse mode is never set when the cursor has not been hidden
  osu.Framework.Tests/Visual/Input/TestSceneInputManager.cs
  osu.Framework/Input/Handlers/Mouse/MouseHandler.cs
  osu.Framework/Platform/SDL2DesktopWindow.cs
Labels: area:input, size/M

#4316 Update libraries
  osu.Framework.Tests/Bindables/BindableSerializationTest.cs
  osu.Framework.Tests/IO/TestSortedListSerialization.cs
  osu.Framework.Tests/IO/TestWebRequest.cs
  osu.Framework/osu.Framework.csproj
Labels: area:libraries, size/M

#4315 Avoid feedback from input devices reporting via multiple handlers
  osu.Framework.Android/Input/AndroidKeyboardHandler.cs
  osu.Framework.Android/Input/AndroidTouchHandler.cs
  osu.Framework.iOS/Input/IOSKeyboardHandler.cs
  osu.Framework.iOS/Input/IOSMouseHandler.cs
  osu.Framework.iOS/Input/IOSRawKeyboardHandler.cs
  osu.Framework.iOS/Input/IOSTouchHandler.cs
  osu.Framework/Input/CustomInputManager.cs
  osu.Framework/Input/Handlers/InputHandler.cs
  osu.Framework/Input/Handlers/Joystick/JoystickHandler.cs
  osu.Framework/Input/Handlers/Keyboard/KeyboardHandler.cs
  osu.Framework/Input/Handlers/Midi/MidiHandler.cs
  osu.Framework/Input/Handlers/Mouse/MouseHandler.cs
  osu.Framework/Input/Handlers/Tablet/OpenTabletDriverHandler.cs
  osu.Framework/Input/InputManager.cs
  osu.Framework/Platform/DesktopGameHost.cs
  osu.Framework/Platform/GameHost.cs
  osu.Framework/Platform/Windows/WindowsMouseHandler.cs
  osu.Framework/Testing/Input/ManualInputManager.cs
Labels: area:input, size/L

#4319 Transfer cursor position updates from non-mouse input handlers back to OS cursor
  osu.Framework/Input/Handlers/INeedsMousePositionFeedback.cs
  osu.Framework/Input/Handlers/Mouse/MouseHandler.cs
  osu.Framework/Input/InputManager.cs
Labels: area:input, size/S

#4313 Add bounding box method for circular arcs
  osu.Framework.Tests/Visual/Drawables/TestSceneCircularArcBoundingBox.cs
  osu.Framework/Utils/PathApproximator.cs
Labels: area:drawable, size/L

#4321 Expose tablet rotation as bindable for configuration
  osu.Framework/Input/Handlers/Tablet/ITabletHandler.cs
  osu.Framework/Input/Handlers/Tablet/OpenTabletDriverHandler.cs
Labels: size/S

#4320 Update SDL libraries
  osu.Framework/osu.Framework.csproj
Labels: area:libraries, size/XS

#4325 Improve messaging from SDL2 GL context failures
  osu.Framework/Platform/SDL2/SDL2GraphicsBackend.cs
Labels: area:logging, size/XS

#4326 Don't delay application terminations on main-thread unhandled exceptions
  osu.Framework/Platform/GameHost.cs
Labels: size/S, type:reliability

#4327 Remove unnecessary redirection methods when triggering SDL window events
  osu.Framework/Platform/MacOS/MacOSWindow.cs
  osu.Framework/Platform/SDL2DesktopWindow.cs
Labels: size/L
