Repository ppy/osu-framework, pull requests merged in 2021-11, with the labels that each got.

#4522 Fix single frame delay and fade in when replacing full text of a textbox
  osu.Framework/Graphics/UserInterface/TextBox.cs
Labels: area:UI, size/M

#4850 Ensure text box's `Text` and `Current.Value` are synchronised
  osu.Framework.Tests/Visual/UserInterface/TestSceneTextBox.cs
  osu.Framework/Graphics/UserInterface/TextBox.cs
Labels: area:UI, size/L

#4855 Update dependencies
  osu.Framework.Templates/templates/template-empty/TemplateGame.Game.Tests/TemplateGame.Game.Tests.csproj
  osu.Framework.Templates/templates/template-empty/TemplateGame.Game/TemplateGame.Game.csproj
  osu.Framework.Templates/templates/template-empty/TemplateGame.iOS/TemplateGame.iOS.csproj
  osu.Framework.Templates/templates/template-flappy/FlappyDon.Game.Tests/FlappyDon.Game.Tests.csproj
  osu.Framework.Templates/templates/template-flappy/FlappyDon.Game/FlappyDon.Game.csproj
  osu.Framework.Templates/templates/template-flappy/FlappyDon.iOS/FlappyDon.iOS.csproj
  osu.Framework.Tests/osu.Framework.Tests.csproj
  osu.Framework.iOS.props
  osu.Framework/osu.Framework.csproj
Labels: size/S, dependencies

#4849 Add `LocalisableString` support for `TextFlowContainer`
  osu.Framework.Benchmarks/BenchmarkLocalisedBindableString.cs
  osu.Framework.Tests/Localisation/LocalisationTest.cs
  osu.Framework.Tests/Visual/Localisation/TestSceneTextFlowLocalisation.cs
  osu.Framework/Graphics/Containers/CustomizableTextChunk.cs
  osu.Framework/Graphics/Containers/CustomizableTextContainer.cs
  osu.Framework/Graphics/Containers/ITextPart.cs
  osu.Framework/Graphics/Containers/Markdown/MarkdownTextFlowContainer.cs
  osu.Framework/Graphics/Containers/TextChunk.cs
  osu.Framework/Graphics/Containers/TextFlowContainer.cs
  osu.Framework/Graphics/Sprites/SpriteText.cs
  osu.Framework/Localisation/LocalisationManager.cs
  osu.Framework/Localisation/LocalisationManager_LocalisedBindableString.cs
Labels: area:drawable, area:localisation, size/L

#4856 Allow `TextFlowContainer` parts to be generated asynchronously where possible
  osu.Framework.Tests/Visual/Localisation/TestSceneTextFlowContainerLocalisation.cs
  osu.Framework/Graphics/Containers/TextFlowContainer.cs
Labels: type:performance, area:drawable, size/L

#4860 Fix video playback failing on invalid frame timestamps
  osu.Framework/Graphics/Video/VideoDecoder.cs
Labels: size/XS, area:video

#4861 Upgrade to nvika 1.0.4
  .config/dotnet-tools.json
Labels: area:tooling, size/XS

#4859 Allow BufferedDrawNode's frame buffer to be clipped to the root node
  osu.Framework/Graphics/BufferedDrawNode.cs
  osu.Framework/Graphics/BufferedDrawNodeSharedData.cs
  osu.Framework/Graphics/Containers/BufferedContainer.cs
  osu.Framework/Graphics/Containers/BufferedContainer_DrawNode.cs
  osu.Framework/Graphics/Lines/Path.cs
Labels: type:performance, area:drawable, size/M

#4862 Use official nvika package again
  .config/dotnet-tools.json
Labels: type:code-quality, size/XS

#4864 Fix micelaneous inspections
  SampleGame.iOS/Application.cs
  osu.Framework.Android/AndroidGameHost.cs
  osu.Framework.Android/AndroidGameView.cs
  osu.Framework.Android/Graphics/Textures/AndroidTextureLoaderStore.cs
  osu.Framework.Android/Graphics/Video/AndroidVideoDecoder.cs
  osu.Framework.Android/Input/AndroidTextInput.cs
  osu.Framework.Templates/templates/template-empty/TemplateGame.iOS/Application.cs
  osu.Framework.Templates/templates/template-flappy/FlappyDon.Game/Elements/Obstacles.cs
  osu.Framework.Templates/templates/template-flappy/FlappyDon.iOS/Application.cs
  osu.Framework.Tests.iOS/Application.cs
  osu.Framework.iOS/Graphics/Textures/IOSTextureLoaderStore.cs
  osu.Framework.iOS/Graphics/Video/IOSVideoDecoder.cs
  osu.Framework.iOS/IOSGameHost.cs
  osu.Framework.iOS/Input/IOSTextInput.cs
Labels: type:code-quality, size/M

#4863 Move `CacheDrawnFrameBuffer` property to constructor, replacing `clipToRootNode`
  osu.Framework.Tests/Visual/Containers/TestSceneCachedBufferedContainer.cs
  osu.Framework/Graphics/Containers/BufferedContainer.cs
  osu.Framework/Graphics/Effects/BlurEffect.cs
  osu.Framework/Graphics/Effects/GlowEffect.cs
  osu.Framework/Graphics/Effects/OutlineEffect.cs
Labels: area:drawable, size/M

#4867 Fix .avi video seeking and Android playback when HW acceleration is enabled
  osu.Framework.Android/Graphics/Video/AndroidVideoDecoder.cs
  osu.Framework/Graphics/Video/FFmpegCodec.cs
  osu.Framework/Graphics/Video/VideoDecoder.cs
Labels: size/L, area:video

#4834 Add `ReadableKeyCombinationProvider`
  osu.Framework.Tests/Input/ReadableKeyCombinationTest.cs
  osu.Framework.Tests/Visual/Input/TestSceneReadableKeyCombinationProvider.cs
  osu.Framework/Input/Bindings/KeyCombination.cs
  osu.Framework/Input/ReadableKeyCombinationProvider.cs
  osu.Framework/Platform/GameHost.cs
  osu.Framework/Platform/IWindow.cs
  osu.Framework/Platform/Linux/LinuxGameHost.cs
  osu.Framework/Platform/Linux/LinuxReadableKeyCombinationProvider.cs
  osu.Framework/Platform/MacOS/MacOSGameHost.cs
  osu.Framework/Platform/MacOS/MacOSReadableKeyCombinationProvider.cs
  osu.Framework/Platform/OsuTKWindow.cs
  osu.Framework/Platform/SDL2/SDL2Extensions.cs
  osu.Framework/Platform/SDL2/SDL2ReadableKeyCombinationProvider.cs
  osu.Framework/Platform/SDL2DesktopWindow.cs
  osu.Framework/Platform/Windows/WindowsGameHost.cs
  osu.Framework/Platform/Windows/WindowsReadableKeyCombinationProvider.cs
Labels: area:input, size/XXL, area:platform

#4869 Rename `Option` to `Opt` in key combination output
  osu.Framework/Platform/MacOS/MacOSReadableKeyCombinationProvider.cs
Labels: platform:macOS, size/XS, area:platform

#4870 Set window title after creation
  osu.Framework/Platform/GameHost.cs
Labels: size/XS

#4871 Disable dependabot for now
  .github/dependabot.yml
Labels: size/XS

#4872 Make `AudioMixer` non-adjustable
  osu.Framework/Audio/AudioCollectionManager.cs
  osu.Framework/Audio/AudioManager.cs
  osu.Framework/Audio/Mixing/AudioMixer.cs
Labels: area:audio, size/XS

#4874 Add ability to create `Track`/`SampleStore` with a custom `AudioMixer`
  osu.Framework/Audio/AudioManager.cs
Labels: area:audio, size/S

#4873 Stop exposing `TrackBass`'s constructor
  osu.Framework/Audio/Track/TrackBass.cs
Labels: type:code-quality, area:audio, size/XS

#4875 Fix audio mixers potentially not showing in `AudioMixer` visualiser
  osu.Framework/Audio/AudioManager.cs
  osu.Framework/Audio/Mixing/Bass/BassAudioMixer.cs
  osu.Framework/Graphics/Visualisation/Audio/AudioMixerVisualiser.cs
  osu.Framework/Graphics/Visualisation/Audio/MixerDisplay.cs
Labels: area:audio, size/M

#4877 Add rider generated .idea files on iOS solution filter
  .idea/.idea.osu-framework.iOS/.idea/indexLayout.xml
  .idea/.idea.osu-framework.iOS/.idea/projectSettingsUpdater.xml
Labels: size/XS

#4878 Add Rider autogenerated .idea files
  .idea/.idea.osu-framework.Android/.idea/indexLayout.xml
  .idea/.idea.osu-framework.Android/.idea/projectSettingsUpdater.xml
  .idea/.idea.osu-framework/.idea/indexLayout.xml
  .idea/.idea.osu-framework/.idea/misc.xml
  .idea/.idea.osu-framework/.idea/projectSettingsUpdater.xml
Labels: area:tooling, size/S

#4879 Downgrade `Microsoft.Diagnostics.Runtime` back to avoid AOT issues with iOS
  osu.Framework.iOS.props
  osu.Framework/osu.Framework.csproj
Labels: area:libraries, size/S

#4880 Add more user-friendly variant of the exponential damp interpolation
  osu.Framework.Tests/MathUtils/TestInterpolation.cs
  osu.Framework/Utils/Interpolation.cs
Labels: area:graphics, size/M

#4881 Use upstream `ManagedBass` packages again and update to 3.1.0
  osu.Framework.iOS.props
  osu.Framework/osu.Framework.csproj
Labels: area:libraries, size/S, dependencies

#4876 Show audio mixer identifier strings on the visualiser
  osu.Framework.Tests/Audio/BassTestComponents.cs
  osu.Framework.Tests/Visual/Testing/TestSceneAudioMixerVisualiser.cs
  osu.Framework/Audio/AudioManager.cs
  osu.Framework/Audio/Mixing/AudioMixer.cs
  osu.Framework/Audio/Mixing/Bass/BassAudioMixer.cs
  osu.Framework/Graphics/Audio/DrawableAudioMixer.cs
  osu.Framework/Graphics/Visualisation/Audio/MixerDisplay.cs
Labels: area:audio, area:tooling, size/M

#4884 Work around `System.Memory` assembly reference conflicts in iOS
  osu.Framework.iOS.props
Labels: area:libraries, platform:iOS, size/S

#4885 Replace Add with AddGame in template game tests
  osu.Framework.Templates/templates/template-empty/TemplateGame.Game.Tests/Visual/TestSceneTemplateGameGame.cs
  osu.Framework.Templates/templates/template-flappy/FlappyDon.Game.Tests/Visual/TestSceneFlappyDonGame.cs
Labels: area:tooling, size/XS

#4887 Log BASSmix version on successful BASS device initialization
  osu.Framework/Audio/AudioManager.cs
Labels: area:audio, size/XS

#4883 Work around `ManagedBass.Fx` and `ManagedBass.Mix` ignoring `app.config` on iOS
  osu.Framework.iOS/ManagedBass.Fx.dll.config
  osu.Framework.iOS/ManagedBass.Mix.dll.config
  osu.Framework.iOS/app.config
  osu.Framework.iOS/osu.Framework.iOS.csproj
Labels: area:audio, area:libraries, platform:iOS, size/S

#4889 Add mixer output levels to audio visualizer
  osu.Framework/Graphics/Visualisation/Audio/AudioChannelDisplay.cs
  osu.Framework/Graphics/Visualisation/Audio/MixerDisplay.cs
Labels: area:audio, size/M

#4865 Add `SDL2DesktopWindowTextInput` and polish `ITextInputSource`s
  osu.Framework.Android/Input/AndroidTextInput.cs
  osu.Framework.iOS/Input/IOSTextInput.cs
  osu.Framework/Graphics/UserInterface/TextBox.cs
  osu.Framework/Input/GameWindowTextInput.cs
  osu.Framework/Input/ITextInputSource.cs
  osu.Framework/Input/SDL2DesktopWindowTextInput.cs
  osu.Framework/Platform/DesktopGameHost.cs
  osu.Framework/Platform/MacOS/MacOSGameHost.cs
  osu.Framework/Platform/MacOS/MacOSTextInput.cs
  osu.Framework/Platform/SDL2DesktopWindow.cs
Labels: type:code-quality, size/L, area:platform

#4891 Add "iPhone Developer" codesign key to iOS projects
  osu.Framework.iOS.props
Labels: area:tooling, platform:iOS, size/XS

#3044 Update iOS native packaging
  osu.Framework.iOS.props
  osu.Framework.iOS/Properties/AssemblyInfo.cs
  osu.Framework.iOS/osu.Framework.iOS.csproj
Labels: area:tooling, platform:iOS, size/M

#4892 Fix .webm videos reporting incorrect duration
  osu.Framework/Graphics/Video/VideoDecoder.cs
Labels: size/XS, area:video

#4893 Improve test coverage of video playback
  osu.Framework.Tests/Resources/Videos/sample-video.avi
  osu.Framework.Tests/Resources/Videos/sample-video.mp4
  osu.Framework.Tests/Resources/Videos/sample-video.webm
  osu.Framework.Tests/Visual/FrameworkGridTestScene.cs
  osu.Framework.Tests/Visual/FrameworkTestScene.cs
  osu.Framework.Tests/Visual/FrameworkTestSceneTestRunner.cs
  osu.Framework.Tests/Visual/Sprites/TestSceneVideo.cs
  osu.Framework.Tests/Visual/Sprites/TestSceneVideoLayout.cs
  osu.Framework.Tests/Visual/Sprites/TestSceneWrapModes.cs
  osu.Framework.Tests/Visual/Sprites/TestVideo.cs
Labels: type:testing, size/L, area:video

#4890 Preserve BASS FX and BASSmix library symbols from getting stripped in iOS
  osu.Framework.iOS.props
  osu.Framework.iOS/generate-symbol-strip-flags.sh
Labels: platform:iOS, size/S

#4896 Remove `KeyBindingContainer.SendRepeats`
  osu.Framework.Tests/Visual/Input/TestSceneKeyBindingContainer.cs
  osu.Framework.Tests/Visual/Input/TestSceneKeyBindingsGrid.cs
  osu.Framework/Input/Bindings/KeyBindingContainer.cs
  osu.Framework/Input/PlatformActionContainer.cs
Labels: area:input, size/L

#4868 Exclude BASS default audio device from the public `AudioDeviceNames` list
  osu.Framework.Tests/Audio/AudioManagerWithDeviceLoss.cs
  osu.Framework/Audio/AudioManager.cs
Labels: blocked, area:audio, size/M

#4899 Ensure non-alive drawables don't receive key repeats from `KeyBindingContainer`
  osu.Framework.Tests/Visual/Input/TestSceneKeyBindingContainer.cs
  osu.Framework/Input/Bindings/KeyBindingContainer.cs
Labels: area:input, size/M

#4901 Add back ability to disable key repeat firing in `KeyBindingContainer`
  osu.Framework/Input/Bindings/KeyBindingContainer.cs
Labels: size/S

#4900 Update all `OnPressed` methods to block repeats where applicable
  osu.Framework/Game.cs
  osu.Framework/Testing/TestBrowser.cs
Labels: area:input, size/XS

#4683 Reduce `FillFlowContainer` list allocations
  osu.Framework.Benchmarks/BenchmarkFillFlowContainerAllocations.cs
  osu.Framework/Graphics/Containers/FillFlowContainer.cs
  osu.Framework/Graphics/Containers/FlowContainer.cs
Labels: type:performance, size/L, area:layout

#4902 Fix improper access to rented array in `FillFlowContainer` with `^` indexer
  osu.Framework/Graphics/Containers/FillFlowContainer.cs
Labels: area:drawable, size/XS

#4903 Update BASS libs
  osu.Framework.Android/arm64-v8a/libbass.so
  osu.Framework.Android/arm64-v8a/libbass_fx.so
  osu.Framework.Android/armeabi-v7a/libbass.so
  osu.Framework.Android/armeabi-v7a/libbass_fx.so
  osu.Framework.NativeLibs/runtimes/linux-x64/native/libbass.so
  osu.Framework.NativeLibs/runtimes/linux-x64/native/libbass_fx.so
  osu.Framework.NativeLibs/runtimes/linux-x86/native/libbass.so
  osu.Framework.NativeLibs/runtimes/linux-x86/native/libbass_fx.so
  osu.Framework.NativeLibs/runtimes/osx-x64/native/libbass.dylib
  osu.Framework.NativeLibs/runtimes/osx-x64/native/libbass_fx.dylib
  osu.Framework.NativeLibs/runtimes/win-x64/native/bass.dll
  osu.Framework.NativeLibs/runtimes/win-x64/native/bass_fx.dll
  osu.Framework.NativeLibs/runtimes/win-x86/native/bass.dll
  osu.Framework.NativeLibs/runtimes/win-x86/native/bass_fx.dll
  osu.Framework.iOS/libbass.a
  osu.Framework.iOS/libbass_fx.a
Labels: area:libraries, size/XS

#4904 Include `ManagedBass` dllmaps in projects referencing via nupkg
  osu.Framework.iOS/osu.Framework.iOS.Dllmaps.props
  osu.Framework.iOS/osu.Framework.iOS.csproj
Labels: platform:iOS, size/S

#4906 Fix customizable text container placeholders being disposed on localisation parameter change
  osu.Framework.Tests/Visual/Containers/TestSceneCustomizableTextContainer.cs
  osu.Framework/Graphics/Containers/CustomizableTextContainer.cs
  osu.Framework/Graphics/Containers/TextFlowContainer.cs
Labels: area:localisation, size/M, type:reliability

#4911 Downgrade `Markdig` back to avoid runtime issue on iOS
  osu.Framework.iOS.props
  osu.Framework/osu.Framework.csproj
Labels: area:libraries, platform:iOS, size/S

#4910 Hide `TextBox` caret when `GameHost` is inactive / keyboard focus is lost
  osu.Framework/Graphics/UserInterface/TextBox.cs
Labels: area:UI, size/M

#4912 Temporarily bypass FXSetPriority in NUnit runs
  osu.Framework/Audio/Mixing/Bass/BassAudioMixer.cs
Labels: type:testing, area:audio, size/XS

#4914 Add additional safeguards to BASS device cleanup
  osu.Framework/Threading/AudioThread.cs
Labels: type:testing, area:audio, size/S

#4913 Add x86-64 architectures back for BASS iOS native libraries
  osu.Framework.iOS/libbass.a
  osu.Framework.iOS/libbass_fx.a
  osu.Framework.iOS/libbassmix.a
Labels: area:libraries, platform:iOS, size/XS

#4917 Fix caret potentially going out of textbox bounds with sufficiently high LeftRightPadding
  osu.Framework.Tests/Visual/UserInterface/TestSceneTextBox.cs
  osu.Framework/Graphics/UserInterface/TextBox.cs
Labels: area:UI, size/M

#4921 Reduce failures in audio device re-init sequence
  osu.Framework/Threading/AudioThread.cs
Labels: area:audio, size/S, type:reliability

#4919 Improve IPC to allow sending responses
  osu.Framework.Tests/Platform/HeadlessGameHostTest.cs
  osu.Framework/Platform/DesktopGameHost.cs
  osu.Framework/Platform/GameHost.cs
  osu.Framework/Platform/IIpcHost.cs
  osu.Framework/Platform/IpcChannel.cs
  osu.Framework/Platform/TcpIpcProvider.cs
Labels: area:network, size/L

#4922 Fix video seek tests failing on macOS
  osu.Framework.Tests/Visual/Sprites/TestSceneVideo.cs
Labels: type:testing, size/S
