Repository ppy/osu-framework, pull requests merged in 2022-04, with the labels that each got.

#5087 Bump `SixLabors.ImageSharp` to v2.1.0
  osu.Framework.Android/AndroidGameHost.cs
  osu.Framework.Benchmarks/BenchmarkFontLoading.cs
  osu.Framework.iOS.props
  osu.Framework.iOS/GameAppDelegate.cs
  osu.Framework.iOS/IOSGameHost.cs
  osu.Framework.iOS/osu.Framework.iOS.csproj
  osu.Framework/Extensions/ImageExtensions/ImageExtensions.cs
  osu.Framework/Extensions/ImageExtensions/ReadOnlyPixelMemory.cs
  osu.Framework/Extensions/ImageExtensions/ReadOnlyPixelSpan.cs
  osu.Framework/IO/Stores/GlyphStore.cs
  osu.Framework/IO/Stores/RawCachingGlyphStore.cs
  osu.Framework/Platform/GameHost.cs
  osu.Framework/osu.Framework.csproj
Labels: area:libraries, size/M, dependencies

#5088 Add image clipboard support for macOS
  osu.Framework.Tests/Visual/Platform/TestSceneClipboard.cs
  osu.Framework/Platform/MacOS/MacOSClipboard.cs
  osu.Framework/Platform/MacOS/Native/Cocoa.cs
  osu.Framework/Platform/MacOS/Native/NSData.cs
Labels: platform:macOS, size/L, area:platform

#5089 Fix MaskingInfo equality not considering conservative quad
  osu.Framework/Graphics/OpenGL/GLWrapper.cs
Labels: area:graphics, size/XS

#5082 Fix tracks/samples not updating running state immediately
  osu.Framework.Tests/Audio/SampleBassTest.cs
  osu.Framework.Tests/Audio/TrackBassTest.cs
  osu.Framework/Audio/Sample/SampleChannelBass.cs
  osu.Framework/Audio/Track/TrackBass.cs
Labels: area:audio, size/L

#5091 Optimise texture opacity computation algorithm
  osu.Framework/Graphics/OpenGL/Textures/TextureGL.cs
Labels: type:performance, area:graphics, size/S

#5092 Move and expose `FindClosestParent<T>` to an extension method
  osu.Framework/Graphics/Containers/DelayedLoadUnloadWrapper.cs
  osu.Framework/Graphics/Containers/DelayedLoadWrapper.cs
  osu.Framework/Graphics/Drawable.cs
  osu.Framework/Graphics/DrawableExtensions.cs
Labels: size/M

#5094 Fix issues with `Animation.ClearFrames` behaviour
  osu.Framework.Tests/Visual/Sprites/TestSceneAnimation.cs
  osu.Framework/Graphics/Animations/Animation.cs
  osu.Framework/Graphics/Animations/DrawableAnimation.cs
  osu.Framework/Graphics/Animations/TextureAnimation.cs
Labels: area:drawable, size/S

#5096 Fix Waveform outputting NaN values in vertices
  osu.Framework/Graphics/Audio/WaveformGraph.cs
Labels: area:graphics, size/XS, type:reliability

#4638 Add win-arm64 native libs
  osu.Framework.NativeLibs/runtimes/win-arm64/native/bass.dll
  osu.Framework.NativeLibs/runtimes/win-arm64/native/bass_fx.dll
  osu.Framework.NativeLibs/runtimes/win-arm64/native/bassmix.dll
  osu.Framework.NativeLibs/runtimes/win-arm64/source/compile-ffmpeg.sh
Labels: area:libraries, size/S

#5097 Upgrade Resharper to 2022.1.0-eap10
  .config/dotnet-tools.json
  .github/workflows/ci.yml
  .gitignore
  InspectCode.ps1
  InspectCode.sh
  osu.Framework.Tests/Bindables/BindableDictionaryTest.cs
  osu.Framework.Tests/Bindables/BindableListTest.cs
  osu.Framework.Tests/Bindables/BindableSerializationTest.cs
  osu.Framework/Graphics/Cursor/ContextMenuContainer.cs
  osu.Framework/Platform/GameHost.cs
  osu.Framework/Testing/TestScene.cs
Labels: area:tooling, size/M

#5098 Add inspectcode CI cache
  .github/workflows/ci.yml
Labels: area:tooling, size/XS

#5100 Clear DI activators on hot reload
  osu.Framework/Allocation/DependencyActivator.cs
Labels: type:testing, size/XS

#5101 Remove escape to exit test browser
  osu.Framework.Tests/TestGame.cs
  osu.Framework/Platform/GameHost.cs
  osu.Framework/Testing/TestBrowser.cs
Labels: type:testing, size/S

#5102 Always use "No sound" audio device on headless test runs
  osu.Framework/Audio/AudioManager.cs
  osu.Framework/Testing/TestSceneTestRunner.cs
Labels: type:testing, area:audio, size/S

#5104 Fix incorrect `Game` exit blocking default
  osu.Framework/Game.cs
Labels: size/XS

#5105 Standardise `DrawableMenuItem` colour update logic
  osu.Framework/Graphics/UserInterface/Dropdown.cs
  osu.Framework/Graphics/UserInterface/Menu.cs
Labels: area:UI, size/M

#5108 Fix borderless test failing
  osu.Framework.Tests/Visual/Platform/TestSceneBorderless.cs
Labels: type:testing, size/XS, area:platform

#5110 Fix accidental API breakage of `Game.OnExiting()` return value
  osu.Framework.Tests/Platform/GameExitTest.cs
  osu.Framework.Tests/TestGame.cs
  osu.Framework/Game.cs
  osu.Framework/Platform/GameHost.cs
Labels: size/M

#5095 Implement screen event args and add destination screen event for `OnExiting`
  osu.Framework.Tests/Visual/UserInterface/TestSceneScreenStack.cs
  osu.Framework/Screens/IScreen.cs
  osu.Framework/Screens/Screen.cs
  osu.Framework/Screens/ScreenExitEvent.cs
  osu.Framework/Screens/ScreenStack.cs
  osu.Framework/Screens/ScreenTransitionEvent.cs
Labels: area:screens, size/L

#5112 Provide default proxy credentials to `HttpClient`
  osu.Framework/IO/Network/WebRequest.cs
Labels: size/XS

#5111 Fix `TestExitBlocking` taking 10 seconds to run
  osu.Framework.Tests/Platform/GameExitTest.cs
  osu.Framework/Platform/GameHost.cs
Labels: type:testing, size/S

#5114 Move Code Quality check to top of checks list
  .github/workflows/ci.yml
Labels: area:tooling, size/L

#5119 Fix alt-f4 bypassing exit flow on windows
  osu.Framework/Game.cs
  osu.Framework/Platform/IWindow.cs
  osu.Framework/Platform/OsuTKWindow.cs
Labels: size/S

#5118 Allow layered `ScrollContainer`s to coexist on input handling
  osu.Framework.Tests/Visual/Containers/TestSceneScrollContainer.cs
  osu.Framework.Tests/Visual/Input/TestSceneClickLenience.cs
  osu.Framework/Graphics/Containers/ScrollContainer.cs
  osu.Framework/Input/Events/DragStartEvent.cs
Labels: area:UI, size/L

#5124 Add mapping for the windows context menu key (and log unknown SDL keys)
  osu.Framework/Platform/SDL2/SDL2Extensions.cs
  osu.Framework/Platform/SDL2DesktopWindow.cs
Labels: size/XS, area:platform, platform:windows

#5128 Fix `Menu` not handling mouse down events
  osu.Framework.Tests/Visual/UserInterface/TestSceneClosableMenu.cs
  osu.Framework/Graphics/UserInterface/Menu.cs
Labels: area:UI, size/M

#5121 Enforce code style analysis shipped with .NET SDK
  .config/dotnet-tools.json
  .editorconfig
  .github/workflows/ci.yml
  .globalconfig
  Directory.Build.props
  InspectCode.ps1
  build/build.cake
  osu-framework.sln
  osu.Framework.Tests/Dependencies/CachedAttributeTest.cs
  osu.Framework.Tests/Polygons/LineIntersections.cs
  osu.Framework.Tests/Text/TextBuilderTest.cs
  osu.Framework.Tests/Visual/Bindables/TestSceneBindableAutoUnbinding.cs
  osu.Framework/Allocation/BackgroundDependencyLoaderAttribute.cs
  osu.Framework/Allocation/DependencyContainer.cs
  osu.Framework/Audio/AudioManager.cs
  osu.Framework/Audio/Mixing/Bass/BassAudioMixer.cs
  osu.Framework/Graphics/Containers/CompositeDrawable_DrawNode.cs
  osu.Framework/Graphics/Containers/GridContainer.cs
  osu.Framework/Graphics/Containers/TextFlowContainer.cs
  osu.Framework/Graphics/Containers/VisibilityContainer.cs
  osu.Framework/Graphics/Drawable.cs
  osu.Framework/Graphics/Primitives/RectangleF.cs
  osu.Framework/Graphics/Primitives/RectangleI.cs
  osu.Framework/Graphics/Primitives/Vector2I.cs
  osu.Framework/Graphics/Video/FFmpegFuncs.cs
  osu.Framework/Layout/LayoutValue.cs
  osu.Framework/Localisation/LocalisableStringEqualityComparer.cs
  osu.Framework/Platform/MacOS/Native/NSDictionary.cs
  osu.Framework/Platform/OsuTKWindow.cs
  osu.Framework/Platform/SDL2/SDL2Structs.cs
  osu.Framework/Platform/Windows/Native/Input.cs
  osu.Framework/Platform/Windows/TimePeriod.cs
  osu.Framework/Statistics/FrameStatistics.cs
Labels: area:tooling, size/L

#5132 Apply new rider metadata changes
  .idea/.idea.osu-framework.Desktop/.idea/misc.xml
Labels: area:tooling, size/XS

#5133 Mark local methods as `static` where possible to appease Rider
  osu.Framework/Game.cs
  osu.Framework/Graphics/UserInterface/Menu.cs
Labels: size/XS

#5135 Improve extensibility of `LocalisationParameters`
  osu.Framework/Game.cs
  osu.Framework/Localisation/LocalisationManager.cs
  osu.Framework/Localisation/LocalisationParameters.cs
Labels: area:localisation, size/M

#5134 Fix `GetLocalisableDescription` not handling `Type` inputs properly
  osu.Framework.Tests/Localisation/LocalisableDescriptionAttributeTest.cs
  osu.Framework/Extensions/ExtensionMethods.cs
Labels: area:localisation, size/S

#5130 Improve `LocalisableString` formatting and interpolation API
  osu.Framework.Benchmarks/BenchmarkLocalisableString.cs
  osu.Framework.Tests/Localisation/LocalisableStringTest.cs
  osu.Framework.Tests/Localisation/LocalisationTest.cs
  osu.Framework/Extensions/LocalisationExtensions/LocalisableStringExtensions.cs
  osu.Framework/Localisation/LocalisableFormattableString.cs
  osu.Framework/Localisation/LocalisableString.cs
  osu.Framework/Localisation/TranslatableString.cs
Labels: type:code-quality, area:localisation, size/L

#5103 Improve `CurrentDisplayMode` logic in `SDL2DesktopWindow`
  osu.Framework.Tests/Visual/Drawables/TestSceneUpdateBeforeDraw.cs
  osu.Framework.Tests/Visual/Platform/TestSceneDisplayMode.cs
  osu.Framework/Extensions/ExtensionMethods.cs
  osu.Framework/Platform/Display.cs
  osu.Framework/Platform/DisplayMode.cs
  osu.Framework/Platform/OsuTKWindow.cs
  osu.Framework/Platform/SDL2/SDL2Extensions.cs
  osu.Framework/Platform/SDL2DesktopWindow.cs
Labels: size/L, area:platform

#5138 Add CI workflow for automated FFmpeg builds
  .github/workflows/build-ffmpeg.yml
  osu.Framework.NativeLibs/runtimes/osx/source/ffmpeg/BUILDING.md
  osu.Framework.NativeLibs/runtimes/osx/source/ffmpeg/combine_universal.sh
  osu.Framework.NativeLibs/runtimes/win-arm64/source/compile-ffmpeg.sh
  osu.Framework.NativeLibs/runtimes/win-x64/native/BUILDING.md
  osu.Framework.NativeLibs/runtimes/win-x86/native/BUILDING.md
  osu.Framework.NativeLibs/scripts/ffmpeg/common.sh
  osu.Framework.NativeLibs/scripts/ffmpeg/linux/BUILDING.md
  osu.Framework.NativeLibs/scripts/ffmpeg/linux/fetch_and_build.sh
  osu.Framework.NativeLibs/scripts/ffmpeg/macOS/BUILDING.md
  osu.Framework.NativeLibs/scripts/ffmpeg/macOS/combine_universal.sh
  osu.Framework.NativeLibs/scripts/ffmpeg/macOS/fetch_and_build.sh
  osu.Framework.NativeLibs/scripts/ffmpeg/win/BUILDING.md
  osu.Framework.NativeLibs/scripts/ffmpeg/win/fetch_and_build.sh
Labels: area:tooling, size/L

#5106 Fix iOS keyboard handler not switching properly with physical keyboard connected
  osu.Framework.iOS/IOSGameHost.cs
  osu.Framework.iOS/Input/IOSHardwareKeyboardHandler.cs
  osu.Framework.iOS/Input/IOSTextFieldKeyboardHandler.cs
  osu.Framework.iOS/Input/IOSTextInput.cs
Labels: platform:iOS, size/M

#5142 Update NativeLibs references
  osu.Framework.Templates/templates/template-empty/TemplateGame.iOS/TemplateGame.iOS.csproj
  osu.Framework.Templates/templates/template-flappy/FlappyDon.iOS/FlappyDon.iOS.csproj
  osu.Framework/osu.Framework.csproj
Labels: size/S

#5144 Fix iOS text key shortcuts no longer working
  osu.Framework.iOS/GameUIApplication.cs
  osu.Framework.iOS/IOSGameHost.cs
  osu.Framework.iOS/IOSGameView.cs
  osu.Framework.iOS/Input/IOSHardwareKeyboardHandler.cs
  osu.Framework.iOS/Input/IOSTextFieldKeyboardHandler.cs
  osu.Framework.iOS/Input/IOSTextInput.cs
  osu.Framework/Graphics/UserInterface/TextBox.cs
Labels: area:input, platform:iOS, size/L

#5145 Use same key bindings on macOS and iOS
  osu.Framework.iOS/IOSGameHost.cs
  osu.Framework/Platform/MacOS/MacOSGameHost.cs
  osu.Framework/Properties/AssemblyInfo.cs
Labels: area:input, platform:iOS, size/M

#5146 Fix iOS bundle identifiers not having correct prefix
  SampleGame.iOS/Info.plist
  osu.Framework.Tests.iOS/Info.plist
Labels: platform:iOS, size/XS

#5107 Refactor iOS raw keyboard handler to rely on `UIPress` events instead
  osu.Framework.iOS/GameUIApplication.cs
  osu.Framework.iOS/IOSGameHost.cs
  osu.Framework.iOS/IOSGameView.cs
  osu.Framework.iOS/Input/IOSHardwareKeyboardHandler.cs
Labels: area:input, platform:iOS, size/XL
