Repository ppy/osu-framework, pull requests merged in 2022-03, with the labels that each got.

#5056 Handle changes to `CurrentDisplay` to allow switching active display
  osu.Framework/Platform/SDL2DesktopWindow.cs
Labels: size/XS, area:platform

#5054 Fix dropdown potentially mutating transforms when dealing with async bindable changes
  osu.Framework/Graphics/UserInterface/Dropdown.cs
Labels: size/XS, type:reliability

#5058 Add generic variant of `Drawable`/`CompositeDrawable` scheduling methods
  osu.Framework/Graphics/Containers/CompositeDrawable.cs
  osu.Framework/Graphics/Drawable.cs
  osu.Framework/Graphics/TransformSequenceExtensions.cs
Labels: type:code-quality, area:drawable, size/S

#5061 Ensure scrollbar respects `ScrollContainer` padding
  osu.Framework.Tests/Visual/Containers/TestSceneScrollContainer.cs
  osu.Framework/Graphics/Containers/ScrollContainer.cs
Labels: area:UI, size/M

#5059 Fix potential out-of-order execution with `Drawable` scheduling method
  osu.Framework.Tests/Graphics/TestSceneDrawableScheduling.cs
  osu.Framework/Graphics/Containers/CompositeDrawable.cs
  osu.Framework/Graphics/Drawable.cs
Labels: area:drawable, size/M

#5057 Video playback and decoding fixes
  osu.Framework.Android/Graphics/Video/AndroidVideoDecoder.cs
  osu.Framework.iOS/Graphics/Video/IOSVideoDecoder.cs
  osu.Framework/Graphics/Video/FFmpegFuncs.cs
  osu.Framework/Graphics/Video/Video.cs
  osu.Framework/Graphics/Video/VideoDecoder.cs
  osu.Framework/Graphics/Video/VideoTexture.cs
  osu.Framework/Graphics/Video/VideoTextureUpload.cs
Labels: size/L, area:video

#5063 Set default of `CurrentDisplayBindable` to primary display
  osu.Framework.Tests/Visual/Platform/TestSceneFullscreen.cs
  osu.Framework/Platform/SDL2DesktopWindow.cs
Labels: size/XS, area:platform

#4977 Allow ToolWindow to update its content layout after toolbar height changes
  osu.Framework/Graphics/Visualisation/DrawVisualiser.cs
  osu.Framework/Graphics/Visualisation/ToolWindow.cs
  osu.Framework/Graphics/Visualisation/TreeContainer.cs
Labels: size/L

#5066 Add a way to confine the mouse cursor to a specific window area
  osu.Framework.Tests/Visual/Input/TestSceneInputManager.cs
  osu.Framework/Input/UserInputManager.cs
  osu.Framework/Platform/IWindow.cs
  osu.Framework/Platform/OsuTKWindow.cs
  osu.Framework/Platform/SDL2DesktopWindow.cs
Labels: size/M, area:platform

#5068 Improve the Windows borderless hack
  osu.Framework/Platform/SDL2DesktopWindow.cs
  osu.Framework/Platform/Windows/WindowsWindow.cs
Labels: size/M, area:platform, platform:windows

#5069 Fix `ClearTransforms` potentially discarding container autosizing
  osu.Framework.Tests/Visual/Containers/TestSceneCompositeDrawable.cs
  osu.Framework/Graphics/Containers/CompositeDrawable.cs
Labels: area:drawable, size/M

#5072 Disable HW video decoding if an unexpected error occurs
  osu.Framework/Graphics/Video/VideoDecoder.cs
Labels: size/M, area:video

#5075 Change signature of `OpenFileExternally` and `PresentFileExternally` to gracefuly fail
  osu.Framework.Android/AndroidGameHost.cs
  osu.Framework.iOS/IOSGameHost.cs
  osu.Framework/Platform/DesktopGameHost.cs
  osu.Framework/Platform/GameHost.cs
  osu.Framework/Platform/HeadlessGameHost.cs
  osu.Framework/Platform/NativeStorage.cs
  osu.Framework/Platform/Storage.cs
  osu.Framework/Platform/Windows/WindowsGameHost.cs
Labels: size/M, area:platform, type:reliability, area:storage

#5076 Apply new resharper non-obvious precedence inspections
  osu.Framework/Graphics/Containers/ScrollContainer.cs
  osu.Framework/Graphics/Cursor/CursorEffectContainer.cs
  osu.Framework/Graphics/Cursor/TooltipContainer.cs
  osu.Framework/Graphics/Drawable.cs
  osu.Framework/Graphics/OpenGL/Textures/TextureGLSingle.cs
  osu.Framework/Graphics/UserInterface/TextBox.cs
  osu.Framework/Graphics/Visualisation/DrawVisualiser.cs
  osu.Framework/Graphics/Visualisation/PropertyDisplay.cs
  osu.Framework/IO/Network/UrlEncoding.cs
  osu.Framework/Input/Bindings/KeyBindingContainer.cs
  osu.Framework/Input/InputResampler.cs
  osu.Framework/Platform/GameHost.cs
  osu.Framework/Testing/TestBrowser.cs
Labels: type:code-quality, size/S

#5078 Fix zero-size sprites being drawn
  osu.Framework/Graphics/Shapes/Triangle.cs
  osu.Framework/Graphics/Sprites/SpriteDrawNode.cs
Labels: area:graphics, size/S

#5079 Expose synchronisation context on `GameThread`
  osu.Framework/Threading/GameThread.cs
Labels: area:threading, size/XS

#5085 Add test coverage of `AddOnce` with inline delegate
  osu.Framework.Tests/Threading/SchedulerTest.cs
Labels: type:testing, size/S

#5086 Ignore `Normalize all the line endings` commit in git blame
  .git-blame-ignore-revs
Labels: size/XS
