Repository ppy/osu-framework, pull requests merged in 2022-10, with the labels that each got.

#5437 Fix `Shader` not reset to null when completely unbound
  osu.Framework/Graphics/Rendering/Renderer.cs
Labels: area:graphics, size/XS

#5438 Avoid flushing VBO when the renderer state is not affected
  osu.Framework/Graphics/Rendering/Renderer.cs
Labels: type:performance, area:graphics, size/L

#5436 Split out windowing and input of `SDL2DesktopWindow` into partial classes
  osu.Framework/Platform/SDL2DesktopWindow.cs
  osu.Framework/Platform/SDL2DesktopWindow_Input.cs
  osu.Framework/Platform/SDL2DesktopWindow_Windowing.cs
Labels: type:code-quality, size/XXL

#5440 Remove unused `using`s in mobile projects
  osu.Framework.Android/Input/AndroidInputHandler.cs
  osu.Framework.Android/Input/AndroidJoystickHandler.cs
  osu.Framework.iOS/IOSGameView.cs
Labels: type:code-quality, size/XS

#5441 Fix `InputHandler` exceptions not being forwarded to logger
  osu.Framework/Input/Handlers/InputHandler.cs
Labels: area:logging, size/XS

#5443 Fix `SpriteText` size not immediately responding to changes in text
  osu.Framework.Tests/Visual/Sprites/TestSceneSpriteTextSizing.cs
  osu.Framework/Graphics/Sprites/SpriteText.cs
Labels: area:drawable, size/M

#5439 Fix `Displays` querying on every access and add `DisplaysChanged`
  osu.Framework.Tests/Visual/Platform/TestSceneBorderless.cs
  osu.Framework.Tests/Visual/Platform/TestSceneFullscreen.cs
  osu.Framework/Platform/Display.cs
  osu.Framework/Platform/IWindow.cs
  osu.Framework/Platform/OsuTKWindow.cs
  osu.Framework/Platform/SDL2DesktopWindow.cs
  osu.Framework/Platform/SDL2DesktopWindow_Windowing.cs
Labels: type:performance, size/L, area:platform

#5444 Copy DotSettings `CodeInspection`s from osu! sln
  osu-framework.sln.DotSettings
  osu.Framework.Android/Graphics/Video/AndroidVideoDecoder.cs
  osu.Framework.Tests/IO/TestWebRequest.cs
  osu.Framework.Tests/Localisation/LocalisationTest.cs
  osu.Framework.Tests/Visual/Drawables/TestSceneSynchronizationContext.cs
  osu.Framework.Tests/Visual/Sprites/TestSceneAnimation.cs
  osu.Framework.Tests/Visual/Sprites/TestSceneAnimationLayout.cs
  osu.Framework/Allocation/BackgroundDependencyLoaderAttribute.cs
  osu.Framework/Audio/AudioManager.cs
  osu.Framework/Bindables/Bindable.cs
  osu.Framework/Development/DebugUtils.cs
  osu.Framework/Extensions/EnumExtensions/EnumExtensions.cs
  osu.Framework/Extensions/ExtensionMethods.cs
  osu.Framework/Graphics/Performance/GlobalStatisticsDisplay.cs
  osu.Framework/Graphics/Pooling/PoolableDrawable.cs
  osu.Framework/Graphics/UserInterface/Dropdown.cs
  osu.Framework/Graphics/Video/VideoDecoder.cs
  osu.Framework/IO/Network/JsonWebRequest.cs
  osu.Framework/IO/Stores/DllResourceStore.cs
  osu.Framework/Input/KeyEventManager.cs
  osu.Framework/Input/MouseButtonEventManager.cs
  osu.Framework/Platform/NativeStorage.cs
  osu.Framework/Platform/SDL2DesktopWindow.cs
  osu.Framework/Platform/Storage.cs
  osu.Framework/Testing/TestBrowser.cs
  osu.Framework/Threading/Scheduler.cs
  osu.Framework/Timing/FramedOffsetClock.cs
Labels: type:code-quality, size/M

#5454 Misc windowing changes
  osu.Framework/Platform/SDL2DesktopWindow_Input.cs
  osu.Framework/Platform/SDL2DesktopWindow_Windowing.cs
Labels: size/M, area:platform

#5453 Fix another unnecessary VBO flushing overhead in shader bind
  osu.Framework/Graphics/Rendering/Renderer.cs
Labels: type:performance, area:graphics, size/XS

#5457 Rename `update` → `fetch` where applicable in `SDL2DesktopWindow`
  osu.Framework/Platform/SDL2DesktopWindow.cs
  osu.Framework/Platform/SDL2DesktopWindow_Windowing.cs
Labels: type:code-quality, size/M

#5456 Cleanup `fetchDisplayMode()`
  osu.Framework/Platform/SDL2DesktopWindow_Windowing.cs
Labels: type:code-quality, size/M, area:platform

#5455 Allow handling `CustomContainerInline` markdown objects for custom components
  osu.Framework/Graphics/Containers/Markdown/MarkdownTextFlowContainer.cs
Labels: area:drawable, size/XS

#5450 Refactor borderless test for component reuse and to show more info
  osu.Framework.Tests/Visual/Platform/TestSceneBorderless.cs
  osu.Framework.Tests/Visual/Platform/TestSceneFullscreen.cs
  osu.Framework.Tests/Visual/Platform/WindowDisplaysPreview.cs
Labels: type:testing, size/L

#5461 Fix release configuration not building
  osu.Framework/Platform/SDL2DesktopWindow_Windowing.cs
Labels: size/S

#5462 Fix tablets connected on startup not working properly
  osu.Framework/Input/Handlers/Tablet/TabletDriver.cs
Labels: area:input, size/S

#5065 Rework CircularProgress to use shader
  osu.Framework.Tests/Visual/UserInterface/TestSceneCircularProgress.cs
  osu.Framework/Graphics/UserInterface/CircularProgress.cs
  osu.Framework/Graphics/UserInterface/CircularProgressDrawNode.cs
  osu.Framework/Resources/Shaders/sh_CircularProgress.fs
  osu.Framework/Resources/Shaders/sh_CircularProgressRounded.fs
  osu.Framework/Resources/Shaders/sh_CircularProgressUtils.h
  osu.Framework/Resources/Shaders/sh_Masking.h
Labels: blocked, area:graphics, size/L

#5463 Fix colour picker background not rendering correctly on mobile platforms
  osu.Framework/Resources/Shaders/sh_HueSelectorBackground.fs
  osu.Framework/Resources/Shaders/sh_HueSelectorBackgroundRounded.fs
  osu.Framework/Resources/Shaders/sh_SaturationSelectorBackground.fs
  osu.Framework/Resources/Shaders/sh_SaturationSelectorBackgroundRounded.fs
Labels: area:UI, platform:mobile, size/S

#5464 Fix fullscreen test failing if window is on non-primary display
  osu.Framework.Tests/Visual/Platform/TestSceneFullscreen.cs
Labels: type:testing, size/XS, area:platform

#5467 Include missing device vendors in tablet driver
  osu.Framework/Input/Handlers/Tablet/TabletDriver.cs
Labels: area:input, size/S

#5468 Fix `CircularProgress` having an opaque interior drawn on FTB pass
  osu.Framework.Tests/Visual/UserInterface/TestSceneCircularProgress.cs
  osu.Framework/Graphics/UserInterface/CircularProgress.cs
Labels: area:graphics, size/S

#5469 Harden `getClosestDisplayMode()` to return a valid display mode in more scenarios
  osu.Framework/Platform/SDL2/SDL2Extensions.cs
  osu.Framework/Platform/SDL2DesktopWindow_Windowing.cs
Labels: size/M, area:platform, type:reliability

#5458 Make `updateWindowStateAndSize()` and accompanying methods stateless in regards to `WindowState`, `CurrentDisplay` and `CurrentDisplayMode`
  osu.Framework/Platform/SDL2DesktopWindow_Windowing.cs
  osu.Framework/Platform/Windows/WindowsWindow.cs
Labels: type:code-quality, size/M, area:platform

#5459 Fix changing displays working only in windowed
  osu.Framework.Tests/Visual/Platform/TestSceneCurrentDisplay.cs
  osu.Framework/Platform/SDL2DesktopWindow_Windowing.cs
Labels: size/L, area:platform

#5442 Fix some physical keyboards not working on Android
  osu.Framework.Android/Input/AndroidInputExtensions.cs
  osu.Framework.Android/Input/AndroidInputHandler.cs
  osu.Framework.Android/Input/AndroidJoystickHandler.cs
  osu.Framework.Android/Input/AndroidKeyboardHandler.cs
  osu.Framework.Android/Input/AndroidMouseHandler.cs
Labels: area:input, platform:android, size/L

#5452 Fix window size properties not correct on Hi-DPI screens
  osu.Framework.Tests/Visual/Platform/TestSceneBorderless.cs
  osu.Framework/Platform/SDL2DesktopWindow_Windowing.cs
Labels: size/S, area:platform

#5474 Ban `char.ToLower()`/`char.ToUpper()` as well for better safety
  CodeAnalysis/BannedSymbols.txt
Labels: type:code-quality, size/XS

#5473 Make `getClosestDisplayMode()` static
  osu.Framework/Platform/SDL2DesktopWindow_Windowing.cs
Labels: type:code-quality, size/S, area:platform

#5475 Fix replacing items in dropdown changing selection
  osu.Framework.Tests/Visual/UserInterface/TestSceneDropdown.cs
  osu.Framework/Graphics/UserInterface/Dropdown.cs
Labels: type:reliability

#5472 Optimise `ColourInfo` conversion and add conversion helper method
  osu.Framework.Benchmarks/BenchmarkColourInfo.cs
  osu.Framework/Graphics/Colour/ColourInfo.cs
  osu.Framework/Graphics/Lines/Path_DrawNode.cs
Labels: type:code-quality, area:graphics, size/M

#5479 Fix texture uploads potentially disposed too early
  osu.Framework/Graphics/OpenGL/Textures/GLTexture.cs
Labels: area:graphics, size/XS

#5476 Update SDL2
  osu.Framework/osu.Framework.csproj
Labels: size/XS, dependencies

#5480 Make `GLTexture` disposal action not capturing
  osu.Framework/Graphics/OpenGL/Textures/GLTexture.cs
Labels: area:graphics, size/XS

#5484 Fix `WaveformGraph` showing mono tracks incorrectly
  osu.Framework.Tests/Resources/Tracks/sample-track-mono.mp3
  osu.Framework.Tests/Visual/Drawables/TestSceneWaveform.cs
  osu.Framework/Graphics/Audio/WaveformGraph.cs
Labels: area:audio, size/M

#5485 Implement Blob component
  osu.Framework.Tests/Visual/UserInterface/TestSceneCircularBlob.cs
  osu.Framework/Graphics/UserInterface/CircularBlob.cs
  osu.Framework/Resources/Shaders/sh_CircularBlob.fs
  osu.Framework/Resources/Shaders/sh_CircularBlobRounded.fs
  osu.Framework/Resources/Shaders/sh_CircularBlobUtils.h
Labels: size/L

#5489 Clean up various obsoleted code
  osu.Framework.Tests/IO/BackgroundGameHeadlessGameHost.cs
  osu.Framework.Tests/Input/MouseInputTest.cs
  osu.Framework.Tests/Visual/UserInterface/TestSceneContextMenu.cs
  osu.Framework/Development/DebugUtils.cs
  osu.Framework/Graphics/Drawable.cs
  osu.Framework/Host.cs
  osu.Framework/Input/Bindings/KeyCombination.cs
  osu.Framework/Platform/HeadlessGameHost.cs
  osu.Framework/Screens/Screen.cs
  osu.Framework/Testing/TestRunHeadlessGameHost.cs
Labels: type:code-quality, size/L

#5487 Make CircularArcProperties public
  osu.Framework/Utils/CircularArcProperties.cs
  osu.Framework/Utils/PathApproximator.cs
Labels: size/L

#5491 CircularBlob shader improvements
  osu.Framework/Resources/Shaders/sh_CircularBlobUtils.h
Labels: size/S

#5493 Fix `Renderer` holding a permanent reference to every texture ever created
  osu.Framework/Graphics/OpenGL/Textures/GLTexture.cs
  osu.Framework/Graphics/Rendering/Dummy/DummyNativeTexture.cs
  osu.Framework/Graphics/Rendering/Dummy/DummyRenderer.cs
  osu.Framework/Graphics/Rendering/INativeTexture.cs
  osu.Framework/Graphics/Rendering/IRenderer.cs
  osu.Framework/Graphics/Rendering/Renderer.cs
  osu.Framework/Graphics/Visualisation/TextureVisualiser.cs
Labels: type:performance, size/S
