Repository ppy/osu-framework, pull requests merged in 2022-06, with the labels that each got.

#5217 Synchronously exit `ThreadRunner` threads
  osu.Framework/Platform/ThreadRunner.cs
  osu.Framework/Threading/GameThread.cs
Labels: size/S, area:platform

#5224 Support nullable reference types for dependency injection
  osu.Framework.Tests/Dependencies/DependencyContainerTest.cs
  osu.Framework.Tests/Dependencies/ResolvedAttributeTest.cs
  osu.Framework.Tests/Extensions/TestIsNullableTypeExtensions.cs
  osu.Framework/Allocation/BackgroundDependencyLoaderAttribute.cs
  osu.Framework/Allocation/ResolvedAttribute.cs
  osu.Framework/Extensions/TypeExtensions/TypeExtensions.cs
Labels: area:dependency-injection, size/L

#5221 Throw `OperationCanceledException` when `Perform`ing a `WebRequest`after `Abort`
  osu.Framework.Tests/IO/TestWebRequest.cs
  osu.Framework/IO/Network/WebRequest.cs
Labels: area:network, size/M

#5223 Clear textbox selection when setting via `Text` or `Current`
  osu.Framework.Tests/Visual/UserInterface/TestSceneTextBox.cs
  osu.Framework/Graphics/UserInterface/TextBox.cs
Labels: area:UX, size/M

#5219 Fix convex polygon clipper edge cases
  osu.Framework.Tests/Polygons/ConvexPolygonClipperFuzzingTest.cs
  osu.Framework.Tests/Polygons/ConvexPolygonClippingTest.cs
  osu.Framework.Tests/Polygons/LineIntersections.cs
  osu.Framework/Graphics/Primitives/SimpleConvexPolygon.cs
  osu.Framework/Graphics/Vector2Extensions.cs
  osu.Framework/Utils/ConvexPolygonClipper.cs
Labels: area:graphics, size/L

#5211 Simplify exiting flow
  osu.Framework.Tests/Platform/GameExitTest.cs
  osu.Framework/Game.cs
  osu.Framework/Platform/GameHost.cs
  osu.Framework/Platform/IWindow.cs
  osu.Framework/Platform/OsuTKWindow.cs
  osu.Framework/Platform/SDL2DesktopWindow.cs
Labels: type:code-quality, size/L, area:platform

#5226 Make NullabilityInfoContext usage thread-safe
  osu.Framework/Extensions/TypeExtensions/TypeExtensions.cs
Labels: area:dependency-injection, size/M

#5227 Improve scrolling/dragging experience on singular scroll containers
  osu.Framework.Tests/Visual/Containers/TestSceneScrollContainer.cs
  osu.Framework/Graphics/Containers/IScrollContainer.cs
  osu.Framework/Graphics/Containers/ScrollContainer.cs
Labels: area:UI, area:UX, size/L

#5228 Fix synchronisation context disassociating scheduler on execution mode changes
  osu.Framework.Tests/Visual/Drawables/TestSceneSynchronizationContext.cs
  osu.Framework/Threading/GameThread.cs
Labels: area:threading, size/M, type:reliability

#5230 Reset shader stack every frame to silence assertion
  osu.Framework/Graphics/OpenGL/GLWrapper.cs
Labels: area:graphics, size/S

#5229 Fix and cleanup android touch handling
  osu.Framework.Android/AndroidGameHost.cs
  osu.Framework.Android/Input/AndroidTouchHandler.cs
Labels: area:input, platform:android, size/M

#5233 Switch `SampleStore` `ConcurrentDictionary` usage to be a normal `Dictionary`
  osu.Framework/Audio/Sample/SampleStore.cs
Labels: type:code-quality, size/XS

#5210 Implicitly confine the cursor when it can't leave to another display
  osu.Framework.Tests/Visual/Input/TestSceneInputManager.cs
  osu.Framework/Input/UserInputManager.cs
Labels: area:input, size/M

#5186 Use precise delta values for SDL scroll events
  osu.Framework/Platform/SDL2DesktopWindow.cs
Labels: size/XS, area:platform

#5234 Attempt to fix `TestSceneVideo` incorrectly failing due to intermittent state changes
  osu.Framework.Tests/Visual/Sprites/TestSceneVideo.cs
Labels: type:testing, size/XS

#5235 Rename "unlimited" to "basically unlimited" and add sane frame limiter
  osu.Framework/Configuration/FrameSync.cs
  osu.Framework/Platform/GameHost.cs
  osu.Framework/Threading/GameThread.cs
Labels: type:performance, size/M

#5236 Properly set `IsPrecise` for SDL scroll events
  osu.Framework/Platform/SDL2DesktopWindow.cs
Labels: area:input, size/S

#5238 Let BASS read stream data ahead of time to reduce audio stuttering
  osu.Framework/Audio/Sample/SampleChannelBass.cs
  osu.Framework/Audio/Track/TrackBass.cs
Labels: area:audio, size/XS

#5245 Clean up `FrameStatisticsDisplay` and add exception to track down `NaN`
  osu.Framework/Graphics/Performance/FrameStatisticsDisplay.cs
  osu.Framework/Statistics/FrameStatistics.cs
Labels: size/M, type:reliability

#5242 Suppress `SwapBuffers()` failures on android
  osu.Framework.Android/AndroidGameView.cs
  osu.Framework.Android/osu.Framework.Android.csproj
  osu.Framework.iOS.props
  osu.Framework.iOS/osu.Framework.iOS.csproj
  osu.Framework/osu.Framework.csproj
Labels: platform:android, size/S, type:reliability

#5247 Indicate some `Storage` methods as must-use
  osu.Framework.Tests/IO/TestDesktopStorage.cs
  osu.Framework/Platform/Storage.cs
Labels: type:code-quality, size/XS, area:storage

#5248 Only apply `AsyncFile` flag to non-windows platforms for now
  osu.Framework/Audio/Sample/SampleChannelBass.cs
  osu.Framework/Audio/Track/TrackBass.cs
Labels: area:audio, size/S

#5250 Add templates to compile + inspectcode, deploy templates with framework
  .github/workflows/ci.yml
  appveyor_deploy.yml
  appveyor_xamarin_deploy.yml
  build/Desktop.proj
  build/build.cake
  osu-framework.Android.slnf
  osu-framework.Desktop.slnf
  osu-framework.iOS.slnf
  osu-framework.sln
  osu.Framework.Templates/templates/template-empty/TemplateGame.Game.Tests/Visual/TestSceneMainScreen.cs
  osu.Framework.Templates/templates/template-empty/TemplateGame.Game.Tests/Visual/TestSceneSpinningBox.cs
  osu.Framework.Templates/templates/template-empty/TemplateGame.Game.Tests/Visual/TestSceneTemplateGameGame.cs
  osu.Framework.Templates/templates/template-empty/TemplateGame.Game/TemplateGame.Game.csproj
  osu.Framework.Templates/templates/template-empty/TemplateGame.iOS/TemplateGame.iOS.csproj
  osu.Framework.Templates/templates/template-empty/TemplateGame.sln
  osu.Framework.Templates/templates/template-flappy/FlappyDon.Game.Tests/Visual/TestSceneBackdrop.cs
  osu.Framework.Templates/templates/template-flappy/FlappyDon.Game.Tests/Visual/TestSceneFlappyDonGame.cs
  osu.Framework.Templates/templates/template-flappy/FlappyDon.Game.Tests/Visual/TestSceneObstacles.cs
  osu.Framework.Templates/templates/template-flappy/FlappyDon.Game.Tests/Visual/TestScenePipeObstacle.cs
  osu.Framework.Templates/templates/template-flappy/FlappyDon.Game/FlappyDon.Game.csproj
  osu.Framework.Templates/templates/template-flappy/FlappyDon.Game/FlappyDonGameBase.cs
  osu.Framework.Templates/templates/template-flappy/FlappyDon.iOS/FlappyDon.iOS.csproj
  osu.Framework.Templates/templates/template-flappy/FlappyDon.sln
Labels: area:tooling, size/L

#4966 Add explicit `Exported = true` to `AndroidGameActivity`
  SampleGame.Android/SampleGameActivity.cs
  osu.Framework.Android/AndroidGameActivity.cs
  osu.Framework.Tests.Android/TestGameActivity.cs
Labels: platform:android, size/XS

#5252 Fix android mouse button handling not accounting for multiple buttons pressed at once
  osu.Framework.Android/Input/AndroidInputExtensions.cs
  osu.Framework.Android/Input/AndroidMouseHandler.cs
Labels: size/M

#5253 Work around macOS agent regression affecting iOS CI builds
  .github/workflows/ci.yml
Labels: size/XS

#5254 Implement search text box within the draw visualizer
  osu.Framework/Graphics/Visualisation/ToolWindow.cs
  osu.Framework/Graphics/Visualisation/TreeContainer.cs
  osu.Framework/Graphics/Visualisation/VisualisedDrawable.cs
Labels: area:tooling, size/M

#5240 Refactor `TextureStore` to improve nesting support
  osu.Framework.Templates/templates/template-flappy/FlappyDon.Game/FlappyDonGameBase.cs
  osu.Framework.Tests/IO/TextureStoreTest.cs
  osu.Framework/Game.cs
  osu.Framework/Graphics/Textures/ITextureStore.cs
  osu.Framework/Graphics/Textures/TextureFilteringMode.cs
  osu.Framework/Graphics/Textures/TextureLoaderStore.cs
  osu.Framework/Graphics/Textures/TextureStore.cs
  osu.Framework/IO/Stores/FontStore.cs
  osu.Framework/IO/Stores/ResourceStore.cs
Labels: size/L, area:storage

#5256 Use new static HashData methods for .NET 6+ targets
  osu.Framework.Templates/templates/template-flappy/FlappyDon.iOS/FlappyDon.iOS.csproj
  osu.Framework/Extensions/ExtensionMethods.cs
Labels: size/S

#5260 Enable NRT on `IHasCustomTooltip` interface
  osu.Framework/Graphics/Cursor/IHasCustomTooltip.cs
Labels: type:code-quality, size/XS

#5259 Ban usage of `ManualResetEventSlim.Wait()` without a timeout value
  CodeAnalysis/BannedSymbols.txt
  osu.Framework.Benchmarks/GameBenchmark.cs
  osu.Framework.Tests/Containers/TestSceneCompositeMutability.cs
  osu.Framework.Tests/IO/BackgroundGameHeadlessGameHost.cs
  osu.Framework.Tests/Platform/HeadlessGameHostTest.cs
  osu.Framework.Tests/Visual/Drawables/TestSceneModelBackedDrawableWithLoading.cs
  osu.Framework.Tests/Visual/Sprites/TestSceneTextures.cs
  osu.Framework/Platform/GameHost.cs
Labels: size/M, type:reliability

#5257 Fix potential exception when calling `FinishTransforms` results in child changes
  osu.Framework/Graphics/Containers/CompositeDrawable.cs
  osu.Framework/Graphics/Transforms/Transformable.cs
Labels: size/S, type:reliability

#5262 Add environment variable flag to cause until steps to never timeout
  osu.Framework/Testing/Drawables/Steps/UntilStepButton.cs
Labels: type:testing, size/XS

#5261 Disallow usage of `string.To{Upper,Lower}()` without explicit culture
  CodeAnalysis/BannedSymbols.txt
  osu.Framework.iOS/Input/IOSTextFieldKeyboardHandler.cs
  osu.Framework/Logging/Logger.cs
  osu.Framework/Platform/SDL2/SDL2ReadableKeyCombinationProvider.cs
  osu.Framework/Statistics/BackgroundStackTraceCollector.cs
Labels: area:localisation, size/S, type:reliability

#5263 Early-return on `GetDescription`/`GetLocalisableDescription` if already string type
  osu.Framework.Tests/Localisation/LocalisableDescriptionAttributeTest.cs
  osu.Framework/Extensions/ExtensionMethods.cs
Labels: area:localisation, size/S

#5264 Validate transform values before queuing to drawable
  osu.Framework.Tests/Visual/Drawables/TestSceneTransformSequence.cs
  osu.Framework/Graphics/Containers/CompositeDrawable.cs
  osu.Framework/Graphics/TransformableExtensions.cs
Labels: area:transformations, size/M, type:reliability

#5265 Update c# language version to 9
  Directory.Build.props
  osu-framework.sln.DotSettings
  osu.Framework.Tests/Bindables/BindableBindingTest.cs
  osu.Framework.Tests/Bindables/BindableDictionaryTest.cs
  osu.Framework.Tests/Bindables/BindableListTest.cs
  osu.Framework.Tests/Configuration/InputConfigManagerTest.cs
  osu.Framework.Tests/Exceptions/TestLoadExceptions.cs
  osu.Framework.Tests/Graphics/LifetimeEntryManagerTest.cs
  osu.Framework.Tests/IO/TestLogging.cs
  osu.Framework.Tests/IO/TestWebRequest.cs
  osu.Framework.Tests/Transforms/TestSceneTransformEventBindings.cs
  osu.Framework.Tests/Visual/Containers/TestSceneVisibilityContainer.cs
  osu.Framework.Tests/Visual/Drawables/TestSceneCircularArcBoundingBox.cs
  osu.Framework.Tests/Visual/Drawables/TestSceneComplexBlending.cs
  osu.Framework.Tests/Visual/Input/TestSceneInputManager.cs
  osu.Framework.Tests/Visual/Input/TestSceneTouchInput.cs
  osu.Framework.Tests/Visual/UserInterface/TestSceneContextMenu.cs
  osu.Framework.Tests/Visual/UserInterface/TestSceneCountingText.cs
  osu.Framework.Tests/Visual/UserInterface/TestSceneFocusedOverlayContainer.cs
  osu.Framework.Tests/Visual/UserInterface/TestScenePopover.cs
  osu.Framework.Tests/Visual/UserInterface/TestSceneScreenStack.cs
  osu.Framework.Tests/Visual/UserInterface/TestSceneTextBoxEvents.cs
  osu.Framework/Allocation/BackgroundDependencyLoaderAttribute.cs
  osu.Framework/Allocation/CachedAttribute.cs
  osu.Framework/Audio/Track/TrackBass.cs
  osu.Framework/Bindables/Bindable.cs
  osu.Framework/Bindables/BindableDictionary.cs
  osu.Framework/Configuration/ConfigManager.cs
  osu.Framework/Graphics/Containers/CompositeDrawable_DrawNode.cs
  osu.Framework/Graphics/Containers/Markdown/MarkdownContainer.cs
  osu.Framework/Graphics/Containers/Markdown/MarkdownTextFlowContainer.cs
  osu.Framework/Graphics/Containers/OverlayContainer.cs
  osu.Framework/Graphics/Cursor/IHasCustomTooltip.cs
  osu.Framework/Graphics/UserInterface/CircularProgress.cs
  osu.Framework/Graphics/UserInterface/Dropdown.cs
  osu.Framework/Graphics/Video/VideoDecoder.cs
  osu.Framework/Input/Handlers/Tablet/OpenTabletDriverHandler.cs
  osu.Framework/Input/Handlers/Tablet/TabletDriver.cs
  osu.Framework/Input/InputManager.cs
  osu.Framework/Input/PassThroughInputManager.cs
  osu.Framework/Input/StateChanges/TouchInput.cs
  osu.Framework/Input/States/TouchState.cs
  osu.Framework/Input/UserInputManager.cs
  osu.Framework/Platform/GameHost.cs
  osu.Framework/Platform/MacOS/Native/NSPasteboard.cs
  osu.Framework/Platform/OsuTKWindow.cs
  osu.Framework/Testing/TestBrowser.cs
  osu.Framework/Text/TextBuilder.cs
  osu.Framework/Threading/ThreadedTaskScheduler.cs
Labels: area:tooling, size/L

#5267 Fix `TripleBuffer` sleeping too long at high frame rates
  osu.Framework.Tests/Graphics/TripleBufferTest.cs
  osu.Framework/Allocation/ObjectUsage.cs
  osu.Framework/Allocation/TripleBuffer.cs
  osu.Framework/Platform/GameHost.cs
Labels: type:performance, area:graphics, size/L

#5270 Avoid retriving every `CultureInfo` on startup
  osu.Framework/Platform/GameHost.cs
Labels: type:performance, size/S

#5271 Avoid div-by-zero in waveform resampling code
  osu.Framework/Audio/Track/Waveform.cs
Labels: size/S

#5273 Disable ugly green border when using hardware keyboard on Android
  osu.Framework.Android/AndroidGameView.cs
Labels: platform:android, size/XS

#5269 Initialise OpenTabletDriver asynchronously
  osu.Framework/Input/Handlers/Tablet/OpenTabletDriverHandler.cs
Labels: type:performance, area:input, size/M

#5268 Fix overlay containers handling click and double-click events
  osu.Framework.Tests/Visual/UserInterface/TestSceneFocusedOverlayContainer.cs
  osu.Framework/Graphics/Containers/OverlayContainer.cs
Labels: area:input, area:drawable, size/M

#5276 Allow initial locale mappings to be added in a single call
  osu.Framework.Tests/Localisation/LocalisationTest.cs
  osu.Framework/Localisation/LocaleMapping.cs
  osu.Framework/Localisation/LocalisationManager.cs
Labels: area:localisation, size/M

#5274 Fix pressing keys on a hardware keyboard showing the software keyboard
  osu.Framework.Android/AndroidGameView.cs
  osu.Framework.Android/Input/AndroidTextInput.cs
Labels: platform:android, size/M, area:platform

#5275 Fix backspace not working properly with hardware keyboards
  osu.Framework.Android/AndroidGameView.cs
Labels: platform:android, size/XS, area:platform

#5278 Move joystick-axis-to-button simulation out of `JoystickHandler`
  osu.Framework/Input/Handlers/Joystick/JoystickHandler.cs
  osu.Framework/Input/StateChanges/JoystickAxisInput.cs
  osu.Framework/Input/States/JoystickState.cs
  osu.Framework/Platform/SDL2DesktopWindow.cs
Labels: type:code-quality, area:input
