Repository ppy/osu-framework, pull requests merged in 2022-01, with the labels that each got.

#4973 Fix multiple deadlock cases in `WebRequest`
  osu.Framework.Tests/IO/TestWebRequest.cs
  osu.Framework/IO/Network/FileWebRequest.cs
  osu.Framework/IO/Network/WebRequest.cs
Labels: area:network, size/L, type:reliability

#4971 Improve Android mouse input and restructure Android input handlers
  osu.Framework.Android/AndroidGameActivity.cs
  osu.Framework.Android/AndroidGameHost.cs
  osu.Framework.Android/AndroidGameView.cs
  osu.Framework.Android/Input/AndroidInputExtensions.cs
  osu.Framework.Android/Input/AndroidInputHandler.cs
  osu.Framework.Android/Input/AndroidKeyboardHandler.cs
  osu.Framework.Android/Input/AndroidMouseHandler.cs
  osu.Framework.Android/Input/AndroidTouchHandler.cs
  osu.Framework/Properties/AssemblyInfo.cs
Labels: area:input, platform:android, size/XL

#4981 Reorder Bass configuration operations and use more direct method calls
  osu.Framework/Audio/AudioManager.cs
Labels: area:audio, size/M

#4983 Consume touch `IsActive` state rather than checking for "any" touch for mouse mapping
  osu.Framework/Input/InputManager.cs
Labels: area:input, platform:mobile, size/S

#4984 Remove obsoleted methods/members
  osu.Framework.Tests/Visual/UserInterface/TestSceneSliderBar.cs
  osu.Framework/Configuration/ConfigManager.cs
  osu.Framework/Extensions/ExtensionMethods.cs
  osu.Framework/Graphics/UserInterface/SliderBar.cs
Labels: size/M

#4979 Don't throw when returning a leased bindable that has already been returned
  osu.Framework.Tests/Bindables/BindableLeasingTest.cs
  osu.Framework/Bindables/ILeasedBindable.cs
  osu.Framework/Bindables/LeasedBindable.cs
Labels: area:bindable, size/M

#4980 Replace all usages of `Task.Wait`/`Task.Result` with safer alternatives
  CodeAnalysis/BannedSymbols.txt
  osu.Framework.Benchmarks/BenchmarkFontLoading.cs
  osu.Framework.Tests/Exceptions/TestLoadExceptions.cs
  osu.Framework.Tests/Platform/HeadlessGameHostTest.cs
  osu.Framework.Tests/Visual/Sprites/TestSceneScreenshot.cs
  osu.Framework/Audio/Track/TrackBass.cs
  osu.Framework/Audio/Track/Waveform.cs
  osu.Framework/Extensions/TaskExtensions.cs
  osu.Framework/Graphics/Audio/WaveformGraph.cs
  osu.Framework/Graphics/Textures/TextureStore.cs
  osu.Framework/Graphics/Video/VideoDecoder.cs
  osu.Framework/IO/Network/WebRequest.cs
  osu.Framework/IO/Stores/GlyphStore.cs
  osu.Framework/Input/Handlers/Midi/MidiHandler.cs
  osu.Framework/Platform/TcpIpcProvider.cs
  osu.Framework/Testing/TestScene.cs
Labels: area:threading, size/L

#4986 Refactor menu test scenes to be less rigid
  osu.Framework.Tests/Visual/UserInterface/TestSceneClosableMenu.cs
  osu.Framework.Tests/Visual/UserInterface/TestSceneNestedMenus.cs
  osu.Framework.Tests/Visual/UserInterface/TestSceneUnclosableMenu.cs
  osu.Framework/Testing/MenuTestScene.cs
Labels: type:testing, size/L

#4988 Allow waiting on tasks which were created with `LongRunning` regardless of thread
  osu.Framework.Tests/IO/TestWebRequest.cs
  osu.Framework/Extensions/TaskExtensions.cs
Labels: area:threading, size/M

#4941 Add native Windows IME support
  osu.Framework/Platform/SDL2/SDL2Structs.cs
  osu.Framework/Platform/SDL2DesktopWindow.cs
  osu.Framework/Platform/Windows/Native/Imm.cs
  osu.Framework/Platform/Windows/WindowsWindow.cs
Labels: area:input, size/XL

#4942 Add option to disallow IME to `TextBox`
  osu.Framework.Android/Input/AndroidTextInput.cs
  osu.Framework.Tests/Visual/UserInterface/TestSceneTextBox.cs
  osu.Framework.iOS/Input/IOSTextInput.cs
  osu.Framework/Graphics/UserInterface/BasicPasswordTextBox.cs
  osu.Framework/Graphics/UserInterface/TextBox.cs
  osu.Framework/Input/SDL2DesktopWindowTextInput.cs
  osu.Framework/Input/TextInputSource.cs
  osu.Framework/Platform/SDL2DesktopWindow.cs
  osu.Framework/Platform/Windows/Native/Imm.cs
  osu.Framework/Platform/Windows/WindowsWindow.cs
Labels: area:input, size/L, platform:windows

#4987 Fix nested menus overflowing past screen bounds
  osu.Framework.Tests/Visual/UserInterface/TestSceneNestedMenus.cs
  osu.Framework/Graphics/UserInterface/Menu.cs
Labels: area:UI, size/L

#4992 Change `[MeansImplicitUse]` attribute on BDL so that unused params are treated as such
  osu.Framework.Benchmarks/BenchmarkDependencyContainer.cs
  osu.Framework.Tests/Dependencies/DependencyContainerTest.cs
  osu.Framework.Tests/Visual/Testing/TestSceneAudioMixerVisualiser.cs
  osu.Framework/Allocation/BackgroundDependencyLoaderAttribute.cs
  osu.Framework/Graphics/Video/Video.cs
  osu.Framework/Graphics/Video/VideoSprite.cs
  osu.Framework/Graphics/Visualisation/LogOverlay.cs
  osu.Framework/Testing/TestBrowser.cs
Labels: size/S

#4991 Output performance log messages when schedulers have long queues
  osu.Framework.Tests/Threading/SchedulerTest.cs
  osu.Framework/Logging/Logger.cs
  osu.Framework/Threading/Scheduler.cs
Labels: area:logging, size/L

#4996 Avoid rounding when calculating video duration
  osu.Framework/Graphics/Video/VideoDecoder.cs
Labels: size/XS

#4976 Improve host configuration
  SampleGame.Desktop/Program.cs
  osu.Framework.Benchmarks/GameBenchmark.cs
  osu.Framework.Tests/Configuration/InputConfigManagerTest.cs
  osu.Framework.Tests/Exceptions/TestLoadExceptions.cs
  osu.Framework.Tests/IO/BackgroundGameHeadlessGameHost.cs
  osu.Framework.Tests/Platform/ComponentAsyncDisposalTest.cs
  osu.Framework.Tests/Platform/GameHostSuspendTest.cs
  osu.Framework.Tests/Platform/HeadlessGameHostTest.cs
  osu.Framework.Tests/Platform/PortableInstallationTest.cs
  osu.Framework.Tests/Platform/UserInputManagerTest.cs
  osu.Framework.Tests/Platform/UserStorageLookupTest.cs
  osu.Framework.Tests/Program.cs
  osu.Framework/Host.cs
  osu.Framework/HostOptions.cs
  osu.Framework/Platform/DesktopGameHost.cs
  osu.Framework/Platform/GameHost.cs
  osu.Framework/Platform/HeadlessGameHost.cs
  osu.Framework/Platform/Linux/LinuxGameHost.cs
  osu.Framework/Platform/MacOS/MacOSGameHost.cs
  osu.Framework/Platform/OsuTKGameHost.cs
  osu.Framework/Platform/Windows/WindowsGameHost.cs
  osu.Framework/Testing/TestRunHeadlessGameHost.cs
  osu.Framework/Testing/TestScene.cs
Labels: platform:linux, size/L

#4998 Tidy up some inspections
  osu-framework.sln.DotSettings
  osu.Framework/Graphics/Performance/FrameTimeDisplay.cs
  osu.Framework/Statistics/GlobalStatistics.cs
Labels: size/XS

#4999 Add missing thread safety check in `LoadComponentsAsync`
  osu.Framework/Graphics/Containers/CompositeDrawable.cs
  osu.Framework/Graphics/Drawable.cs
Labels: area:threading, size/S, type:reliability

#5001 Fix texture bind early return bypassing glActiveTexture()
  osu.Framework/Graphics/OpenGL/GLWrapper.cs
Labels: area:graphics, size/S, type:reliability

#5002 Refactor `SynchronizationContext` to provide order and execution guarantees
  osu.Framework.Tests/Visual/Drawables/TestSceneSynchronizationContext.cs
  osu.Framework/Threading/GameThread.cs
  osu.Framework/Threading/GameThreadScheduler.cs
  osu.Framework/Threading/GameThreadSynchronizationContext.cs
  osu.Framework/Threading/Scheduler.cs
  osu.Framework/Threading/SchedulerSynchronizationContext.cs
Labels: area:threading, size/L

#5004 Remove async disposal queue reliance on TPL thread pool to avoid locking scenarios
  osu.Framework/Allocation/AsyncDisposalQueue.cs
Labels: area:threading, size/S

#5006 Use `for` loop instead of `foreach` for critically hot path in invalidation
  osu.Framework/Graphics/Drawable.cs
Labels: type:performance, size/XS
