Repository ppy/osu-framework, pull requests merged in 2023-02, with the labels that each got.

#5642 Apply NRT in `IWindow` and related classes
  osu.Framework.Tests/Visual/Platform/TestSceneCurrentDisplay.cs
  osu.Framework/Platform/DisplayMode.cs
  osu.Framework/Platform/IWindow.cs
  osu.Framework/Platform/WindowState.cs
Labels: type:code-quality, size/S

#5645 Apply a few new rider quick fixes
  osu.Framework.Tests/Visual/Sprites/TestSceneAnimationLayout.cs
  osu.Framework/Statistics/PerformanceMonitor.cs
Labels: type:code-quality, size/XS

#5640 Add a way to raise the window
  osu.Framework.Tests/Visual/Platform/TestSceneRaiseWindow.cs
  osu.Framework/Platform/IWindow.cs
  osu.Framework/Platform/OsuTKWindow.cs
  osu.Framework/Platform/SDL2DesktopWindow.cs
Labels: size/M, area:platform

#5643 Add a way to hide visual tests by using ``(Un)SupportedOSPlatformAttribute``
  osu.Framework.Tests/Visual/Platform/TestSceneWindowed.cs
  osu.Framework/Extensions/OSPlatformExtensions.cs
  osu.Framework/Testing/TestBrowser.cs
Labels: type:testing, size/M

#5648 Implement `ColourInfo.Interpolate(Quad)` function
  osu.Framework.Tests/Visual/Drawables/TestSceneColourInfoInterpolation.cs
  osu.Framework/Graphics/Colour/ColourInfo.cs
Labels: type:code-quality, area:graphics, size/L

#5653 Fix veldrid pipeline caching not working properly
  osu.Framework/Graphics/Veldrid/VeldridExtensions.cs
  osu.Framework/Graphics/Veldrid/VeldridRenderer.cs
Labels: area:graphics, size/S

#5644 Improve path draw node's "cap" calculations and remove gaps
  osu.Framework.Tests/Visual/Drawables/TestScenePathCapAngles.cs
  osu.Framework.Tests/Visual/Drawables/TestScenePathWithZeroLength.cs
  osu.Framework/Graphics/Lines/Path_DrawNode.cs
Labels: area:graphics, size/L

#5656 Fix potential crash when displaying `DirectorySelector` on AOT platforms
  osu.Framework/Graphics/UserInterface/DirectorySelector.cs
Labels: platform:iOS, size/S, type:reliability

#5657 Fix `osu.Framework.iOS.props` overwriting previous warning exclusions
  osu.Framework.iOS.props
Labels: size/XS
