Repository ppy/osu-framework, pull requests merged in 2023-04, with the labels that each got.

#5728 Fix Veldrid OpenGL not working on iOS and bring back as valid
  osu.Framework/Graphics/Veldrid/Shaders/VeldridShader.cs
  osu.Framework/Graphics/Veldrid/VeldridRenderer.cs
  osu.Framework/Platform/GameHost.cs
Labels: platform:iOS, size/S, area:renderer-veldrid

#5722 Fix buffered container children being clipped wrong on OpenGL
  osu.Framework.Tests/Visual/Containers/TestSceneBufferedContainerClipping.cs
  osu.Framework/Graphics/Rendering/Renderer.cs
Labels: size/M, next-release, area:renderer-veldrid, area:renderer-gl

#5729 Add Veldrid screenshot support
  osu.Framework/Graphics/OpenGL/GLRenderer.cs
  osu.Framework/Graphics/Rendering/Dummy/DummyRenderer.cs
  osu.Framework/Graphics/Rendering/IRenderer.cs
  osu.Framework/Graphics/Rendering/Renderer.cs
  osu.Framework/Graphics/Veldrid/VeldridRenderer.cs
  osu.Framework/Platform/GameHost.cs
  osu.Framework/osu.Framework.csproj
Labels: size/L, next-release, area:renderer-veldrid

#5730 Fix OpenGL nullref with Veldrid renderer
  osu.Framework/Graphics/Veldrid/VeldridRenderer.cs
Labels: size/XS, area:renderer-veldrid

#5731 Update veldrid again to fix direct x crash
  osu.Framework/osu.Framework.csproj
Labels: size/XS

#5732 Fix non-legacy OpenGL sometimes flickering/freezing
  osu.Framework/Graphics/Veldrid/VeldridRenderer.cs
Labels: size/XS, next-release, area:renderer-veldrid

#5658 Improve menu handling on disabled items (or items with no action assigned)
  osu.Framework.Tests/Visual/UserInterface/TestSceneClosableMenu.cs
  osu.Framework.Tests/Visual/UserInterface/TestSceneNestedMenus.cs
  osu.Framework.Tests/Visual/UserInterface/TestSceneUnclosableMenu.cs
  osu.Framework/Graphics/UserInterface/Menu.cs
Labels: area:UI, size/M

#5734 Improve performance of video texture uploads
  osu.Framework/Graphics/Veldrid/VeldridRenderer.cs
Labels: size/S, area:renderer-veldrid

#5735 Improve texture shader performance on fragments away from corners
  osu.Framework/Resources/Shaders/sh_Masking.h
Labels: type:performance, area:graphics, size/S

#5738 Fix incorrect VBO start index
  osu.Framework/Graphics/Veldrid/Buffers/VeldridVertexBuffer.cs
Labels: size/XS, area:renderer-veldrid

#5743 Use blit command queue for copying video textures on Veldrid
  osu.Framework/Graphics/Veldrid/VeldridRenderer.cs
Labels: size/XS, area:renderer-veldrid

#5742 Avoid enumerable/enumerator allocation when fetching texture resources on Veldrid
  osu.Framework/Graphics/Veldrid/Textures/VeldridTexture.cs
  osu.Framework/Graphics/Veldrid/Textures/VeldridVideoTexture.cs
  osu.Framework/Graphics/Veldrid/VeldridRenderer.cs
Labels: type:performance, size/S, area:renderer-veldrid

#5744 Upload Veldrid VBOs directly rather than using a command list
  osu.Framework/Graphics/Veldrid/Batches/VeldridVertexBatch.cs
  osu.Framework/Graphics/Veldrid/Buffers/VeldridVertexBuffer.cs
Labels: type:performance, size/S, area:renderer-veldrid

#5741 Update veldrid package
  osu.Framework/osu.Framework.csproj
Labels: size/XS

#5745 Move FBO content population to a separate pass and enable "memoryless" storage mode on Metal
  osu.Framework/Graphics/BufferedDrawNode.cs
  osu.Framework/Graphics/Containers/BufferedContainer_DrawNode.cs
  osu.Framework/Graphics/Containers/CompositeDrawable_DrawNode.cs
  osu.Framework/Graphics/DrawNode.cs
  osu.Framework/Graphics/OpenGL/Buffers/GLFrameBuffer.cs
  osu.Framework/Graphics/OpenGL/GLRenderer.cs
  osu.Framework/Graphics/Rendering/Dummy/DummyFrameBuffer.cs
  osu.Framework/Graphics/Rendering/IFrameBuffer.cs
  osu.Framework/Graphics/Rendering/Renderer.cs
  osu.Framework/Graphics/Veldrid/Buffers/VeldridFrameBuffer.cs
  osu.Framework/Graphics/Veldrid/VeldridRenderer.cs
  osu.Framework/Platform/GameHost.cs
Labels: proposal, type:performance, area:graphics, size/L

#5508 Implement custom mip map generation & raise maximum texture atlas size to 4096x4096
  osu.Framework.Tests/Visual/Sprites/TestSceneSpriteIcon.cs
  osu.Framework.iOS/runtimes/ios/native/metal-mono-workaround.xcframework/ios-arm64/metal_mono_workaround.framework/metal_mono_workaround
  osu.Framework.iOS/runtimes/ios/native/metal-mono-workaround.xcframework/ios-arm64_x86_64-simulator/metal_mono_workaround.framework/metal_mono_workaround
  osu.Framework/Graphics/OpenGL/Buffers/GLFrameBuffer.cs
  osu.Framework/Graphics/OpenGL/GLRenderer.cs
  osu.Framework/Graphics/OpenGL/Shaders/GLShaderPart.cs
  osu.Framework/Graphics/OpenGL/Textures/GLTexture.cs
  osu.Framework/Graphics/Primitives/RectangleI.cs
  osu.Framework/Graphics/Rendering/Dummy/DummyNativeTexture.cs
  osu.Framework/Graphics/Rendering/Dummy/DummyRenderer.cs
  osu.Framework/Graphics/Rendering/INativeTexture.cs
  osu.Framework/Graphics/Rendering/IRenderer.cs
  osu.Framework/Graphics/Rendering/Renderer.cs
  osu.Framework/Graphics/Shaders/IShaderStore.cs
  osu.Framework/Graphics/Shaders/ShaderManager.cs
  osu.Framework/Graphics/Textures/Texture.cs
  osu.Framework/Graphics/Textures/TextureAtlas_BackingAtlasTexture.cs
  osu.Framework/Graphics/Textures/TextureStore.cs
  osu.Framework/Graphics/Veldrid/Buffers/VeldridFrameBuffer.cs
  osu.Framework/Graphics/Veldrid/Shaders/VeldridShaderPart.cs
  osu.Framework/Graphics/Veldrid/Textures/VeldridTexture.cs
  osu.Framework/Graphics/Veldrid/Textures/VeldridTextureResources.cs
  osu.Framework/Graphics/Veldrid/VeldridRenderer.cs
  osu.Framework/Graphics/Visualisation/TextureVisualiser.cs
  osu.Framework/Resources/Shaders/sh_mipmap.fs
  osu.Framework/Resources/Shaders/sh_mipmap.vs
  osu.Framework/Utils/MathUtils.cs
  osu.Framework/osu.Framework.csproj
Labels: type:performance, area:graphics, size/XL

#5747 Revert "Merge pull request #5745 from frenzibyte/separate-framebuffer-pass"
  osu.Framework/Graphics/BufferedDrawNode.cs
  osu.Framework/Graphics/Containers/BufferedContainer_DrawNode.cs
  osu.Framework/Graphics/Containers/CompositeDrawable_DrawNode.cs
  osu.Framework/Graphics/DrawNode.cs
  osu.Framework/Graphics/OpenGL/Buffers/GLFrameBuffer.cs
  osu.Framework/Graphics/OpenGL/GLRenderer.cs
  osu.Framework/Graphics/Rendering/Dummy/DummyFrameBuffer.cs
  osu.Framework/Graphics/Rendering/IFrameBuffer.cs
  osu.Framework/Graphics/Rendering/Renderer.cs
  osu.Framework/Graphics/Veldrid/Buffers/VeldridFrameBuffer.cs
  osu.Framework/Graphics/Veldrid/VeldridRenderer.cs
  osu.Framework/Platform/GameHost.cs
Labels: size/L

#5737 Change transform loop to use a counter
  osu.Framework.Tests/Visual/Drawables/TestSceneTransformRewinding.cs
  osu.Framework/Graphics/Transforms/TargetGroupingTransformTracker.cs
  osu.Framework/Graphics/Transforms/Transform.cs
  osu.Framework/Graphics/Transforms/TransformSequence.cs
Labels: area:transformations, size/M

#5749 Add multi-stage ShaderManager caching
  osu.Framework.Tests/Shaders/TestSceneShaderDisposal.cs
  osu.Framework.Tests/Shaders/TestShaderLoading.cs
  osu.Framework/Graphics/OpenGL/Shaders/GLShaderPart.cs
  osu.Framework/Graphics/Rendering/Renderer.cs
  osu.Framework/Graphics/Shaders/IShaderStore.cs
  osu.Framework/Graphics/Shaders/ShaderManager.cs
  osu.Framework/Graphics/Veldrid/Shaders/VeldridShaderPart.cs
Labels: size/L, area:shader

#5753 Fix touch feedback breaking Direct3D 11 exclusive/optimised fullscreen
  osu.Framework/Platform/Windows/Native/Input.cs
  osu.Framework/Platform/Windows/WindowsWindow.cs
Labels: area:input, size/S, platform:windows

#5754 Fix broken `AudioMixerVisualiser` layout
  osu.Framework/Graphics/Visualisation/Audio/AudioMixerVisualiser.cs
Labels: area:audio, area:tooling, size/XS

#5756 Fix texture mipmap sizes not calculated correctly
  osu.Framework/Graphics/OpenGL/Textures/GLTexture.cs
  osu.Framework/Graphics/Veldrid/Textures/VeldridTexture.cs
Labels: size/XS, type:reliability, area:renderer-veldrid, area:renderer-gl

#5766 Remove reflection usage from `Interpolation` class
  osu.Framework/Utils/Interpolation.cs
Labels: type:code-quality, size/M
