Repository ppy/osu-framework, pull requests merged in 2023-07, with the labels that each got.

#5880 Fix `IWindow.Resized` being invoked with invalid data during `WindowMode` switch
  osu.Framework.Tests/Visual/Platform/TestSceneWindowModeResizedEvent.cs
  osu.Framework/Platform/SDL2Window.cs
  osu.Framework/Platform/SDL2Window_Windowing.cs
Labels: size/L, area:platform

#5881 Make `IWindow` and `IGraphicsSurface` implementations `internal`
  osu.Framework.Android/AndroidGameWindow.cs
  osu.Framework.iOS/IOSWindow.cs
  osu.Framework/Input/SDL2WindowTextInput.cs
  osu.Framework/Platform/IWindow.cs
  osu.Framework/Platform/MacOS/MacOSWindow.cs
  osu.Framework/Platform/OsuTKGraphicsSurface.cs
  osu.Framework/Platform/OsuTKWindow.cs
  osu.Framework/Platform/SDL2/SDL2GraphicsSurface.cs
  osu.Framework/Platform/SDL2DesktopWindow.cs
  osu.Framework/Platform/SDL2Window.cs
  osu.Framework/Platform/SDL2Window_Input.cs
  osu.Framework/Platform/SDL2Window_Windowing.cs
  osu.Framework/Platform/Windows/WindowsWindow.cs
Labels: type:code-quality, size/M

#5877 Set PerMonitor V2 DPI awareness on Windows
  osu.Framework/Platform/Windows/WindowsWindow.cs
Labels: size/M, area:platform, platform:windows

#5886 Work around iOS linker including `ApplicationServices` framework during compilation
  osu.Framework.iOS.props
  osu.Framework.iOS/osu.Framework.iOS.Workarounds.targets
Labels: platform:iOS, size/S

#5889 Make shaders with passthrough layouts deterministic again
  osu.Framework/Graphics/Veldrid/Shaders/VeldridShaderPart.cs
Labels: size/XS, area:renderer-veldrid

#5884 Fix game benchmarks being completely broken
  osu.Framework.Benchmarks/GameBenchmark.cs
Labels: area:tooling, size/XS

#5883 Reduce complexity overhead (and avoid one copy) when obtaining character SSDQs in `SpriteTextDrawNode`
  osu.Framework.Benchmarks/BenchmarkSpriteText.cs
  osu.Framework/Graphics/Sprites/SpriteText.cs
  osu.Framework/Graphics/Sprites/SpriteText_DrawNode.cs
Labels: type:performance, size/L

#5896 Reduce VBO buffer count to 2
  osu.Framework/FrameworkEnvironment.cs
  osu.Framework/Graphics/Veldrid/Batches/VeldridVertexBatch.cs
Labels: type:performance, size/M

#5887 Fix game tools being rendered outside safe area
  osu.Framework/Game.cs
Labels: area:tooling, size/XS

#5898 Fix frame statistics display showing `CADisplayLink` callback delays under "WndProc" time
  osu.Framework/Platform/GameHost.cs
  osu.Framework/osu.Framework.csproj
Labels: area:tooling, platform:iOS, size/S

#5899 Pool and limit how many GC boxes can be displayed on `FrameStatisticsDisplay` at once
  osu.Framework/Graphics/Performance/FrameStatisticsDisplay.cs
Labels: area:tooling, size/M

#5900 Fix `PerformanceOverlay` autosize not working due to incorrect anchor
  osu.Framework/Graphics/Performance/FrameStatisticsDisplay.cs
  osu.Framework/Graphics/Performance/PerformanceOverlay.cs
Labels: area:tooling, size/S

#5903 Switch osu!framework iOS projects to use AOT compilation on release configurations
  osu.Framework.iOS.props
  osu.Framework.iOS/GameApplication.cs
  osu.Framework.iOS/IOSWindow.cs
  osu.Framework/Platform/SDL2Window.cs
  osu.Framework/osu.Framework.csproj
Labels: type:performance, platform:iOS, size/M

#5905 Disable front-to-back pass by default on all platforms
  osu.Framework.iOS/IOSGameHost.cs
  osu.Framework/Configuration/FrameworkDebugConfig.cs
Labels: type:performance, size/XS, next-release

#5901 Avoid initialising textures when unnecessary
  osu.Framework/Graphics/OpenGL/GLRenderer.cs
  osu.Framework/Graphics/OpenGL/Textures/GLTexture.cs
  osu.Framework/Graphics/Rendering/Dummy/DummyRenderer.cs
  osu.Framework/Graphics/Rendering/IRenderer.cs
  osu.Framework/Graphics/Rendering/Renderer.cs
  osu.Framework/Graphics/Veldrid/Textures/VeldridTexture.cs
  osu.Framework/Graphics/Veldrid/VeldridRenderer.cs
Labels: type:performance, size/M, next-release

#5908 Add generated code hints in editorconfig / dotsettings
  .editorconfig
  osu-framework.sln.DotSettings
Labels: size/XS

#5910 Add back removed comment on creating texture images with no background specification
  osu.Framework/Graphics/OpenGL/Textures/GLTexture.cs
  osu.Framework/Graphics/Veldrid/Textures/VeldridTexture.cs
Labels: type:code-quality, area:graphics, size/XS

#5904 Add basic visual performance test scenes
  osu.Framework.Tests/Visual/Performance/PerformanceTestScene.cs
  osu.Framework.Tests/Visual/Performance/TestSceneBlendingPerformance.cs
  osu.Framework.Tests/Visual/Performance/TestSceneBoxPerformance.cs
  osu.Framework.Tests/Visual/Performance/TestSceneBufferingPerformance.cs
  osu.Framework.Tests/Visual/Performance/TestSceneMaskingPerformance.cs
  osu.Framework.Tests/Visual/Performance/TestSceneSpriteTextPerformance.cs
  osu.Framework.Tests/Visual/Performance/TestSceneTexturePerformance.cs
Labels: type:performance, type:testing, size/XL

#5906 Add source generator for IsLongRunning property
  osu.Framework.Benchmarks/BenchmarkLongRunningLoad.cs
  osu.Framework.SourceGeneration.Tests/LongRunningLoad/LongRunningLoadSourceGeneratorTests.cs
  osu.Framework.SourceGeneration.Tests/Resources/LongRunningLoad/CommonGenerated/g_osu.Framework.Graphics.Drawable_LongRunningLoad.txt
  osu.Framework.SourceGeneration.Tests/Resources/LongRunningLoad/CommonSources/Drawable.txt
  osu.Framework.SourceGeneration.Tests/Resources/LongRunningLoad/CommonSources/ISourceGeneratedLongRunningLoadCache.txt
  osu.Framework.SourceGeneration.Tests/Resources/LongRunningLoad/CommonSources/LongRunningLoadAttribute.txt
  osu.Framework.SourceGeneration.Tests/Resources/LongRunningLoad/LongRunningType/Generated/g_LongRunningType_LongRunningLoad.txt
  osu.Framework.SourceGeneration.Tests/Resources/LongRunningLoad/LongRunningType/Sources/LongRunningType.txt
  osu.Framework.SourceGeneration/Generators/LongRunningLoad/LongRunningLoadSemanticTarget.cs
  osu.Framework.SourceGeneration/Generators/LongRunningLoad/LongRunningLoadSourceEmitter.cs
  osu.Framework.SourceGeneration/Generators/LongRunningLoad/LongRunningLoadSourceGenerator.cs
  osu.Framework.SourceGeneration/SyntaxHelpers.cs
  osu.Framework/Allocation/ISourceGeneratedLongRunningLoadCache.cs
  osu.Framework/Graphics/Drawable.cs
  osu.Framework/Graphics/Drawable_IsLongRunning.cs
  osu.Framework/osu.Framework.csproj
Labels: type:performance, size/L

#5894 Re-use vertex buffers after batch flushes until filled completely in Veldrid
  osu.Framework.Tests/Visual/Graphics/TestSceneVertexBatching.cs
  osu.Framework/Graphics/Veldrid/Batches/VeldridVertexBatch.cs
Labels: type:performance, size/L, area:renderer-veldrid

#5909 Apply code changes required for a future update to .NET 7/8
  osu.Framework.Tests/Polygons/ConvexPolygonClipperFuzzingTest.cs
  osu.Framework.Tests/Polygons/ConvexPolygonClippingTest.cs
  osu.Framework/Platform/Linux/LinuxGameHost.cs
  osu.Framework/Platform/MacOS/MacOSGameHost.cs
  osu.Framework/Utils/ConvexPolygonClipper.cs
Labels: type:code-quality, size/S

#5911 Fix Veldrid texture uploads allocating new command buffers and resources
  osu.Framework/Graphics/OpenGL/Buffers/GLVertexBuffer.cs
  osu.Framework/Graphics/Rendering/IVertexBuffer.cs
  osu.Framework/Graphics/Rendering/Renderer.cs
  osu.Framework/Graphics/Veldrid/Batches/VeldridVertexBatch.cs
  osu.Framework/Graphics/Veldrid/Buffers/VeldridVertexBuffer.cs
  osu.Framework/Graphics/Veldrid/VeldridRenderer.cs
  osu.Framework/Graphics/Veldrid/VeldridStagingTexturePool.cs
  osu.Framework/osu.Framework.csproj
Labels: type:performance, size/L, area:renderer-veldrid

#5913 Add caching for Veldrid staging buffers in favour of `CommandList.UpdateBuffer`
  osu.Framework/Graphics/Rendering/Renderer.cs
  osu.Framework/Graphics/Veldrid/Buffers/VeldridLinearBuffer.cs
  osu.Framework/Graphics/Veldrid/Buffers/VeldridQuadBuffer.cs
  osu.Framework/Graphics/Veldrid/Buffers/VeldridUniformBufferStorage.cs
  osu.Framework/Graphics/Veldrid/VeldridRenderer.cs
  osu.Framework/Graphics/Veldrid/VeldridStagingBufferPool.cs
  osu.Framework/Graphics/Veldrid/VeldridStagingResourcePool.cs
  osu.Framework/Graphics/Veldrid/VeldridStagingTexturePool.cs
Labels: type:performance, size/L, area:renderer-veldrid

#5916 Add test scene covering vertex upload performance
  osu.Framework.Tests/Visual/Performance/TestSceneVertexUploadPerformance.cs
Labels: type:performance, type:testing, size/M

#5917 Revert recent changes to UBO upload method for non-metal renderers for now
  osu.Framework/Graphics/Veldrid/Buffers/VeldridLinearBuffer.cs
  osu.Framework/Graphics/Veldrid/Buffers/VeldridQuadBuffer.cs
  osu.Framework/Graphics/Veldrid/Buffers/VeldridUniformBufferStorage.cs
Labels: type:performance, size/M

#5919 Improve `Clipboard` class for use in tests and on Android
  osu.Framework.Android/AndroidClipboard.cs
  osu.Framework.Android/AndroidGameHost.cs
  osu.Framework.Tests/Visual/Platform/TestSceneClipboard.cs
  osu.Framework/Graphics/UserInterface/TextBox.cs
  osu.Framework/Platform/Clipboard.cs
  osu.Framework/Platform/GameHost.cs
  osu.Framework/Platform/HeadlessClipboard.cs
  osu.Framework/Platform/HeadlessGameHost.cs
  osu.Framework/Platform/MacOS/MacOSClipboard.cs
  osu.Framework/Platform/MacOS/MacOSGameHost.cs
  osu.Framework/Platform/MacOS/Native/Cocoa.cs
  osu.Framework/Platform/SDL2/SDL2Clipboard.cs
  osu.Framework/Platform/SDL2GameHost.cs
  osu.Framework/Platform/Windows/WindowsClipboard.cs
  osu.Framework/Platform/Windows/WindowsGameHost.cs
Labels: size/L, area:platform

#5922 Split texture upload performance test into own `TestScene`
  osu.Framework.Tests/Visual/Performance/TestSceneTexturePerformance.cs
  osu.Framework.Tests/Visual/Performance/TestSceneTextureUploadPerformance.cs
  osu.Framework/Graphics/Rendering/Dummy/DummyRenderer.cs
  osu.Framework/Graphics/Rendering/IRenderer.cs
  osu.Framework/Graphics/Rendering/Renderer.cs
Labels: type:testing, size/L

#5897 Make frame statistics display usable on mobile platforms
  osu.Framework/FrameworkEnvironment.cs
  osu.Framework/Game.cs
  osu.Framework/Graphics/Performance/FrameStatisticsDisplay.cs
  osu.Framework/Graphics/Performance/PerformanceOverlay.cs
Labels: area:tooling, platform:mobile, size/L

#5925 Fix screenshots not working on Metal
  osu.Framework.Tests/Visual/Sprites/TestSceneScreenshot.cs
  osu.Framework/Graphics/Veldrid/VeldridRenderer.cs
Labels: size/M, type:reliability, next-release, area:renderer-veldrid

#5926 Fix `FrameBufferScale` not working when `PixelSnapping` is enabled
  osu.Framework/Graphics/BufferedDrawNode.cs
Labels: size/XS

#5924 Fix texture uploads getting corrupted on Metal with non-Apple GPUs
  osu.Framework/Graphics/Veldrid/VeldridRenderer.cs
Labels: platform:macOS, size/M, next-release, area:renderer-veldrid

#5921 Add a fence pool for frame tracking fences
  osu.Framework/Graphics/Veldrid/VeldridRenderer.cs
Labels: type:performance, size/S, next-release

#5914 Replace most usages of `IsDynamicCodeCompiled` with `IsDynamicCodeSupported`
  osu.Framework/Audio/Callbacks/BassCallback.cs
  osu.Framework/Audio/Callbacks/FileCallbacks.cs
  osu.Framework/Audio/Callbacks/SyncCallback.cs
Labels: type:code-quality, size/XS

#5927 Refactor performance test scenes
  osu.Framework.Tests/Resources/Textures/sample-texture-2.png
  osu.Framework.Tests/Visual/Performance/PerformanceTestScene.cs
  osu.Framework.Tests/Visual/Performance/RepeatedDrawablePerformanceTestScene.cs
  osu.Framework.Tests/Visual/Performance/TestSceneBlendingPerformance.cs
  osu.Framework.Tests/Visual/Performance/TestSceneBoxPerformance.cs
  osu.Framework.Tests/Visual/Performance/TestSceneBufferingPerformance.cs
  osu.Framework.Tests/Visual/Performance/TestSceneMaskingPerformance.cs
  osu.Framework.Tests/Visual/Performance/TestSceneSpriteTextPerformance.cs
  osu.Framework.Tests/Visual/Performance/TestSceneTexturePerformance.cs
  osu.Framework.Tests/Visual/Performance/TestSceneTextureUploadPerformance.cs
  osu.Framework.Tests/Visual/Performance/TestSceneVertexUploadPerformance.cs
  osu.Framework/Testing/Drawables/Steps/StepSlider.cs
Labels: type:testing, size/L

#5928 Fix potential texture corruption on Veldrid
  osu.Framework/Graphics/Veldrid/VeldridRenderer.cs
Labels: size/XS, next-release, area:renderer-veldrid

#5930 Revert vertex batch buffer changes
  osu.Framework/Graphics/Veldrid/Batches/VeldridVertexBatch.cs
  osu.Framework/Graphics/Veldrid/Buffers/VeldridLinearBuffer.cs
  osu.Framework/Graphics/Veldrid/Buffers/VeldridQuadBuffer.cs
  osu.Framework/Graphics/Veldrid/Buffers/VeldridUniformBufferStorage.cs
  osu.Framework/Graphics/Veldrid/VeldridRenderer.cs
  osu.Framework/Graphics/Veldrid/VeldridStagingBufferPool.cs
Labels: size/M, area:renderer-veldrid

#5932 Revert iOS frame-rate display fix to resolve issues with running multi-threaded mode
  osu.Framework/Platform/GameHost.cs
Labels: platform:iOS, size/S, type:reliability, next-release

#5935 Add option to avoid automatically running the first step in `TestScene`s
  osu.Framework.Tests/Visual/Performance/PerformanceTestScene.cs
  osu.Framework.Tests/Visual/Platform/TestSceneBorderless.cs
  osu.Framework.Tests/Visual/Platform/TestSceneFullscreen.cs
  osu.Framework.Tests/Visual/Platform/TestSceneRaiseWindow.cs
  osu.Framework.Tests/Visual/Platform/TestSceneWindowed.cs
  osu.Framework/Testing/TestBrowser.cs
  osu.Framework/Testing/TestScene.cs
Labels: type:testing, size/M

#5938 Change source generators to only run for release builds
  .github/workflows/ci.yml
  osu-framework.sln.DotSettings
  osu.Framework.SourceGeneration.Tests/Verifiers/CSharpMultiPhaseSourceGeneratorVerifier_Test.cs
  osu.Framework.SourceGeneration.Tests/Verifiers/CSharpSourceGeneratorVerifier.cs
  osu.Framework.SourceGeneration.Tests/Verifiers/CSharpSourceGeneratorVerifier_Test.cs
  osu.Framework.SourceGeneration/Generators/AbstractIncrementalGenerator.cs
  osu.Framework.SourceGeneration/Generators/GeneratorEventDriver.cs
  osu.Framework.Tests/Dependencies/Reflection/CachedAttributeTest.cs
  osu.Framework.Tests/Dependencies/SourceGeneration/CachedAttributeTest.cs
  osu.Framework/Graphics/Drawable_HandleInputCache.cs
  osu.Framework/Graphics/Drawable_IsLongRunning.cs
  osu.Framework/osu.Framework.csproj
Labels: area:tooling, size/M

#5931 Improve vertex upload performance significantly on iOS
  osu.Framework/Graphics/Veldrid/Batches/VeldridLinearBatch.cs
  osu.Framework/Graphics/Veldrid/Batches/VeldridQuadBatch.cs
  osu.Framework/Graphics/Veldrid/Batches/VeldridVertexBatch.cs
  osu.Framework/Graphics/Veldrid/Buffers/IVeldridVertexBuffer.cs
  osu.Framework/Graphics/Veldrid/Buffers/VeldridIndexBuffer.cs
  osu.Framework/Graphics/Veldrid/Buffers/VeldridIndexData.cs
  osu.Framework/Graphics/Veldrid/Buffers/VeldridIndexLayout.cs
  osu.Framework/Graphics/Veldrid/Buffers/VeldridLinearBuffer.cs
  osu.Framework/Graphics/Veldrid/Buffers/VeldridMetalVertexBuffer.cs
  osu.Framework/Graphics/Veldrid/Buffers/VeldridQuadBuffer.cs
  osu.Framework/Graphics/Veldrid/Buffers/VeldridVertexBuffer.cs
  osu.Framework/Graphics/Veldrid/VeldridRenderer.cs
Labels: type:performance, platform:iOS, size/XL, area:renderer-veldrid

#5940 Fix building iOS projects in AOT mode via command line not working
  osu.Framework.iOS.props
Labels: area:tooling, platform:iOS, size/XS

#5937 Fix window size not being stored to config during resize
  osu.Framework.Tests/Visual/Platform/FrameworkConfigVisualiser.cs
  osu.Framework.Tests/Visual/Platform/TestSceneWindowed.cs
  osu.Framework/Platform/SDL2Window.cs
  osu.Framework/Platform/SDL2Window_Windowing.cs
Labels: size/L, area:platform

#5941 Fix custom interpolation functions potentially causing SIGSEGV on iOS
  osu.Framework/Utils/Interpolation.cs
Labels: platform:iOS, size/S, type:reliability

#5915 Remove most locking overhead in `TripleBuffer`
  osu.Framework/Allocation/TripleBuffer.cs
Labels: type:performance, size/M

#5557 Stop `OnDrag`, `OnDragEnd`, `OnMouseUp` etc. from firing on removed / disposed drawables
  osu.Framework.Tests/Layout/TestSceneContainerLayout.cs
  osu.Framework.Tests/Visual/Input/TestSceneMouseStates.cs
  osu.Framework/Graphics/Drawable.cs
  osu.Framework/Graphics/DrawableExtensions.cs
  osu.Framework/Graphics/Visualisation/VisualisedDrawable.cs
  osu.Framework/Input/ButtonEventManager.cs
  osu.Framework/Input/InputManager.cs
  osu.Framework/Input/JoystickButtonEventManager.cs
  osu.Framework/Input/KeyEventManager.cs
  osu.Framework/Input/MidiKeyEventManager.cs
  osu.Framework/Input/MouseButtonEventManager.cs
  osu.Framework/Input/TabletAuxiliaryButtonEventManager.cs
  osu.Framework/Input/TabletPenButtonEventManager.cs
  osu.Framework/Input/TouchEventManager.cs
Labels: area:input, area:drawable, size/L

#5942 Use better method for `NSString` conversion to avoid potentially pasting garbage content from clipboard
  osu.Framework/Platform/MacOS/Native/Cocoa.cs
Labels: platform:macOS, size/XS

#5947 Fix CI test results not working
  .github/workflows/report-nunit.yml
Labels: size/S

#5944 Fix integer vertex atributes being cast to floats
  osu.Framework/Graphics/OpenGL/Buffers/GLVertexUtils.cs
Labels: size/M, area:renderer-gl

#5948 Prevent re-entrancy into `VertexBatch.Draw()`
  osu.Framework/Graphics/OpenGL/Batches/GLVertexBatch.cs
  osu.Framework/Graphics/Veldrid/Batches/VeldridVertexBatch.cs
Labels: size/M, area:renderer-veldrid, area:renderer-gl

#5949 Refactor global UBO binding
  osu.Framework.Tests/Shaders/TestSceneShaderDisposal.cs
  osu.Framework.Tests/Shaders/TestShaderLoading.cs
  osu.Framework/Graphics/OpenGL/Buffers/GLVertexBuffer.cs
  osu.Framework/Graphics/OpenGL/GLRenderer.cs
  osu.Framework/Graphics/OpenGL/Shaders/GLShader.cs
  osu.Framework/Graphics/Rendering/Renderer.cs
  osu.Framework/Graphics/Veldrid/Shaders/VeldridShader.cs
  osu.Framework/Graphics/Veldrid/VeldridRenderer.cs
Labels: size/M, area:renderer-veldrid, area:renderer-gl

#5956 Fix `DrawableAudioWrapper` deadlock by moving unbind to `UnbindAllBindables`
  osu.Framework/Graphics/Audio/DrawableAudioWrapper.cs
Labels: area:bindable, size/XS, type:reliability

#5954 Fix `BindableList` being unsafe for complex bind trees
  osu.Framework.Tests/Bindables/BindableListTest.cs
  osu.Framework/Bindables/BindableList.cs
Labels: priority:0, area:bindable, size/L, type:reliability, next-release

#5955 Fix `ModelBackedDrawable` potentially crashing on badly timed `null`
  osu.Framework.Tests/Visual/Drawables/TestSceneModelBackedDrawable.cs
  osu.Framework.Tests/Visual/Drawables/TestSceneModelBackedDrawableWithUnloading.cs
  osu.Framework/Graphics/Containers/ModelBackedDrawable.cs
Labels: area:drawable, size/L, type:reliability
