Repository ppy/osu-framework, pull requests merged in 2023-03, with the labels that each got.

#5660 Add BindableColour4
  osu.Framework.Tests/Bindables/BindableColour4Test.cs
  osu.Framework/Bindables/BindableColour4.cs
  osu.Framework/Configuration/ConfigManager.cs
Labels: area:bindable, size/L

#5666 Fix external links not working on Android
  SampleGame.Android/AndroidManifest.xml
  osu.Framework.Tests.Android/AndroidManifest.xml
  osu.Framework.Tests/Visual/Platform/TestSceneExternalLinks.cs
Labels: size/M

#5670 Fix `Quad.Contains` sometimes failing due to floating point precision issues
  osu.Framework.Benchmarks/BenchmarkQuad.cs
  osu.Framework.Tests/Primitives/QuadTest.cs
  osu.Framework/Graphics/Primitives/Quad.cs
Labels: area:drawable, size/M

#5673 Update github actions to latest versions
  .github/workflows/build-ffmpeg.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-nativelibs.yml
  .github/workflows/deploy-pack.yml
Labels: size/M

#5672 Remove xmldoc references to private methods
  osu.Framework.Tests/Localisation/LocalisationTest.cs
  osu.Framework.Tests/Text/TextBuilderTest.cs
Labels: type:documentation, size/XS

#5661 Implement Veldrid renderer
  osu.Framework/Graphics/Containers/BufferedContainer.cs
  osu.Framework/Graphics/Containers/BufferedContainer_DrawNode.cs
  osu.Framework/Graphics/OpenGL/Buffers/GLFrameBuffer.cs
  osu.Framework/Graphics/OpenGL/GLRenderer.cs
  osu.Framework/Graphics/Rendering/Dummy/DummyRenderer.cs
  osu.Framework/Graphics/Rendering/GlobalUniformData.cs
  osu.Framework/Graphics/Rendering/IRenderer.cs
  osu.Framework/Graphics/Rendering/Renderer.cs
  osu.Framework/Graphics/Rendering/RendererExtensions.cs
  osu.Framework/Graphics/Shaders/ShaderManager.cs
  osu.Framework/Graphics/Veldrid/Buffers/VeldridFrameBuffer.cs
  osu.Framework/Graphics/Veldrid/Buffers/VeldridUniformBuffer.cs
  osu.Framework/Graphics/Veldrid/Shaders/VeldridShader.cs
  osu.Framework/Graphics/Veldrid/Shaders/VeldridShaderPart.cs
  osu.Framework/Graphics/Veldrid/Shaders/VeldridUniformLayout.cs
  osu.Framework/Graphics/Veldrid/Textures/VeldridTexture.cs
  osu.Framework/Graphics/Veldrid/Textures/VeldridTextureResources.cs
  osu.Framework/Graphics/Veldrid/Textures/VeldridVideoTexture.cs
  osu.Framework/Graphics/Veldrid/VeldridExtensions.cs
  osu.Framework/Graphics/Veldrid/VeldridRenderer.cs
  osu.Framework/Graphics/Veldrid/Vertices/VeldridVertexUtils.cs
  osu.Framework/Platform/GameHost.cs
  osu.Framework/Resources/Shaders/Internal/sh_GlobalUniforms.h
  osu.Framework/Resources/Shaders/Internal/sh_Vertex_Output.h
  osu.Framework/Resources/Shaders/sh_Blur.fs
  osu.Framework/Resources/Shaders/sh_Blur.vs
Labels: area:graphics, size/XXL

#5662 Show current renderer and surface choice in frame display
  osu.Framework/Graphics/Performance/FrameStatisticsDisplay.cs
  osu.Framework/Platform/GameHost.cs
  osu.Framework/Threading/DrawThread.cs
Labels: area:tooling, area:graphics, size/S

#5676 Fix Veldrid + OpenGL not initialising on macOS
  osu.Framework/Graphics/Veldrid/VeldridRenderer.cs
Labels: platform:macOS, size/S, area:renderer-veldrid

#5675 Fix UBOs not being initialised when data is default
  osu.Framework/Graphics/OpenGL/Buffers/GLUniformBuffer.cs
Labels: size/S, area:renderer-gl

#5679 Fix `Quad.Contains()` failing for zero-sized drawables
  osu.Framework.Tests/Primitives/QuadTest.cs
  osu.Framework/Graphics/Primitives/Quad.cs
Labels: area:drawable, size/M

#5680 Fix masking info not reset on new frame
  osu.Framework/Graphics/Rendering/Renderer.cs
Labels: area:graphics, size/XS

#5684 Fix Veldrid framebuffers leaking GPU memory
  osu.Framework/Graphics/Veldrid/Buffers/VeldridFrameBuffer.cs
  osu.Framework/Graphics/Veldrid/VeldridRenderer.cs
Labels: size/M, area:renderer-veldrid

#5691 Fix Android CI workload
  .github/workflows/ci.yml
Labels: size/XS

#5689 Fix draw thread unnecessarily marking GL context as current
  osu.Framework/Graphics/OpenGL/GLRenderer.cs
  osu.Framework/Threading/DrawThread.cs
Labels: area:graphics, size/S

#5682 Allow renderer choice to be stored in user configuration (and add automatic fallbacks)
  osu.Framework.Tests/Visual/Platform/TestSceneRenderer.cs
  osu.Framework.iOS/IOSGameHost.cs
  osu.Framework/Configuration/FrameworkConfigManager.cs
  osu.Framework/Configuration/RendererType.cs
  osu.Framework/Platform/GameHost.cs
  osu.Framework/Platform/HeadlessGameHost.cs
  osu.Framework/Platform/OsuTKGameHost.cs
  osu.Framework/Platform/SDL2DesktopWindow.cs
  osu.Framework/Platform/Windows/WindowsGameHost.cs
Labels: area:graphics, size/L, next-release

#5690 Fix D3D VBOs sometimes initialised with junk data
  osu.Framework/Graphics/OpenGL/Buffers/GLVertexBuffer.cs
  osu.Framework/Graphics/Veldrid/Buffers/VeldridVertexBuffer.cs
Labels: size/XS, area:renderer-veldrid

#5685 Fix possible division by 0 in SpriteText
  osu.Framework/Graphics/Sprites/SpriteText.cs
Labels: area:graphics, size/XS

#5692 Add a finaliser to Veldrid UBOs
  osu.Framework/Graphics/OpenGL/Buffers/GLUniformBuffer.cs
  osu.Framework/Graphics/Veldrid/Buffers/VeldridUniformBuffer.cs
Labels: size/S, area:renderer-veldrid

#5683 Fix Metal performance with a separate command list for buffer updates
  osu.Framework/Graphics/OpenGL/Buffers/GLUniformBuffer.cs
  osu.Framework/Graphics/Rendering/IUniformBuffer.cs
  osu.Framework/Graphics/Veldrid/Batches/VeldridLinearBatch.cs
  osu.Framework/Graphics/Veldrid/Batches/VeldridQuadBatch.cs
  osu.Framework/Graphics/Veldrid/Batches/VeldridVertexBatch.cs
  osu.Framework/Graphics/Veldrid/Buffers/VeldridLinearBuffer.cs
  osu.Framework/Graphics/Veldrid/Buffers/VeldridQuadBuffer.cs
  osu.Framework/Graphics/Veldrid/Buffers/VeldridUniformBuffer.cs
  osu.Framework/Graphics/Veldrid/Buffers/VeldridUniformBufferStorage.cs
  osu.Framework/Graphics/Veldrid/Buffers/VeldridVertexBuffer.cs
  osu.Framework/Graphics/Veldrid/VeldridRenderer.cs
  osu.Framework/Statistics/FrameStatistics.cs
  osu.Framework/Threading/DrawThread.cs
Labels: size/L, area:renderer-veldrid

#5693 Switch to using custom veldrid fork
  osu.Framework/Graphics/Veldrid/VeldridExtensions.cs
  osu.Framework/osu.Framework.csproj
Labels: size/XS

#5681 Fix local uniform buffers not always bound on draw
  osu.Framework/Graphics/BufferedDrawNode.cs
  osu.Framework/Graphics/Sprites/BufferedContainerView.cs
  osu.Framework/Graphics/Sprites/SpriteDrawNode.cs
  osu.Framework/Graphics/Sprites/SpriteText_DrawNode.cs
  osu.Framework/Graphics/TexturedShaderDrawNode.cs
  osu.Framework/Graphics/UserInterface/CircularBlob.cs
  osu.Framework/Graphics/UserInterface/CircularProgress.cs
  osu.Framework/Graphics/UserInterface/HSVColourPicker_SaturationValueSelector.cs
  osu.Framework/Graphics/Video/VideoSpriteDrawNode.cs
Labels: area:graphics, size/M, type:reliability

#5696 Fix android restore for deployment github action
  .github/workflows/deploy-pack.yml
Labels: size/XS

#5697 Enable Mono Interpreter on iOS
  osu.Framework.iOS.props
Labels: area:tooling, platform:iOS, size/XS

#5700 Add workaround for incorrect SRGB conversion inside `BufferedContainer`s on android
  osu.Framework/Graphics/OpenGL/GLRenderer.cs
Labels: platform:android, size/XS

#5703 Fix namespace warnings in iOS / android test projects
  osu.Framework.Tests.Android/osu.Framework.Tests.Android.csproj.DotSettings
  osu.Framework.Tests.iOS/osu.Framework.Tests.iOS.csproj.DotSettings
Labels: area:tooling, size/XS

#5698 Migrate iOS framework to SDL
  SampleGame.iOS/AppDelegate.cs
  SampleGame.iOS/Application.cs
  osu.Framework.Templates/templates/template-empty/TemplateGame.iOS/AppDelegate.cs
  osu.Framework.Templates/templates/template-empty/TemplateGame.iOS/Application.cs
  osu.Framework.Templates/templates/template-flappy/FlappyDon.iOS/AppDelegate.cs
  osu.Framework.Templates/templates/template-flappy/FlappyDon.iOS/Application.cs
  osu.Framework.Tests.iOS/AppDelegate.cs
  osu.Framework.Tests.iOS/Application.cs
  osu.Framework.Tests/Visual/Platform/TestSceneBorderless.cs
  osu.Framework.Tests/Visual/Platform/TestSceneFullscreen.cs
  osu.Framework.Tests/Visual/Platform/TestSceneWindowed.cs
  osu.Framework.Tests/Visual/Platform/WindowDisplaysPreview.cs
  osu.Framework.iOS/GameAppDelegate.cs
  osu.Framework.iOS/GameApplication.cs
  osu.Framework.iOS/GameViewController.cs
  osu.Framework.iOS/Graphics/OpenGL/IOSGLRenderer.cs
  osu.Framework.iOS/IOSClipboard.cs
  osu.Framework.iOS/IOSGameHost.cs
  osu.Framework.iOS/IOSGameView.cs
  osu.Framework.iOS/IOSGameWindow.cs
  osu.Framework.iOS/IOSWindow.cs
  osu.Framework.iOS/Input/IOSHardwareKeyboardHandler.cs
  osu.Framework.iOS/Input/IOSMouseHandler.cs
  osu.Framework.iOS/Input/IOSTextFieldKeyboardHandler.cs
  osu.Framework.iOS/Input/IOSTextInput.cs
  osu.Framework.iOS/Input/IOSTouchHandler.cs
  osu.Framework.iOS/osu.Framework.iOS.csproj
  osu.Framework/Graphics/OpenGL/GLRenderer.cs
  osu.Framework/Input/Handlers/Joystick/JoystickHandler.cs
  osu.Framework/Input/Handlers/Keyboard/KeyboardHandler.cs
  osu.Framework/Input/Handlers/Mouse/MouseHandler.cs
  osu.Framework/Input/Handlers/Touch/TouchHandler.cs
  osu.Framework/Input/SDL2WindowTextInput.cs
  osu.Framework/Input/UserInputManager.cs
  osu.Framework/Platform/DesktopGameHost.cs
  osu.Framework/Platform/GameHost.cs
  osu.Framework/Platform/HeadlessGameHost.cs
  osu.Framework/Platform/IOpenGLGraphicsSurface.cs
  osu.Framework/Platform/IWindow.cs
  osu.Framework/Platform/Linux/LinuxGameHost.cs
  osu.Framework/Platform/MacOS/MacOSWindow.cs
  osu.Framework/Platform/OsuTKGraphicsSurface.cs
  osu.Framework/Platform/OsuTKWindow.cs
  osu.Framework/Platform/SDL2/SDL2Clipboard.cs
  osu.Framework/Platform/SDL2/SDL2GraphicsSurface.cs
  osu.Framework/Platform/SDL2DesktopWindow.cs
  osu.Framework/Platform/SDL2GameHost.cs
  osu.Framework/Platform/SDL2Window.cs
  osu.Framework/Platform/SDL2Window_Input.cs
  osu.Framework/Platform/SDL2Window_Windowing.cs
  osu.Framework/Platform/Windows/WindowsWindow.cs
  osu.Framework/osu.Framework.csproj
Labels: platform:iOS, size/XXL, area:platform

#5706 Fix blur direction changing between renderer surfaces
  osu.Framework/Graphics/Containers/BufferedContainer_DrawNode.cs
  osu.Framework/Graphics/OpenGL/Buffers/GLFrameBuffer.cs
  osu.Framework/Graphics/Rendering/GlobalUniformData.cs
  osu.Framework/Graphics/Rendering/Renderer.cs
  osu.Framework/Graphics/Veldrid/Buffers/VeldridFrameBuffer.cs
  osu.Framework/Resources/Shaders/Internal/sh_GlobalUniforms.h
  osu.Framework/Resources/Shaders/Internal/sh_Vertex_Output.h
Labels: size/M, area:renderer-veldrid, area:renderer-gl

#5705 Build debug symbol packages in deploy workflow
  .github/workflows/deploy-pack.yml
Labels: area:tooling, size/XS

#5704 Add support for D3D tearing and waitable swapchains
  osu.Framework/Graphics/OpenGL/GLRenderer.cs
  osu.Framework/Graphics/Rendering/Dummy/DummyRenderer.cs
  osu.Framework/Graphics/Rendering/IRenderer.cs
  osu.Framework/Graphics/Rendering/Renderer.cs
  osu.Framework/Graphics/Veldrid/VeldridRenderer.cs
  osu.Framework/Platform/GameHost.cs
  osu.Framework/osu.Framework.csproj
Labels: size/M, area:renderer-veldrid

#5699 Add Veldrid support on iOS
  osu.Framework.iOS.props
  osu.Framework.iOS/runtimes/ios/native/metal-mono-workaround.xcframework/Info.plist
  osu.Framework.iOS/runtimes/ios/native/metal-mono-workaround.xcframework/ios-arm64/metal_mono_workaround.framework/Info.plist
  osu.Framework.iOS/runtimes/ios/native/metal-mono-workaround.xcframework/ios-arm64/metal_mono_workaround.framework/metal_mono_workaround
  osu.Framework.iOS/runtimes/ios/native/metal-mono-workaround.xcframework/ios-arm64_x86_64-simulator/metal_mono_workaround.framework/Info.plist
  osu.Framework.iOS/runtimes/ios/native/metal-mono-workaround.xcframework/ios-arm64_x86_64-simulator/metal_mono_workaround.framework/metal_mono_workaround
  osu.Framework.iOS/stubs/Vortice.D3DCompiler.dll
  osu.Framework/Graphics/Veldrid/VeldridRenderer.cs
  osu.Framework/Platform/SDL2Window_Windowing.cs
  osu.Framework/osu.Framework.csproj
Labels: platform:iOS, size/M, area:renderer-veldrid

#5707 Fix iOS native libraries for SPIRV not specifying bundle version on manifest
  osu.Framework.iOS/runtimes/ios/native/veldrid-spirv.xcframework/ios-arm64/veldrid-spirv.framework/Info.plist
  osu.Framework.iOS/runtimes/ios/native/veldrid-spirv.xcframework/ios-arm64_x86_64-simulator/veldrid-spirv.framework/Info.plist
Labels: area:tooling, platform:iOS, size/XS

#5710 Fix opening external links on Android
  SampleGame.Android/AndroidManifest.xml
  osu.Framework.Android/AndroidGameHost.cs
  osu.Framework.Tests.Android/AndroidManifest.xml
  osu.Framework.Tests/Visual/Platform/TestSceneExternalLinks.cs
Labels: platform:android, size/M, area:platform

#5717 Change `SupportedWindowModes` to non-bindable
  osu.Framework.Android/AndroidGameWindow.cs
  osu.Framework/Platform/IWindow.cs
  osu.Framework/Platform/OsuTKWindow.cs
  osu.Framework/Platform/SDL2Window.cs
  osu.Framework/Platform/SDL2Window_Windowing.cs
Labels: type:code-quality, size/S

#5720 Fix `Quad.Contains()` not working with clockwise-oriented quads
  osu.Framework.Tests/Primitives/QuadTest.cs
  osu.Framework/Graphics/Primitives/Quad.cs
Labels: area:drawable, size/M

#5718 Fix Veldrid failing to initialise on Wayland
  osu.Framework/Platform/SDL2Window.cs
Labels: size/XS, area:renderer-veldrid

#5716 Remove iOS imagesharp AOT workaround
  osu.Framework.iOS/GameApplication.cs
Labels: type:code-quality, size/S

#5723 Update README bounty/compensation section in line with changes applied to osu-web
  README.md
Labels: size/XS

#5724 Disable GL renderers on iOS pending fixes
  osu.Framework/Platform/GameHost.cs
Labels: size/S

#5726 Update veldrid to include desktop metal performance fix
  osu.Framework/osu.Framework.csproj
Labels: size/XS

#5721 Move gamma correction logic from renderer/shader to vertex input
  osu.Framework.Tests/Resources/Textures/d3-colour-interpolation.png
  osu.Framework.Tests/Resources/Textures/figma-colour-interpolation.png
  osu.Framework.Tests/Visual/Drawables/TestSceneColourInterpolation.cs
  osu.Framework.Tests/Visual/Drawables/TestSceneGammaCorrection.cs
  osu.Framework/Graphics/Colour/ColourInfo.cs
  osu.Framework/Graphics/Colour/SRGBColour.cs
  osu.Framework/Graphics/Containers/CompositeDrawable_DrawNode.cs
  osu.Framework/Graphics/Lines/Path_DrawNode.cs
  osu.Framework/Graphics/OpenGL/GLRenderer.cs
  osu.Framework/Graphics/OpenGL/Textures/GLTexture.cs
  osu.Framework/Graphics/Rendering/GlobalUniformData.cs
  osu.Framework/Graphics/Rendering/Renderer.cs
  osu.Framework/Graphics/Rendering/RendererExtensions.cs
  osu.Framework/Graphics/Veldrid/Textures/VeldridTexture.cs
  osu.Framework/Graphics/Veldrid/VeldridRenderer.cs
  osu.Framework/Graphics/Visualisation/DrawVisualiser.cs
  osu.Framework/Resources/Shaders/Internal/sh_GlobalUniforms.h
  osu.Framework/Resources/Shaders/sh_Blur.fs
  osu.Framework/Resources/Shaders/sh_HueSelectorBackground.fs
  osu.Framework/Resources/Shaders/sh_Masking.h
  osu.Framework/Resources/Shaders/sh_SaturationSelectorBackground.fs
  osu.Framework/Resources/Shaders/sh_Utils.h
  osu.Framework/Resources/Shaders/sh_Video.fs
Labels: area:graphics, size/XL, next-release

#5727 Silence display mode fetch error
  osu.Framework/Platform/SDL2Window_Windowing.cs
Labels: size/XS, area:platform

#5725 Update SPIRV to new build with older glibc compilation
  osu.Framework/osu.Framework.csproj
Labels: size/XS
