Repository ppy/osu-framework, pull requests merged in 2023-08, with the labels that each got.

#5957 Include type name in long-running exception output
  osu.Framework/Graphics/Drawable.cs
Labels: type:code-quality, size/XS

#5958 Disallow `SafeWriteStream` logic from running on finalisation
  osu.Framework/Platform/Storage.cs
Labels: size/S, type:reliability, area:storage

#5961 Fix potential user-facing error when same shader is compiled in parallel
  osu.Framework/Graphics/Shaders/ShaderCompilationStore.cs
Labels: size/M, area:shader, type:reliability

#5962 Update workarounds file to fix iOS AOT build issues via command line
  osu.Framework.iOS/osu.Framework.iOS.Workarounds.targets
Labels: area:tooling, platform:iOS, size/XS

#5964 Fix crash on tablet stylus touch when stylus is over inactive area and mouse confine is off
  osu.Framework.Tests/Visual/Input/TestSceneTabletInput.cs
  osu.Framework/Input/ButtonEventManager.cs
  osu.Framework/Input/UserInputManager.cs
Labels: area:input, size/L, type:reliability, next-release

#5965 Fix `DrawableAudioWrapper` unapplying adjustments between removal from hierarchy and disposal
  osu.Framework.Tests/Audio/DrawableAudioWrapperTest.cs
  osu.Framework/Graphics/Audio/DrawableAudioWrapper.cs
Labels: area:audio, size/M, next-release

#5943 Remove `DepthWrappingVertex<T>`
  osu.Framework/Graphics/OpenGL/Buffers/GLVertexBuffer.cs
  osu.Framework/Graphics/OpenGL/Shaders/GLShaderPart.cs
  osu.Framework/Graphics/Rendering/RendererExtensions.cs
  osu.Framework/Graphics/Rendering/Vertices/DepthWrappingVertex.cs
  osu.Framework/Graphics/Rendering/Vertices/TexturedVertex2D.cs
  osu.Framework/Graphics/Veldrid/Buffers/IVeldridVertexBuffer.cs
  osu.Framework/Graphics/Veldrid/Buffers/VeldridMetalVertexBuffer.cs
  osu.Framework/Graphics/Veldrid/Buffers/VeldridVertexBuffer.cs
  osu.Framework/Graphics/Veldrid/Shaders/VeldridShaderPart.cs
  osu.Framework/Resources/Shaders/Internal/sh_Vertex_Output.h
  osu.Framework/Resources/Shaders/sh_Texture2D.vs
  osu.Framework/Resources/Shaders/sh_Texture3D.vs
Labels: type:code-quality, area:graphics, size/L

#5950 Add support for shader storage buffer objects (SSBOs)
  osu.Framework.Tests/Graphics/ShaderStorageBufferObjectStackTest.cs
  osu.Framework.Tests/Resources/Shaders/sh_SSBOTest.fs
  osu.Framework.Tests/Resources/Shaders/sh_SSBOTest.vs
  osu.Framework.Tests/Visual/Graphics/TestSceneShaderStorageBufferObject.cs
  osu.Framework/FrameworkEnvironment.cs
  osu.Framework/Graphics/OpenGL/Buffers/GLShaderStorageBufferObject.cs
  osu.Framework/Graphics/OpenGL/Buffers/GLUniformBuffer.cs
  osu.Framework/Graphics/OpenGL/Buffers/IGLShaderStorageBufferObject.cs
  osu.Framework/Graphics/OpenGL/Buffers/IGLUniformBuffer.cs
  osu.Framework/Graphics/OpenGL/GLRenderer.cs
  osu.Framework/Graphics/OpenGL/Shaders/GLShader.cs
  osu.Framework/Graphics/OpenGL/Shaders/GLShaderPart.cs
  osu.Framework/Graphics/Rendering/Dummy/DummyRenderer.cs
  osu.Framework/Graphics/Rendering/Dummy/DummyShaderStorageBufferObject.cs
  osu.Framework/Graphics/Rendering/FlushBatchSource.cs
  osu.Framework/Graphics/Rendering/IRenderer.cs
  osu.Framework/Graphics/Rendering/IShaderStorageBufferObject.cs
  osu.Framework/Graphics/Rendering/Renderer.cs
  osu.Framework/Graphics/Rendering/ShaderStorageBufferObjectStack.cs
  osu.Framework/Graphics/Veldrid/Buffers/VeldridShaderStorageBufferObject.cs
  osu.Framework/Graphics/Veldrid/Shaders/VeldridShader.cs
  osu.Framework/Graphics/Veldrid/Shaders/VeldridShaderPart.cs
  osu.Framework/Graphics/Veldrid/VeldridRenderer.cs
  osu.Framework/osu.Framework.csproj
Labels: area:graphics, size/XXL, area:renderer-veldrid, area:renderer-gl

#5967 Implement popover hinting
  osu.Framework.Tests/Visual/UserInterface/TestScenePopoverContainer.cs
  osu.Framework/Graphics/Cursor/PopoverContainer.cs
  osu.Framework/Graphics/UserInterface/Popover.cs
Labels: area:drawable, size/L

#5966 Make `KeyBindingContainer.Prioritised` work for positional input too
  osu.Framework.Tests/Visual/Input/TestSceneKeyBindingContainer.cs
  osu.Framework/Input/Bindings/KeyBindingContainer.cs
Labels: area:input, size/L

#5969 Add DeltaDash to the list of projects using the framework
  README.md
Labels: size/XS

#5972 Allow gravity in RigidBodySimulation to be adjustable
  osu.Framework.Tests/Visual/UserInterface/TestSceneRigidBody.cs
  osu.Framework/Physics/RigidBodySimulation.cs
Labels: size/XS

#5960 Use RectangleF for masking scissor
  osu.Framework/Graphics/Containers/CompositeDrawable_DrawNode.cs
  osu.Framework/Graphics/Rendering/MaskingInfo.cs
  osu.Framework/Graphics/Rendering/Renderer.cs
Labels: area:graphics, size/S, size/XXL

#5970 Implement window flashing
  osu.Framework.Tests/Visual/Platform/TestSceneWindowFlash.cs
  osu.Framework/Platform/IWindow.cs
  osu.Framework/Platform/OsuTKWindow.cs
  osu.Framework/Platform/SDL2Window.cs
Labels: size/L, area:platform

#5973 Bump Android target SDK version to 33
  SampleGame.Android/AndroidManifest.xml
  osu.Framework.Android/Properties/AssemblyInfo.cs
  osu.Framework.Tests.Android/AndroidManifest.xml
Labels: platform:android, size/S

#5975 Fix `KeyBindingContainer` propagating release events to removed drawables
  osu.Framework.Tests/Visual/Input/TestSceneKeyBindingContainer.cs
  osu.Framework/Input/Bindings/KeyBindingContainer.cs
Labels: area:input, size/M, type:reliability

#5977 VideoSprite: Test all supported containers, codecs
  osu.Framework.Tests/Resources/Videos/h264.avi
  osu.Framework.Tests/Resources/Videos/h264.flv
  osu.Framework.Tests/Resources/Videos/h264.mkv
  osu.Framework.Tests/Resources/Videos/h264.mov
  osu.Framework.Tests/Resources/Videos/h264.mp4
  osu.Framework.Tests/Resources/Videos/hevc.mp4
  osu.Framework.Tests/Resources/Videos/vp8.webm
  osu.Framework.Tests/Resources/Videos/vp9.webm
  osu.Framework.Tests/Visual/Sprites/TestSceneVideo.cs
  osu.Framework.Tests/Visual/Sprites/TestSceneVideoLayout.cs
  osu.Framework.Tests/Visual/Sprites/TestSceneWrapModes.cs
Labels: type:testing, size/M, area:video

#5978 Add a cache busting mechanism to the shader compilation cache
  osu.Framework/Graphics/Shaders/ShaderCompilationStore.cs
Labels: size/XS, area:shader

#5979 Remove now unnecessary blur shader workaround
  osu.Framework/Resources/Shaders/sh_Blur.fs
  osu.Framework/osu.Framework.csproj
Labels: type:code-quality, size/XS, area:shader

#5982 Free AVIOContext and IO buffer
  osu.Framework/Graphics/Video/VideoDecoder.cs
Labels: size/S, area:video

#5984 Change behaviour of `Storage.Move` to overwrite existing by default
  osu.Framework/Platform/NativeStorage.cs
  osu.Framework/Platform/Storage.cs
Labels: size/XS, area:storage

#5983 Fix crash on minimising from non-native fullscreen resolutions
  osu.Framework/Platform/SDL2Window_Windowing.cs
Labels: size/S, platform:windows
