Repository ppy/osu-framework, pull requests merged in 2024-04, with the labels that each got.

#6232 Prepare `SDL2ControllerBindings` class for SDL3
  osu.Framework/Platform/SDL2/SDL2ControllerBindings.cs
  osu.Framework/Platform/SDL2Window_Input.cs
Labels: type:compatibility, size/S, area:platform

#6234 Upgrade to SDL3
  osu.Framework.Tests/Visual/Platform/TestSceneBorderless.cs
  osu.Framework.Tests/Visual/Platform/TestSceneCurrentDisplay.cs
  osu.Framework.Tests/Visual/Platform/TestSceneFullscreen.cs
  osu.Framework.Tests/Visual/Platform/TestSceneWindowed.cs
  osu.Framework.Tests/Visual/Platform/WindowDisplaysPreview.cs
  osu.Framework.iOS/GameApplication.cs
  osu.Framework.iOS/IOSGameHost.cs
  osu.Framework.iOS/IOSWindow.cs
  osu.Framework/Extensions/BridgingExtensions.cs
  osu.Framework/Extensions/ExtensionMethods.cs
  osu.Framework/Input/Handlers/Joystick/JoystickHandler.cs
  osu.Framework/Input/Handlers/Keyboard/KeyboardHandler.cs
  osu.Framework/Input/Handlers/Mouse/MouseHandler.cs
  osu.Framework/Input/Handlers/Touch/TouchHandler.cs
  osu.Framework/Input/SDL3WindowTextInput.cs
  osu.Framework/Input/UserInputManager.cs
  osu.Framework/Platform/DesktopGameHost.cs
  osu.Framework/Platform/DisplayMode.cs
  osu.Framework/Platform/GameHost.cs
  osu.Framework/Platform/Linux/LinuxGameHost.cs
  osu.Framework/Platform/Linux/LinuxReadableKeyCombinationProvider.cs
  osu.Framework/Platform/MacOS/MacOSGameHost.cs
  osu.Framework/Platform/MacOS/MacOSReadableKeyCombinationProvider.cs
  osu.Framework/Platform/MacOS/MacOSWindow.cs
  osu.Framework/Platform/OsuTKWindow.cs
  osu.Framework/Platform/SDL/SDL3Clipboard.cs
  osu.Framework/Platform/SDL/SDL3ControllerBindings.cs
  osu.Framework/Platform/SDL/SDL3Extensions.cs
  osu.Framework/Platform/SDL/SDL3GraphicsSurface.cs
  osu.Framework/Platform/SDL/SDL3ReadableKeyCombinationProvider.cs
  osu.Framework/Platform/SDL2/SDL2ControllerBindings.cs
  osu.Framework/Platform/SDL2/SDL2Extensions.cs
  osu.Framework/Platform/SDL2/SDL2Structs.cs
  osu.Framework/Platform/SDL3DesktopWindow.cs
  osu.Framework/Platform/SDL3GameHost.cs
  osu.Framework/Platform/SDL3Window.cs
  osu.Framework/Platform/SDL3Window_Input.cs
  osu.Framework/Platform/SDL3Window_Windowing.cs
  osu.Framework/Platform/Windows/Native/Input.cs
  osu.Framework/Platform/Windows/WindowsMouseHandler.cs
  osu.Framework/Platform/Windows/WindowsReadableKeyCombinationProvider.cs
  osu.Framework/Platform/Windows/WindowsWindow.cs
  osu.Framework/osu.Framework.csproj
Labels: size/XXL, area:platform

#6237 Fix tablet driver log output subscription not unsubscribing after disposing/disabling
  osu.Framework/Input/Handlers/Tablet/TabletDriver.cs
Labels: size/S

#6240 Update SDL3
  osu.Framework/osu.Framework.csproj
Labels: size/XS

#6242 Fix ChannelGetPosition param not being used
  osu.Framework/Audio/Mixing/Bass/BassAudioMixer.cs
Labels: type:code-quality, area:audio, size/XS

#6239 Fix tablet info not clearing when unplugged
  osu.Framework.Tests/Visual/Input/TestSceneTabletInput.cs
  osu.Framework/Input/Handlers/Tablet/ITabletHandler.cs
  osu.Framework/Input/Handlers/Tablet/OpenTabletDriverHandler.cs
Labels: size/L

#6249 Perform rounding to `Precision` in `BindableNumber` on `decimal` to avoid rounding error accumulation
  osu.Framework.Tests/Bindables/BindableNumberTest.cs
  osu.Framework/Bindables/BindableNumber.cs
Labels: area:bindable, size/M

#6250 Update Veldrid to pull in Vulkan lib fix
  osu.Framework/osu.Framework.csproj
Labels: size/XS

#6251 Move user tab selection events to `TabItem`s
  osu.Framework.Tests/Visual/UserInterface/TestSceneTabControlEvents.cs
  osu.Framework/Graphics/UserInterface/TabControl.cs
  osu.Framework/Graphics/UserInterface/TabItem.cs
Labels: type:code-quality, area:UI, size/M

#6252 Fix unnecessary array copying in `WindowsClipboard.SetImage()`
  osu.Framework/Platform/Windows/WindowsClipboard.cs
Labels: type:code-quality, size/S, area:platform

#6253 Fix flaky test attribute not working
  osu.Framework.Tests/FlakyTestAttribute.cs
  osu.Framework.Tests/Visual/Testing/TestSceneNestedGame.cs
  osu.Framework.Tests/Visual/Testing/TestSceneTestRetry.cs
  osu.Framework/FrameworkEnvironment.cs
  osu.Framework/Testing/Drawables/Steps/AssertButton.cs
  osu.Framework/Testing/Drawables/Steps/UntilStepButton.cs
  osu.Framework/Testing/TestBrowser.cs
  osu.Framework/Testing/TestScene.cs
Labels: type:testing, area:tooling, size/L

#6257 Set IME rectangle before starting text input
  osu.Framework/Graphics/UserInterface/TextBox.cs
  osu.Framework/Input/TextInputSource.cs
Labels: size/S

#6259 Set event filter early in the startup process to work around SDL issue
  osu.Framework/Platform/SDL3Window.cs
Labels: size/XS, area:platform, type:reliability

#6258 Work around broken `SDL_EVENT_FINGER_DOWN` events that lead to stuck touches
  osu.Framework/Platform/SDL3Window_Input.cs
Labels: priority:0, size/XS, area:platform, type:reliability

#6265 Log SDL3 version and revision on successful initialisation
  osu.Framework/Platform/SDL3Window.cs
Labels: size/XS

#6263 Guard against unsupported window mode on startup
  osu.Framework/Platform/SDL3Window_Windowing.cs
Labels: size/XS, area:platform, type:reliability

#6260 Set SDL_HINT_APP_NAME in SDL3GameHost constructor
  osu.Framework.iOS/IOSGameHost.cs
  osu.Framework.iOS/IOSWindow.cs
  osu.Framework/HostOptions.cs
  osu.Framework/Platform/GameHost.cs
  osu.Framework/Platform/Linux/LinuxGameHost.cs
  osu.Framework/Platform/MacOS/MacOSGameHost.cs
  osu.Framework/Platform/MacOS/MacOSWindow.cs
  osu.Framework/Platform/SDL3DesktopWindow.cs
  osu.Framework/Platform/SDL3Window.cs
  osu.Framework/Platform/Windows/WindowsGameHost.cs
  osu.Framework/Platform/Windows/WindowsWindow.cs
Labels: size/M

#6105 Migrate Android framework to SDL
  osu.Framework.Android/AndroidClipboard.cs
  osu.Framework.Android/AndroidGameActivity.cs
  osu.Framework.Android/AndroidGameHost.cs
  osu.Framework.Android/AndroidGameSurface.cs
  osu.Framework.Android/AndroidGameView.cs
  osu.Framework.Android/AndroidGameWindow.cs
  osu.Framework.Android/Input/AndroidInputConnection.cs
  osu.Framework.Android/Input/AndroidInputExtensions.cs
  osu.Framework.Android/Input/AndroidInputHandler.cs
  osu.Framework.Android/Input/AndroidJoystickHandler.cs
  osu.Framework.Android/Input/AndroidKeyboardHandler.cs
  osu.Framework.Android/Input/AndroidMouseHandler.cs
  osu.Framework.Android/Input/AndroidTextInput.cs
  osu.Framework.Android/Input/AndroidTouchHandler.cs
  osu.Framework.Android/osu.Framework.Android.csproj
  osu.Framework.iOS/IOSWindow.cs
  osu.Framework/Graphics/Veldrid/VeldridDevice.cs
  osu.Framework/Platform/IAndroidGraphicsSurface.cs
  osu.Framework/Platform/SDL/SDL3Extensions.cs
  osu.Framework/Platform/SDL/SDL3GraphicsSurface.cs
  osu.Framework/Platform/SDL3MobileWindow.cs
  osu.Framework/Platform/SDL3Window.cs
  osu.Framework/Platform/SDL3Window_Windowing.cs
Labels: platform:android, size/XXL

#6267 Delete osuTK windowing
  osu.Framework/Extensions/BridgingExtensions.cs
  osu.Framework/Extensions/ExtensionMethods.cs
  osu.Framework/Graphics/Containers/SafeAreaDefiningContainer.cs
  osu.Framework/Platform/CursorState.cs
  osu.Framework/Platform/GameHost.cs
  osu.Framework/Platform/OsuTKGameHost.cs
  osu.Framework/Platform/OsuTKGraphicsSurface.cs
  osu.Framework/Platform/OsuTKWindow.cs
Labels: size/XL

#6270 Add `Update` event to `IWindow`
  osu.Framework/Platform/GameHost.cs
  osu.Framework/Platform/IWindow.cs
Labels: type:code-quality, size/S

#6271 Use SDL3 screen saver functions to implement `AllowScreenSuspension`
  osu.Framework.Android/AndroidGameActivity.cs
  osu.Framework.iOS/IOSGameHost.cs
  osu.Framework/Platform/GameHost.cs
  osu.Framework/Platform/IWindow.cs
  osu.Framework/Platform/SDL3Window.cs
Labels: size/M, area:platform

#6268 Refactor `DisplayHandle` into seperate android and linux properties
  osu.Framework.Android/AndroidGameWindow.cs
  osu.Framework/Graphics/Veldrid/VeldridDevice.cs
  osu.Framework/Platform/IAndroidGraphicsSurface.cs
  osu.Framework/Platform/IGraphicsSurface.cs
  osu.Framework/Platform/ILinuxGraphicsSurface.cs
  osu.Framework/Platform/SDL/SDL3GraphicsSurface.cs
  osu.Framework/Platform/SDL3Window.cs
Labels: type:code-quality, platform:android, size/M
