Repository ppy/osu-framework, pull requests merged in 2024-12, with the labels that each got.

#6441 Document `CursorEffectContainer` and update outdated name
  osu.Framework/Graphics/Cursor/CursorEffectContainer.cs
Labels: area:input, type:documentation, size/S

#6264 Bring back borderless mode for macOS and Linux
  osu.Framework/Platform/SDL3/SDL3Extensions.cs
  osu.Framework/Platform/SDL3/SDL3Window.cs
  osu.Framework/Platform/SDL3/SDL3Window_Windowing.cs
Labels: platform:linux, platform:macOS, size/M

#6439 Add callback for when a submenu is opened
  osu.Framework/Graphics/UserInterface/Menu.cs
Labels: size/S

#6444 Fix Rider support of .globalconfig
  CodeAnalysis/osu-framework.globalconfig
  Directory.Build.props
  osu-framework.sln
Labels: type:code-quality, area:tooling, size/XS

#6443 Fix recent warnings seen on Rider 2024.3
  osu-framework.sln.DotSettings
  osu.Framework.Tests/Visual/Input/TestSceneKeyBindingContainer.cs
  osu.Framework.Tests/Visual/Input/TestSceneKeyBindingsGrid.cs
  osu.Framework/Configuration/FrameSync.cs
  osu.Framework/Configuration/RendererType.cs
  osu.Framework/Graphics/Drawable.cs
  osu.Framework/Graphics/Video/HardwareVideoDecoder.cs
  osu.Framework/Input/Bindings/InputKey.cs
  osu.Framework/Platform/Linux/Native/Library.cs
  osu.Framework/Platform/MacOS/Native/NSStringEncoding.cs
  osu.Framework/Platform/Windows/Native/Execution.cs
  osu.Framework/Platform/Windows/Native/Imm.cs
  osu.Framework/Platform/Windows/Native/Input.cs
  osu.Framework/Platform/Windows/SDL2WindowsWindow.cs
  osu.Framework/Platform/Windows/WindowsGLRenderer.cs
  osu.Framework/RuntimeInfo.cs
  osu.Framework/Statistics/DotNetRuntimeListener.cs
Labels: type:code-quality, size/L

#6442 Switch to using named pipes for IPC
  osu.Framework.Tests/Platform/HeadlessGameHostTest.cs
  osu.Framework.Tests/Platform/IPCTest.cs
  osu.Framework.Tests/Platform/UserInputManagerTest.cs
  osu.Framework/HostOptions.cs
  osu.Framework/Platform/DesktopGameHost.cs
  osu.Framework/Platform/GameHost.cs
  osu.Framework/Platform/IIpcHost.cs
  osu.Framework/Platform/IpcChannel.cs
  osu.Framework/Platform/NamedPipeIpcProvider.cs
Labels: size/XL, area:platform

#6433 Allow rewriting URL lookups in `OnlineStore`
  osu.Framework/Game.cs
  osu.Framework/IO/Stores/OnlineStore.cs
Labels: area:network, size/S

#6403 Prefer HDTV / Rec. 709 colorspace for videos with HD resolution and unspecified colorspace
  osu-framework.sln.DotSettings
  osu.Framework.Tests/Resources/Textures/h264-hd-screenshot.png
  osu.Framework.Tests/Resources/Textures/h264-screenshot.png
  osu.Framework.Tests/Resources/Videos/h264-hd.mp4
  osu.Framework.Tests/Visual/Sprites/TestSceneVideo.cs
  osu.Framework/Graphics/Video/VideoDecoder.cs
Labels: size/M, area:video

#6447 Fix unobserved exceptions on named pipe shutdown
  osu.Framework/Platform/NamedPipeIpcProvider.cs
Labels: size/XS, type:reliability

#6450 Improve `BindableList` performance + reduce allocations
  osu.Framework.Benchmarks/BenchmarkBindableList.cs
  osu.Framework/Bindables/BindableList.cs
Labels: type:performance, area:bindable, size/L

#6448 Add support for presenting/opening files on iOS
  osu.Framework.iOS/IOSFilePresenter.cs
  osu.Framework.iOS/IOSGameHost.cs
  osu.Framework.iOS/IOSWindow.cs
Labels: platform:iOS, size/M

#6452 Fix multiple instances of a game being allowed to start concurrently
  osu.Framework.Tests/Visual/Drawables/TestSceneDelayedLoadWrapper.cs
  osu.Framework/Platform/NamedPipeIpcProvider.cs
Labels: size/S, area:platform

#6457 Fix iOS audio session allowing other audio to mix
  osu.Framework.iOS/GameApplicationDelegate.cs
  osu.Framework/Audio/AudioManager.cs
Labels: area:audio, platform:iOS, size/XS

#6459 Fix disabling hold-to-right-click not cancelling in-progress actions
  osu.Framework.Tests/Visual/Input/TestSceneTouchInput.cs
  osu.Framework/Input/InputManager.cs
Labels: area:input, size/S

#6465 Bump OpenTabletDriver to 0.6.5.0
  osu.Framework/osu.Framework.csproj
Labels: area:tooling, size/XS

#6466 Fix `BindableList` methods crashing with non-`IList` collections
  osu.Framework.Tests/Bindables/BindableListTest.cs
  osu.Framework/Bindables/BindableList.cs
Labels: area:bindable, size/M

#6468 Implement getting OpenGL iOS main framebuffer on SDL3
  osu.Framework/Platform/SDL3/SDL3GraphicsSurface.cs
Labels: platform:iOS, size/S, area:platform

#6470 Use Accelerate framework for texture image processing on iOS and fix premultiplication issues
  osu.Framework.Tests/Visual/Graphics/TestSceneTexturePremultiplication.cs
  osu.Framework.iOS/Graphics/Textures/IOSTextureLoaderStore.cs
Labels: platform:iOS, size/L

#6471 Shave allocation overheads in recent iOS texture loading code
  osu.Framework.iOS/Graphics/Textures/IOSTextureLoaderStore.cs
Labels: type:performance, platform:iOS, size/S

#6473 FFmpeg build: Use macos-13 CI image
  .github/workflows/build-ffmpeg.yml
Labels: size/XS
