Repository ppy/osu-framework, pull requests merged in 2025-06, with the labels that each got.

#6585 Fix passthrough input manager so that it works again with game-side usages
  osu.Framework/Input/PassThroughInputManager.cs
Labels: area:input, size/XS

#6594 Rewrite `TestCaseSource` attribute implementation to fix edge cases
  osu.Framework.Tests/Visual/Testing/TestSceneTestWithSource.cs
  osu.Framework/Testing/TestBrowser.cs
Labels: type:testing, size/M

#6598 Preserve weight and italics when falling back to other fonts in text rendering
  osu.Framework.Tests/Text/TextBuilderTest.cs
  osu.Framework/Graphics/Sprites/FontUsage.cs
  osu.Framework/IO/Stores/FontStore.cs
  osu.Framework/Text/ITexturedGlyphLookupStore.cs
  osu.Framework/Text/TextBuilder.cs
Labels: size/L, area:fonts
