Repository ppy/osu-framework, pull requests merged in 2025-08, with the labels that each got.

#6623 Force Xcode 16.4 on CI
  .github/workflows/ci.yml
  .github/workflows/deploy-pack.yml
Labels: area:tooling, size/S

#6626 Fix decoupling clock drifting during decoupled mode execution
  osu.Framework.Tests/Clocks/DecouplingFramedClockTest.cs
  osu.Framework.Tests/Clocks/InterpolatingFramedClockTest.cs
  osu.Framework/Timing/DecouplingFramedClock.cs
Labels: area:clocks, size/M

#6627 Fix interpolating clocks' drift recovery being frame rate dependent
  osu.Framework/Timing/InterpolatingFramedClock.cs
Labels: area:clocks, size/S

#6603 Improve `Path` vertex distribution by merging segments within the same line
  osu.Framework/Graphics/Lines/Path_DrawNode.cs
Labels: type:performance, area:graphics, size/L
