Repository ppy/osu-framework, pull requests merged in 2025-07, with the labels that each got.

#6605 Use test clock as reference for decoupling clock
  osu.Framework/Development/DebugUtils.cs
  osu.Framework/Platform/HeadlessGameHost.cs
  osu.Framework/Timing/DecouplingFramedClock.cs
Labels: type:testing, size/M

#6608 Fix `DecouplingFramedClock` not starting source in edge case scenario
  osu.Framework.Tests/Clocks/DecouplingFramedClockTest.cs
  osu.Framework/Timing/DecouplingFramedClock.cs
Labels: area:clocks, size/M

#6609 Work around subnormal floats being flushed to zero
  osu.Framework/Bindables/BindableNumber.cs
Labels: area:bindable, size/XS

#6611 Update veldrid
  osu.Framework/osu.Framework.csproj
Labels: size/XS, dependencies

#6615 Gracefully handle errors when retrieving track position
  osu.Framework/Audio/Track/TrackBass.cs
Labels: area:audio, size/XS, platform:windows

#6617 Remove iOS workload rollbacks
  .github/workflows/ci.yml
  .github/workflows/deploy-pack.yml
  workloads.json
Labels: area:tooling, size/S
